<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:w="client">
    <zscript><![CDATA[
    String selectedPosition = "after_start";
]]></zscript>
    <div id="pag_Infor" class="col-md-12"  sclass="page-content" apply="siscon.controller.PMZonalProrrogadasController">
                
        <div class="row" >
            <div class="col-md-12">
                <div class="panel panel-default" id="prin_cont" style="padding-top:2px; border:normal; padding:0;">
                    <grid id="grd_GridInfor"  emptyMessage="Sin condonaciones prorrogadas." 
                          mold="paging" pageSize="10" 
                          class="domain table table-striped table-bordered table-hover table-responsive"
                          Style="min-width:400px;position:relative">
                        <auxhead sclass="category-center" >
                            <auxheader align="center" iconSclass="z-icon-pause" label="Condonaciones prorrogadas" colspan="11" rowspan="1" style="color: #669FC7 !important;line-height: 32px;font-size: 18px;" />
                        </auxhead>
                        <auxhead sclass="category-center">
                            <auxheader colspan="11" rowspan="1" >
                                <div class="col-md-12">
                                    <div class="row">
                                        <hbox width="100%" pack="center">
                                            <div class="input-group">
                                                <textbox id="txt_filtra" width="230px" class="form-control pnl-info" placeholder="Buscar ..."/>
                                                <span id="btn_search" class="z-icon-search input-group-addon btn btn-info" style="class: z-icon-search"> 
                                                </span>
                                            </div>
                                        </hbox>
                                    </div>
                                </div>
                            </auxheader>
                        </auxhead>
                        <auxhead>
                            <auxheader align="center" label="Datos condonación" colspan="7" />
                            <auxheader align="center" label="Montos totales" colspan="3" />
                            <auxheader align="center" label="" colspan="1" >
                                <bandbox id="bd_filtra" width="100px" autodrop="true" sclass="input-prepend" class="btn-block pnl-success" 
                                         readonly="true" placeholder="Columnas" style=" color : black !important; font-weight : bold"
                                         w:getIconClass_="function() {return 'z-icon-caret-down'}">
                                    <bandpopup width="${bd_filtra.getWidth()}">
                                        <panel>
                                            <panelchildren>
                                                <listbox id="lts_Columnas" height="100%"
                                                         style="background:white;"
                                                         checkmark="true" multiple="true">
                                                </listbox>
                                            </panelchildren>
                                        </panel>
                                    </bandpopup>
                                </bandbox>
                            </auxheader>
                        </auxhead>
                        <columns>
                            <column            label="Det."     width="40px"  />
                            <column sort="auto(cedente)"    width="80px"     align="center" label="Cedente"/>
                            <column sort="auto(Id_condonacion)"    width="50px"     align="center" label="ID"/>
                            <column sort="auto(RutcCliente)"        hflex="1"    align="center" label="Rut Cliente"/>
                            <column sort="auto(fec_prorroga)"       sortDirection="descending"     hflex="1"   align="center" label="Fecha rechazo"/>
                            <column sort="auto(tipo_prorroga)"             hflex="1"    align="center" label="Motivo prorroga."/>
                            <column sort="auto(Estado)"             hflex="1"    align="center" label="Estado Prorroga."/>
                            <column sort="auto(Monto_total_capitalS)" hflex="1"   align="center" label="Capital"/>
                            <column sort="auto(Monto_total_condonadoS)" hflex="1" align="center" label="Condonado"/>
                            <column sort="auto(Monto_total_recibitS)" hflex="1"  align="center" label="Recibido"/>
                            <column label="Mostrar"                 width="120px"    align="center"/>
                        </columns>
                        <template name="model">
                            <row value="${each}">
                                <detail open="false" sclass="panel-primary">
                                
                                    <hlayout>
                                        <vlayout>
                                            <label value="Detalle Operación" style=" color : #428bca !important; font-weight : bold ; font-size:19px;"  />
                                            <hlayout>
                                                <label value="Rut Condonador:" style=" color : black !important; font-weight : bold"/>
                                                <label value="${each.getUsuariocondona()}" sclass="heavy" />
                                            </hlayout>
                                            <hlayout>
                                                <label value="Regla Atrib.:" style=" color : black !important; font-weight : bold"/>
                                                <label value="${each.getRegla() }" sclass="heavy" />
                                            </hlayout>
                                            <hlayout>
                                                <label value="Glosa:" style=" color : black !important; font-weight : bold"/>
                                                <label value="${each.getComentario_resna()}" sclass="heavy" />
                                            </hlayout>  
                                            <hlayout>
                                                <label value="Tipo Cond.:" style=" color : black !important; font-weight : bold"/>
                                                <label value="${each.getTipocondonacion()}" sclass="heavy" />
                                            </hlayout>   
                                            <hlayout>
                                                <label value="Num Oper(s):" style=" color : black !important; font-weight : bold"/>
                                                <label value="${each.getDi_num_opers()}" sclass="heavy" />
                                            </hlayout>                                       
                                        </vlayout>
                                    </hlayout>
                                
                                </detail>
                                <cell align="left">
                                    <label value="${each.getCedente()}"/>
                                </cell>
                                <cell align="center">
                                    <label value="${each.getId_condonacion()}"/>
                                </cell>
                                <cell align="left">
                                    <label value="${each.getFec_prorroga_Formateado()}"/>
                                </cell>
                                <cell align="left">
                                    <label value="${each.getRutcCliente()}"/>
                                </cell>
                                <cell align="left">
                                    <label value="${each.getTipo_prorroga()}"/>
                                </cell>
                                <cell align="left">
                                    <label value="${each.getEstado()}"/>
                                </cell>
                                <cell align="right">
                                    <label value="${each.getMonto_total_capitalS()}"/>
                                </cell>
                                <cell align="right">
                                    <label value="${each.getMonto_total_condonadoS()}"/>
                                </cell>
                                <cell align="right">
                                    <label value="${each.getMonto_total_recibitS()}"/>
                                </cell>
                                        
                                <custom-attributes callback="id_condonacion=${each.getId_condonacion()},rut=${each.getUsuariocondona()}" composite="list"/>
                                <custom-attributes callback2="${each.getId_condonacion()}"/>
                
                                <cell align="center">
                                    <button label="Mostrar" iconSclass="z-icon-eye" onClick="pag_Infor$composer.MostrarCondonacion(callback)" sclass="btn btn-sm btn-info btn_block" visible="true"  />
                                </cell>
                                        
                            </row>
                        </template>
                    </grid>
                </div>
            </div>
        </div>
    </div>
</zk>
