<?link  rel="stylesheet" type="text/css" href="${request.contextPath}/bootstrap.css"?> 
<!-- Google Open Sans font -->   
<!-- Load fonts from local -->
<?link href="${request.contextPath}/fonts.css" rel="stylesheet" type="text/css"?>

<?link href="${request.contextPath}/responsive.css" rel="stylesheet" type="text/css" media="screen"?>
<?link href="${request.contextPath}/index.css.dsp" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/bootstrap.min.css" rel="stylesheet"?>

<!-- MetisMenu CSS -->
<?link href="${request.contextPath}/metisMenu/metisMenu.min.css" rel="stylesheet"?>

<!-- Custom CSS -->
<?link href="${request.contextPath}/sb-admin-2.css" rel="stylesheet"?>

<!-- Custom Fonts -->
<?link href="${request.contextPath}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"?>

<zk>
    <zscript><![CDATA[
    String selectedPosition = "before_start";
]]></zscript>
    <panel apply="siscon.controller.AnAprobadasController" sclass="panel-primary" border="normal">
        <caption iconSclass="z-icon-inbox" label="Condonaciones Aprobadas"/>
        <panelchildren>
            <grid id="BanEntrAnalista" emptyMessage="Nothing in Inbox." mold="paging" pageSize="5">
                <columns>
                    <column label=" " width="40px"/>
                    <column label="ID"/>
                    <column label="Fecha"/>
                    <column label="Tot. Capital"/>
                    <column label="Tot. Condonado"/>
                    <column label="Tot. Recibido"/>
                    <column label="Rut Condonador"/>
                </columns>
                <template name="model">
                    <row value="${each}" popup="detail_${each.getId_condonacion()}, position=end_before" style="cursor:pointer">
                        <detail open="false" sclass="panel-primary">
            
                            <hlayout>
                                <vlayout>
                                    <label value="Detalle Operaci&#243;n" style=" color : #428bca !important; font-weight : bold ; font-size:19px;"  />
                                    <hlayout>
                                        <label value="Regla:" style=" color : black !important; font-weight : bold"/>
                                        <label value="${each.getRegla()}" sclass="heavy" />
                                    </hlayout>
                                    <hlayout>
                                        <label value="Estado:" style=" color : black !important; font-weight : bold"/>
                                        <label value="${each.getEstado()}" sclass="heavy" />
                                    </hlayout> 
                                    <hlayout>
                                        <label value="Comentario:" style=" color : black !important; font-weight : bold"/>
                                        <label value="${ach.getComentario_resna()}" sclass="heavy" />
                                    </hlayout>    
                                    <hlayout>
                                        <label value="Nro Operaciones:" style=" color : black !important; font-weight : bold"/>
                                        <label value="${each.getDi_num_opers()}" sclass="heavy" />
                                    </hlayout>   
                                    <hlayout>
                                        <label value="Tipo Cond :" style=" color : black !important; font-weight : bold"/>
                                        <label value="${each.getTipocondonacion()}" sclass="heavy" />
                                    </hlayout>                                                                                               
                                </vlayout>
                            </hlayout>
                        </detail>
                        <label value="${each.getId_condonacion()}"/>
                        <label value="${each.getTimestap()}"/>
                        <label value="${each.getMonto_total_capitalS()}"/>
                        <label value="${each.getMonto_total_condonadoS()}"/>
                        <label value="${each.getMonto_total_recibitS()}"/>
                        <label value="${each.getUsuariocondona()}"/>
                    </row>
                </template>
            </grid>
        </panelchildren>
    </panel>

    
</zk>
