<?xml version="1.0" encoding="UTF-8"?>
<zk>
    <window title="Nest Template" border="normal"
        apply="sisboj.Vistas.controlesGenerales.PanelIndiController">
        <!--viewModel="@id('vm') @init('sisboj.Vistas.controlesGenerales.PanelIndiController')"-->
        <!--<listbox id="listb" model="@load(vm.oper)">-->
        <listbox id="listb">
            <!--<listhead children="@load(vm.colTitle)">
                <template name="children" var="title">
                    <listheader label="@load(title)" />
                </template>
            </listhead>
            <template name="model" var="bean">
                <listitem children="@load(vm.colTitle)  @template(forEachStatus.index lt 1 ? 'fixed' : 'variable')">
                    <template name="fixed">
                        <listcell label="@load(bean.title)" />
                    </template>
                    <template name="variable">
                        <listcell>
                                <checkbox checked="@load(bean.states[forEachStatus.index - 1])"
                                        label="@load(bean.states[forEachStatus.index - 1] ? 'true' : 'false')"
                                        onCheck="@command('onCheckState', bean=bean, state=self.isChecked(), index=forEachStatus.index - 1)" />
                        </listcell>
                    </template>
                </listitem>
            </template>-->
        </listbox>
        Checked: <label value="@load(vm.checkedBean)" />
    </window>
</zk>