<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <window id="win_sodexo" apply="Vistas.controlesGenerales.Contabilidad.Sodexo.Conta_ExportaLicenciayAusentismo">
        <style>
            .z-row-background-color-on-select,
            .z-row-background-color-on-select > .z-row-inner,
            .z-row-background-color-on-select > .z-cell {
            background-color: #FFCC00 !important;
            }
                    
            .z-row-background-color-off-select,
            .z-row-background-color-off-select > .z-row-inner,
            .z-row-background-color-off-select > .z-cell {
            background-color: #FFCC00 !important;
            }   
        
            .StyleColumn{
            font-family: 'Open Sans';
            font-size: 13px;color: #707070;
            font-weight: bold;
            }

            /**Center + Mask Busy**/

            #zk_showBusy {
            visibility: inherit;
            }
            #zk_showBusy-m{
            
            left: 0px; top: 0px; z-index: 30999; width: 816px; height: 766px;
            }
            #zk_showBusy-t{
            
            left: 342px; top: 317px;
            
            }       
            .z-loading-indicator, .z-apply-loading-indicator {
            color: #363636;
            border: 0px solid transparent;
            background: transparent;
            white-space: nowrap;
            }
     
            .z-loading, .z-apply-loading {
            border: 0px solid #cfcfcf;
            padding: 0px;
            background: transparent;
            position: absolute;
            cursor: wait;
            white-space: nowrap;
            left:300px;
            top:300px
            }
       
            #zk_proc-t{
            
            left: 342px; 
            top: 317px;
           
            }       
         
            #zk_proc {
            left: 342px; 
            top: 317px;
            
            }        
            .z-apply-loading-icon,.z-loading-icon,    
            .z-renderdefer {
            border: 16px solid #6fb3e0;
            border-radius: 50%;
            border-top: 16px solid #87b87f;
            border-right: 16px solid #ffb752;
            border-bottom: 16px solid #d15b47;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            background-image:url('https://bci.modyocdn.com/uploads/330839ea-750e-449a-af59-351b499bc242/original/AmarilloPose.png');
            background-size: 90px 90px;
            background-repeat: no-repeat;
            }

            @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
            }

      
        </style>
        <separator orient="horizontal" spacing="4px" /> 
        <div class="row" >   
                    
            <div class="col-md-12 col-sm-12 col-xs-12" align="left" >
                <button label="GENERAR INFORMACION" id="btn_descargar0" class="btn btn-success" >
                </button>
                <separator orient="horizontal" spacing="10px" />
                <label id="" value="Seleccione la opción para descargar LICENCIAS: " style="font-weight:bold;"/> 
                <separator orient="vertical" spacing="3px" /> 
                <button label="DESCARGAR ARCHIVO XLSX" id="btn_descargar" class="btn btn-success" >
                </button>
                <separator orient="horizontal" spacing="6px" />
                <label id="" value="Seleccione la opción para descargar VACACIONES: " style="font-weight:bold;"/> 
                <separator orient="vertical" spacing="3px" /> 
                <button label="DESCARGAR ARCHIVO XLSX" id="btn_descargar1" class="btn btn-success" >
                </button>
                <separator orient="horizontal" spacing="6px" />
                <label id="" value="Seleccione la opción para descargar PERMISOS: " style="font-weight:bold;"/> 
                <separator orient="vertical" spacing="3px" /> 
                <button label="DESCARGAR ARCHIVO XLSX" id="btn_descargar2" class="btn btn-success" >
                </button>
           
            </div>
        
          
        </div>
     
        
        <separator orient="horizontal" spacing="16px" />
        
  
        
        
    </window>
</zk>
