<div sclass="breadcrumbs">
	<div sclass="breadcrumb">
		<span sclass="home-icon z-icon-home"/>
    <a label="Home" href="#"/>
		<label value="Menu"/>
	</div>
  <!-- Search input-->
	<div sclass="nav-search">
		<bandbox placeholder="Search ..." sclass="input-prepend"/>
	</div>
</div>	