<div  id ="divnav" style="background: #999966" sclass="navbar"  apply="siscon.layout.NavbarComposer">
    <!-- Brand Logo -->

        <image src="${request.contextPath}/normaliza.svg" sclass="pull-left" style="width:40px;height:40px;" ></image>
	<a label="SIS-CON normaliza"  sclass="pull-left navbar-brand"/>
	<!-- Navbar --> 
	<hlayout sclass="nav-user pull-right" spacing="0"> 
    <!--
           <button type="button" class="btn-success" iconSclass="z-icon-signal">SisBoj</button>
           <button type="button" class="btn-warning" iconSclass="z-icon-group">SisCon</button>
           <button type="button" class="btn-danger" iconSclass="z-icon-cogs">SisRene</button>
           <button type="button" class="btn-info" iconSclass="z-icon-pencil">SisRef</button>

			
     		<a id="sisboj" iconSclass="z-icon-tasks"  sclass="red">
			<label value="sisboj" />
		</a>
                
        -->
                
        <a id="atask" iconSclass="z-icon-tasks" popup="taskpp, position=after_end, type=toggle" sclass="grey">
			
        </a>
        <a id="anoti" iconSclass="z-icon-bell" popup="notipp, position=after_end, type=toggle" sclass="purple">
            <label value="8" sclass="badge badge-important"/>
        </a>
        <a id="amsg" iconSclass="z-icon-envelope" popup="msgpp, position=after_end, type=toggle" sclass="green">
            <label value="5" sclass="badge badge-success"/>
        </a>
        <!-- User menu -->
        <menubar sclass="user-menu light-blue" apply="sisboj.esencial.LogoutController">
            <menu tooltiptext="Eric" label="Bienvenido, Eric" image="${request.contextPath}/user.jpg"> 
                <menupopup>
                    <menuitem label="Settings" iconSclass="z-icon-cog"/>
                    <menuitem label="Profile" iconSclass="z-icon-user"/>
                    <menuseparator/>
                    <menuitem id="logout" label="Logout" iconSclass="z-icon-off"/>
                </menupopup>
            </menu>
        </menubar>
    </hlayout>
    <!-- Popups of navbar -->
    <popup id="taskpp" sclass="menu" width="240px">
        <a label="4 Tasks to complete" sclass="header" iconSclass="z-icon-check"/>
        <vlayout spacing="0">
            <a href="#">
                <div>
                    <label class="pull-left" value="Software Update"/>
                    <label class="pull-right" value="65%"/>
                </div>
                <progressmeter value="65" width="100%"/>
            </a>
            <a href="#">
                <div>
                    <label class="pull-left" value="Hardware Upgrade"/>
                    <label class="pull-right" value="35%"/>
                </div>
                <progressmeter value="35" width="100%" sclass="progressmeter-danger"/>
            </a>
            <a href="#">
                <div>
                    <label class="pull-left" value="Unit Testing"/>
                    <label class="pull-right" value="15%"/>
                </div>
                <progressmeter value="15" width="100%" sclass="progressmeter-warning"/>
            </a>
            <a href="#">
                <div>
                    <label class="pull-left" value="Bug Fixes"/>
                    <label class="pull-right" value="90%"/>
                </div>
                <progressmeter value="90" width="100%" sclass="progressmeter-success striped active"/>
            </a>
            <a label="See tasks with details" href="#">
                <span class="z-icon-arrow-right"/>
            </a>
        </vlayout>
    </popup>
    <popup id="notipp" sclass="menu menu-pink" width="240px">
        <a label="8 Notifications" sclass="header" iconSclass="z-icon-exclamation-triangle"/>
        <vlayout spacing="0">
            <a iconSclass="btn btn-xs no-hover btn-pink z-icon-comment" href="#">
                <label>New Comments</label>
                <label value="+12" class="badge badge-info pull-right"/>
            </a>
            <a iconSclass="btn btn-xs no-hover btn-primary z-icon-user" href="#">
                <label>Bob just signed up as an editor ...</label>
            </a>
            <a iconSclass="btn btn-xs no-hover btn-success z-icon-shopping-cart" href="#">
                <label>New Orders</label>
                <label value="+8" class="badge badge-info pull-right"/>
            </a>
            <a iconSclass="btn btn-xs no-hover btn-info z-icon-twitter" href="#">
                <label>Followers</label>
                <label value="+11" class="badge badge-info pull-right"/>
            </a>
            <a label="See all notifications" href="#">
                <span class="z-icon-arrow-right"/>
            </a>
        </vlayout>
    </popup>
    <popup id="msgpp" sclass="menu" width="240px">
        <a label="5 Messages" sclass="header" iconSclass="z-icon-envelope-o"/>
        <vlayout spacing="0">
            <a href="#">
                <image tooltiptext="Alex's Avatar" src="assets/avatars/avatar.png" sclass="msg-photo"/>
                <span sclass="msg-body">
                    <span sclass="msg-title">
                        <label value="Alex:" sclass="blue"/>
                        Ciao sociis natoque penatibus et auctor ...
                    </span>
                    <span sclass="msg-time">
                        <span class="z-icon-clock-o"/>a moment ago</span>
                </span>
            </a>
            <a href="#">
                <image tooltiptext="Susan's Avatar" src="assets/avatars/avatar3.png" sclass="msg-photo"/>
                <span class="msg-body">
                    <span class="msg-title">
                        <label value="Susan:" sclass="blue"/>
                        Vestibulum id ligula porta felis euismod ...
                    </span>
                    <span sclass="msg-time">
                        <span class="z-icon-clock-o"/>20 minutes ago</span>
                </span>
            </a>
            <a href="#">
                <image tooltiptext="Bob's Avatar" src="assets/avatars/avatar4.png" sclass="msg-photo"/>
                <span class="msg-body">
                    <span class="msg-title">
                        <label value="Bob:" sclass="blue"/>
                        Nullam quis risus eget urna mollis ornare ...
                    </span>
                    <span sclass="msg-time">
                        <span class="z-icon-clock-o"/>3:15 pm</span>
                </span>
            </a>
            <a label="See all messages" href="#">
                <span class="z-icon-arrow-right"/>
            </a>
        </vlayout>
    </popup>
</div>