<window  id="id_poput_reparo"  width="80%" border="normal"     apply="siscon.controller.PoputReparos">
    <grid model="${arg.orderItems}" mold="paging" pageSize="6">
        <columns>
            <column label=" " width="40px"  />
            <column label="ID Reparo" align="center" />
            <column label="Motivo Reparo" align="center" />
            <column label="Glosa Reparo" align="center" />
            <column label="Fecha" align="center" />
            <column label="Usuario" align="center" />
            <column label="Adjuntar dcto." align="center" />
        </columns>
        <template name="model">
            <row>
                <detail open="false" sclass="panel-primary">
            
                    <hlayout>
                        <image sclass="myimg" width="100px" height="100px"
                               src="https://bci.modyocdn.com/uploads/330839ea-750e-449a-af59-351b499bc242/original/AmarilloPose.png" />
                        <vlayout>
                            <label value="Detalle De Reparos" sclass="heavy-italic" />
                            <hlayout>
                                <label value="Id de Reparo:" />
                                <label value="${each.getDi_idReparo()}" sclass="heavy" />
                            </hlayout>
                           <hlayout>
                                <label value="Detalle Glosa Reparo:" />
                               <!-- <label  style="color: red; overflow: hidden; text-overflow: ellipsis; display: block; width:inherit; white-space: nowrap;" value="${each.getDv_GlosaReparo()}" sclass="heavy" />-->
                                <textbox width="500px" height="400px" readonly="true" multiline ="true"  value="${each.getDv_GlosaReparo()}"/>
                           </hlayout>
                        </vlayout>
                    </hlayout>
            
            
                </detail>
                <label value="${each.getDi_idReparo()}" />
                <label value="${each.getDv_MotivoReparo()}" />
                <label value="${each.getDv_GlosaReparo()}" />
                <label value="${each.getFecha_reparo()}" />
                <label value="${each.getUsuario()}" />
                <custom-attributes callback="id_Reparo=${each.getDi_idReparo()}" composite="list"/>
                 
                <zk if="${each.getCodArea()=='EJESICON'}">
                    <zk if="${each.getCunetaOrigen()=='ANSICON'}">
                        <!--<zk if="id_poput_reparo$composer.TTTT == 'EJESICON'">-->
                        <button label="Ver adjuntos" iconSclass="z-icon-mail-forward" onClick="id_poput_reparo$composer.Adjuntar2(callback)" sclass="btn btn-sm btn-success" visible="true"  />
               
                        <!--</zk>-->
                    </zk>
                    <zk if="${each.getCunetaOrigen()=='EJESICON'}">
                        <button label="Documentos" iconSclass="z-icon-mail-forward" onClick="id_poput_reparo$composer.Adjuntar(callback)" sclass="btn btn-sm btn-success" visible="true"  />
                    </zk>              
                </zk>
     
            </row>
        </template>
    </grid>
    
    <separator sclass="double16" bar="true"/>
    <hbox width="100%" pack="right">
        <hlayout >
            <vlayout>
            
                <hlayout>
                    <label value="Numero de Condonaci&#243;n:" />
                    <label id="lbl_idCondonacion" value="${arg.id_condonacion}"  style=" color : green !important;" />
                </hlayout>
            </vlayout>
        </hlayout>
    </hbox>
    <hbox width="100%" pack="center">
        <button id="btn_closeButton2" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-primary" label="Close" visible="false" />
        <button id="btn_closeButton3" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-primary" label="Close" />
    </hbox>
</window>