<?xml version="1.0" encoding="UTF-8"?>
<?init class="sisboj.Negocio.MetAndFun.InicializaPermisos"?> 
<window id="wnd_SolMan" apply="sisboj.Vistas.controlesGenerales.GenSolManController">
    <style>
        .z-row-background-color-on-select,
        .z-row-background-color-on-select > .z-row-inner,
        .z-row-background-color-on-select > .z-cell {
        background-color: #FFCC00 !important;
        }                       
        .z-row-background-color-off-select,
        .z-row-background-color-off-select > .z-row-inner,
        .z-row-background-color-off-select > .z-cell {
        background-color: #FFCC00 !important;
        }   
        .btn-circle.btn-xs {
        width: 25px;
        height: 25px;
        text-align: center;
        padding: 0 0;
        font-size: 16px;
        font-weight:bold;
        line-height: 1.428571429;
        border-radius: 15px;
        }
        .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 5px 0;
        font-size: 13px;
        line-height: 1.428571429;
        border-radius: 15px;
        }
        .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
        }
        .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;
        }
        .btn-circle.btn-xxl {
        width: 140px;
        height: 140px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 70px;
        }
        .activo {
        color: green;
        }
        .inActivo {
        color: #D7DF01;
        }
        .noActivo {
        color: red;
        }
        
        .stroke {
        margin: 20px;
        padding: 20px;
        text-align:center; 
        color: #FCDB00;
        font-family: Arial Black;
        font-size: 1.2em;
        letter-spacing: 4px;
        text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
        }
    </style>
    <div class="panel panel-primary">
        <div class="panel-heading" height="30px">
            <div id="BandejaEntradaBov" sclass="panel-title" style="margin-top:-8px;">
                <div class="row">
                    <div class="col-md-6">
                        <span sclass="z-icon-windows"/>
                        <label value="Solicitud documental a custodias."/>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body" >
            <div >
                <div class="row" align="center">
                    <div class="col-md-4" align="center">
                    </div> 
                    <div class="col-md-4" align="center"> 
                        <div class="row" align="center" height="30px">
                            <div class=" col-md-5" align="left">  
                                <label value="N° solicitud:"/>   
                            </div>
                            <div class=" col-md-7" align="left">     
                                <textbox width="80px" disabled="true"/>
                            </div>
                        </div>
                        <div class="row" align="center" height="30px">
                            <div class=" col-md-5" align="left">  
                                <label value="Usuario:"/>   
                            </div>
                            <div class=" col-md-7" align="left">     
                                <textbox width="80px" disabled="true"/>
                            </div>
                        </div>
                        <div class="row" align="center" height="30px">
                            <div class="col-md-5" align="left">  
                                <label value="N° clientes cargados:"/>   
                            </div>
                            <div class="col-md-7" align="left">     
                                <textbox width="80px" disabled="true"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" align="center">
                    </div> 
                </div>
                    
                <separator/>
                <div style="padding-top:2px; border:normal; padding:0;overflow-x:scroll;" class="panel-body panel panel-default">
                    <!--<grid id="grid_Dctos" class="domain" sizedByContent="true" emptyMessage="Nothing in Inbox." mold="paging" pageSize="10" >-->
                    <grid id="grd_OperMan" class="domain table table-striped table-bordered table-hover" 
                          Style="min-width:400px;max-height:400px;position:relative" emptyMessage="No existen registros de solicitud." >
                        <auxhead>
                            <auxheader align="center" colspan="7" style="background-color: #dff0d8;">
                                
                                <div class="col-md-11">
                                    <label value="Solicitudes Manuales" />
                                </div>
                                <div class="col-md-1">
                                    <!--<button id="btn_AddReg" style="padding: 0px 0px 0px 0px;" iconSclass="z-icon-question" width="25px" height="25px" sclass="btn btn-success  btn-sm"/>-->
                                    <button id="btn_AddOper" label="+" class="btn btn-success btn-circle btn-xs"/>
                                </div>
                            </auxheader>
                        </auxhead>
                        <columns style="background-color: #dff0d8;">
                            <column align="center"  width="30px">
                                <checkbox id="chk_AllOper" label=""/>
                            </column>
                            <column label="Id" align="center"  width="30px"/>
                            <column label="Rut cliente" align="center" style="min-width:100px" width="100px"/>
                            <column label="Producto" align="center" style="min-width:100px" width="100px"/>
                            <column label="Operación original" align="center" style="min-width:130px" width="50%"/>
                            <column label="Cod. unico" align="center" style="min-width:40px" width="100px"/>
                            <column label="Fecha de curse" align="center" style="min-width:40px" width="100px"/>
                        </columns>
                        <rows style="border:normal">
                            <template name="model">
                                <row value="${each}" >
                                    <cell>
                                        <label value="${each.di_IdReparo}"/>
                                    </cell>
                                    <cell align="left">
                                        <label value="${each.dv_CodReparo}"/> 
                                    </cell>
                                    <cell align="left">
                                        <label value="${each.dv_DescReparo}"/>
                                    </cell>
                                    <cell align="center"> 
                                        <div  class="${each.class_Activo} fa-2x"/>
                                    </cell>
                                    <cell align="left"> 
                                        <label  value="${each.dv_fk_DetTipoReparo}"/>
                                    </cell>
                                </row>
                            </template>
                        </rows>
                    </grid>
                </div>
            </div>
            <div class="row" align="center" style="">
                <hlayout >
                    <button id="btn_nuevo" sclass="btn btn-primary btn-sm " iconSclass="z-icon-plus">Nuevo</button>
                    <!--<separator/>
                    <button id="btn_cancelar" sclass="btn btn-danger btn-sm " iconSclass="z-icon-mail-forward">Cerrar</button>-->
                </hlayout>
            </div>
        </div>
    </div>  
</window>
