<?xml version="1.0" encoding="UTF-8"?> 
<?page id="CustBandPrin" ?>
<?init class="config.InicializaPermisos"?>

<?link  rel="stylesheet" type="text/css" href="${request.contextPath}/bootstrap.css"?> 
<!-- Google Open Sans font -->   
<!-- Load fonts from local -->
<?link href="${request.contextPath}/fonts.css" rel="stylesheet" type="text/css"?>

<?link href="${request.contextPath}/responsive.css" rel="stylesheet" type="text/css" media="screen"?>
<?link href="${request.contextPath}/index.css.dsp" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/bootstrap.min.css" rel="stylesheet"?>

<!-- MetisMenu CSS -->
<?link href="${request.contextPath}/metisMenu/metisMenu.min.css" rel="stylesheet"?>

<!-- Custom CSS -->
<?link href="${request.contextPath}/sb-admin-2.css" rel="stylesheet"?>

<!-- Custom Fonts -->
<?link href="${request.contextPath}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"?>

<window viewModel="@id('vm') @init('sisboj.controller.TblHitosController')" xmlns:h="xhtml">
    <zscript>
<![CDATA[
import org.zkoss.zul.ext.Pageable;

    List model = new ListModelList(Locale.getAvailableLocales());
    public void next(){
    int activePage = ((Pageable)model).getActivePage();
    ((Pageable)model).setActivePage(activePage + 1);
    }

    public void previous(){
    int activePage = ((Pageable)model).getActivePage();
    if (--activePage < 0 ){
    activePage = 0;
    }
    ((Pageable)model).setActivePage(activePage);
    }
   
    
    limpiarFiltros(){ 
        fIni.setText("");                  
        fFin.setText("");                  
        txtNOp.setValue("");                
        txtRut.setValue("");                  
        txtNOF.setValue("");       
        txtDMI.setValue("");          
        txtDMF.setValue("");
        txtNSol.setValue("");
        /*          
       comboRegion.SelectedIndex(-1);
        comboUbicacion.SelectedIndex(-1);        
        comboOficinas.SelectedIndex(-1);
        comboBanca.SelectedIndex(-1);
        CBProd.SelectedIndex(-1);
        */
      
       
    }
]]>
       
    </zscript>
    <style>
        .z-row-background-color-on-select,
        .z-row-background-color-on-select > .z-row-inner,
        .z-row-background-color-on-select > .z-cell {
        background-color: #FFCC00 !important;
        }
                    
        .z-row-background-color-off-select,
        .z-row-background-color-off-select > .z-row-inner,
        .z-row-background-color-off-select > .z-cell {
        background-color: #FFCC00 !important;
        }   
    </style>
    <!-- 
    <div class="panel-heading">
        <div id="BandejaEntradaCust" sclass="panel-title" class="alert alert-info">
            <span sclass="${Icono}" />
            <label value="Hitos"/>
        </div>
    </div>
    -->
    <panel collapsible="true" sclass="panel-primary" border="none">
        <caption iconSclass="z-icon-inbox" label="Filtros Bandeja de Entrada Hitos"/>      
        <panelchildren>
            <vlayout hflex="1" >
                <tablelayout columns="1">
                    <tablechildren rowspan="1">
                        <!--  <panel height="40px">
                        <panelchildren>                                                  -->
                        <!-- Filtro Fechas -->
                        <label value="Fecha Ejecución Inicio: " />
                        <datebox id="fIni" format="yyyy-MM-dd" class="input-group-block"/>&#160;&#160;&#160;&#160;                            
                        <label value="Fecha Ejecución Fin: "/>
                        <datebox id="fFin" format="yyyy-MM-dd" class="input-group-block"/>&#160;&#160;&#160;&#160; 

                        <!--COMBO FILTRO DIAS MORA INICIO -->
                        <label value="Días Mora Desde: "/>
                        <span sclass="z-icon-filter"/>
                        <textbox id="txtDMI" value="" width="50px" maxlength="3"/>&#160;&#160;&#160;&#160;

                        <!--COMBO FILTRO DIAS MORA FIN -->
                        <label value="Días Mora Hasta: "/>
                        <span sclass="z-icon-filter"/>
                        <textbox id="txtDMF" value="" width="50px" maxlength="3"/>&#160;&#160;&#160;&#160;   
                                
                        <!--FILTRO NUMERO OPERACION -->
                        <label value="N. Operación: "/>
                        <span sclass="z-icon-filter"/>
                        <textbox id="txtNOp" value="" />&#160;&#160;&#160;&#160;   

                        <!--COMBO FILTRO RUT -->
                        <label value="Rut: "/>
                        <span sclass="z-icon-filter"/>
                        <textbox id="txtRut" value="" maxlength="10" />&#160;&#160;&#160;&#160;                                              

                    </tablechildren>  
                </tablelayout> 
            
                <tablelayout columns="1">
                    <tablechildren rowspan="1">                      
                        <!--COMBO FILTRO UBICACION -->
                        
                        <label value="Ubicación: "/>
                        <span sclass="z-icon-filter"/>
                        <chosenbox id="comboUbicacion" style="width:340px; height:20px;"  model="@load(vm.listUbicacionTblHitos)" selectedObjects="@bind(vm.selectedObjects)" onChange="@command('filtrosDinamicos',fini = fIni,ffin = fFin, ofi= comboOficinas,reg = comboRegion,ban = comboBanca, txRut = txtRut, txtDMI =txtDMI, txtDMF = txtDMF,txtNOF=txtNOF, txtNOp=txtNOp, CBProd=CBProd)">
                            <template name="model" var="ubicac">
                                <label value="@bind(ubicac.ubicacion)" />
                            </template>
                        </chosenbox>
                        &#160;
                        <!--COMBO FILTRO OFICINA -->
                        <label value="Oficina: "/>
                        <span sclass="z-icon-filter"/>
                        <combobox name="comboOficinas" id="comboOficinas" model="@load(vm.listOficinasTblHitos)"
                                  autodrop="true" class="input-group-block" onChange="@command('filtrosDinamicos',fini = fIni,ffin = fFin, ofi= comboOficinas,reg = comboRegion,ban = comboBanca, txRut = txtRut, txtDMI =txtDMI, txtDMF = txtDMF,txtNOF=txtNOF, txtNOp=txtNOp, CBProd=CBProd)">
                            <template name="model">
                                <comboitem label="${each.getOficina()}" />
                            </template>
                        </combobox>

                        <!--COMBO FILTRO NUMERO OFICINA -->
                        <label value="Nro OF: "/>
                        <span sclass="z-icon-filter"/>
                        <textbox id="txtNOF" width="50px" maxlength="3" />

                        <!--COMBO FILTRO REGION -->
                        <label value="Región: "/>
                        <span sclass="z-icon-filter"/>
                        <combobox id="comboRegion" model="@load(vm.listRegionTblHitos)"
                                  autodrop="true" class="input-group-block" onChange="@command('filtrosDinamicos',fini = fIni,ffin = fFin, ofi= comboOficinas,reg = comboRegion,ban = comboBanca, txRut = txtRut, txtDMI =txtDMI, txtDMF = txtDMF,txtNOF=txtNOF, txtNOp=txtNOp, CBProd=CBProd)">
                            <template name="model">
                                <comboitem label="${each.getReg()}" />
                            </template>
                        </combobox>

                        <!--COMBO FILTRO BANCA -->
                        <label value="Banca: "/>
                        <span sclass="z-icon-filter"/>
                        <combobox id="comboBanca" model="@load(vm.listBancaTblHitos)"
                                  autodrop="true" class="input-group-block" onChange="@command('filtrosDinamicos',fini = fIni,ffin = fFin, ofi= comboOficinas,reg = comboRegion,ban = comboBanca, txRut = txtRut, txtDMI =txtDMI, txtDMF = txtDMF,txtNOF=txtNOF, txtNOp=txtNOp, CBProd=CBProd)">
                            <template name="model">
                                <comboitem label="${each.getBanca()}" />
                            </template>
                        </combobox>
                    </tablechildren>  
                </tablelayout> 
                <tablelayout columns="1">
                    <tablechildren rowspan="1"> 
                        <!--COMBO FILTRO PRODUCTO -->
                        <label value="Producto: "/>
                        <span sclass="z-icon-filter"/>
                        <combobox id="CBProd" model="@load(vm.listProductosTblHitos)"
                                  autodrop="true" class="input-group-block" onChange="@command('filtrosDinamicos',fini = fIni,ffin = fFin, ofi= comboOficinas,reg = comboRegion,ban = comboBanca, txRut = txtRut, txtDMI =txtDMI, txtDMF = txtDMF,txtNOF=txtNOF, txtNOp=txtNOp, CBProd=CBProd)">
                            <template name="model">
                                <comboitem label="${each.getProducto()}" />
                            </template>
                        </combobox>
                        &#160;&#160;
                        <!--FILTRO NUMERO OPERACION -->
                        <label value="N. Solicitud: "/>
                        <span sclass="z-icon-filter"/>
                        <textbox id="txtNSol" value="" />&#160;&#160;&#160;&#160;    
                        &#160;            
                        <button class="btn btn-xsm btn-success z-button" iconSclass="z-icon-trash-o" id="btnLimpiar" label="Limpiar filtros" onClick="limpiarFiltros()"/>
                        <!--<button class="btn btn-xsm btn-success z-button" iconSclass="z-icon-trash-o" id="btnLimpiar" label="Limpiar filtros" onClick="@command('limpiaFiltros')"/>-->
                        <!--                        <combobox id="labelHidd" visible="false" onChange="@command('limpiaFiltros')">
                            <comboitem label="uno"/>
                            <comboitem label="dos"/>
                        </combobox>-->
                        &#160;                        
                        <button class="btn btn-xsm btn-info z-button" iconSclass="z-icon-external-link" label="Exportar" onClick="@command('exportGridToExcel',gridList = gridExportId)"/>                                
                        &#160;
                        <button class="btn btn-xsm btn-info z-button" iconSclass="z-icon-search" id="btnBuscar" label="Buscar" onClick="@command('buscarConFiltros',fini = fIni,ffin = fFin, ofi= comboOficinas,reg = comboRegion,ban = comboBanca, txRut = txtRut, txtDMI =txtDMI, txtDMF = txtDMF,txtNOF=txtNOF, txtNOp=txtNOp, CBProd=CBProd,chkbxEstN=chkbxEstN,chkbxEstP=chkbxEstP,chkbxEstF=chkbxEstF,txtNSol=txtNSol)"/>
                    </tablechildren>  
                </tablelayout> 
            </vlayout>
        </panelchildren>
    </panel>
    <div class="panel panel-alert">
        <div class="panel-body panel panel-default" style="border:none;" >
            <div style="margin-top:10px; border:normal; padding:0;overflow-x:scroll;" class="panel-body panel panel-default " >
                <grid id="listGrid" model="@load(vm.listTblHitosListbox)" emptyMessage="No hay operaciones para mostrar." mold="paging" pageSize="14"  style="min-width:700px;" class="domain table">
                    <auxhead>
                        <auxheader label="Lista de Hitos" colspan="15" align="center"/>
                    </auxhead>
                    <auxhead>
                        <auxheader colspan="15" align="center">
                            <!--<grid id="gridEstados" model="@load(vm.cantEstadoOp)" emptyMessage="No hay operaciones para mostrar." mold="paging" pageSize="14"  style="min-width:700px;" class="domain table">-->
                            <grid id="gridEstados">
                                <!--<custom-attributes callback="${each.idDetSol}"/>-->
                                <columns>
                                    <column width="500"/>
                                    <column width="170">
                                        <span width="22px" height="12px" class="z-colorbox" style="background-color: #d9edf7; border-color: #bce8f1;"/>
                                        <label>NUEVAS (</label>
                                        <label value="@load(vm.cantEstadoOp.cantidadN)"/>
                                        <label>)</label>
                                        <checkbox id="chkbxEstN" class="custom-control-input" onClick="@command('buscarConFiltros',fini = fIni,ffin = fFin, ofi= comboOficinas,reg = comboRegion,ban = comboBanca, txRut = txtRut, txtDMI =txtDMI, txtDMF = txtDMF,txtNOF=txtNOF, txtNOp=txtNOp, CBProd=CBProd,chkbxEstN=chkbxEstN,chkbxEstP=chkbxEstP,chkbxEstF=chkbxEstF,txtNSol=txtNSol)"/>
                                        
                                    </column>
                                    <column width="200">
                                        <span width="22px" height="12px" class="z-colorbox" style="background-color: #fcf8e3;"/>
                                        <label>PENDIENTES (</label>
                                        <label value="@load(vm.cantEstadoOp.cantidadP)"/>
                                        <label>)</label>
                                        <checkbox id="chkbxEstP" class="custom-control-input" onClick="@command('buscarConFiltros',fini = fIni,ffin = fFin, ofi= comboOficinas,reg = comboRegion,ban = comboBanca, txRut = txtRut, txtDMI =txtDMI, txtDMF = txtDMF,txtNOF=txtNOF, txtNOp=txtNOp, CBProd=CBProd,chkbxEstN=chkbxEstN,chkbxEstP=chkbxEstP,chkbxEstF=chkbxEstF,txtNSol=txtNSol)"/>
                                    </column>
                                    <column>
                                        <span width="22px" height="12px" class="z-colorbox" style="background-color: #F1948A;"/>
                                        <label>FINALIZADAS (</label>
                                        <label value="@load(vm.cantEstadoOp.cantidadF)"/>
                                        <label>)</label>
                                        <checkbox id="chkbxEstF" class="custom-control-input" onClick="@command('buscarConFiltros',fini = fIni,ffin = fFin, ofi= comboOficinas,reg = comboRegion,ban = comboBanca, txRut = txtRut, txtDMI =txtDMI, txtDMF = txtDMF,txtNOF=txtNOF, txtNOp=txtNOp, CBProd=CBProd,chkbxEstN=chkbxEstN,chkbxEstP=chkbxEstP,chkbxEstF=chkbxEstF,txtNSol=txtNSol)"/>     
                                    </column>
                                </columns>
                                <rows  style="border:normal" class="tbody">
                                    <template name="model">
                                        <row>                                           
                                        </row>
                                    </template>
                                </rows>
                            </grid>
                        </auxheader>
                    </auxhead>
                    <columns>
                        <!-- <column width="3%" label="" valign="center" align="center"><checkbox id="selectAll"/></column>  -->                                
                        <column label="RUT" />
                        <column label="NOMBRE" />
                        <column label="OFICINA" />
                        <column label="N OF" />
                        <column label="UBICACION" />
                        <column label="REG" />
                        <column label="OP ORIG" />
                        <column label="OPERACION 2" />
                        <column label="BANCA" />
                        <column label="SOLICITUD" />
                        <column label="F. SOLICITUD" />
                        <column label="MONTO" />
                        <column label="DIAS MORA" />
                        <column label="ACELERADO" />
                        <column label="ESTADO" />                                 
                    </columns>
                    <rows  style="border:normal" class="tbody">
                        <template name="model">
                            <row popup="detail_${each.getOp_orig()}, position=at_pointer" style="cursor:pointer">
                                <!-- <checkbox id=""/>  -->
                                <div>
                                    <label value="${each.getRut_completo()}" />
                                    <popup id="detail_${each.getOp_orig()}">
                                        <include src="cargaHitos/PopUpInfoHitos.zul" />
                                    </popup>
                                </div>
                                <!-- Inicio pinta las celdas-->
                                <attribute name="style" if="${each.getEstado() == 'PENDIENTE'}">
                                    background-color: #fcf8e3; border-color: #faebcc;
                                </attribute>
                                <attribute name="style" if="${each.getEstado() == 'CON_SALIDA'}">
                                    background-color: #ec695a; border-color: #F1948A;
                                </attribute>
                                <attribute name="style" if="${each.getEstado() == 'NUEVO'}">
                                    background-color: #d9edf7; border-color: #bce8f1;
                                </attribute>
                                <!-- Fin pinta celdas -->       
                                                                                               
                                <label value="${each.getNombre()}" />
                                <label value="${each.getOficina()}"/>
                                <label value="${each.getN_of()}"/>
                                <label value="${each.getUbicacion()}"/>
                                <label value="${each.getReg()}"/>
                                <label value="${each.getOp_orig()}"/>
                                <label value="${each.getOperacion2()}"/>
                                <label value="${each.getNom_banca()}"/>
                                <label value="${each.getSolicitud()}"/>
                                <label value="${each.getFecha_ejecucion()}"/>
                                <label value="${each.getMontoS()}" />
                                <label value="${each.getDias_mora()}"/>
                                <zk if="${each.getAcelerado() == null}">
                                    <label value="S/I"/>
                                </zk>
                                <zk if="${each.getAcelerado()== 0}">
                                    <label value="No"/>
                                </zk>
                                <zk if="${each.getAcelerado()== 1}">
                                    <label value="Si"/>
                                </zk>
                                <label value="${each.getEstado()}"/>                           
                            </row>
                        </template>                       
                    </rows>
                    <foot>
                        <footer span="6" class="footer_right" label="@load(vm.footer)" />
                    </foot>                    
                </grid>                
                <separator sclass="double16" bar="true"/>
            </div>
                        
        </div>
        <!-- INICIO EXPORTAR GRILLA -->
        <div id="gridHidden" visible="false">
            <grid id="gridExportId" model="@load(vm.listTblHitosListbox)" emptyMessage="No hay operaciones para mostrar.">
                <columns>
                    <column label="UBICACION" sort="auto"/>
                    <column label="REG" sort="auto"/>                    
                    <column label="N_OF" sort="auto"/>      
                    <column label="OFICINA" sort="auto"/>    
                    <column label="RUT_COMPLETO" sort="auto"/>   
                    <column label="NOMBRE" sort="auto"/>         
                    <column label="OP_ORIG" sort="auto"/>
                    <column label="OPERACION 2" sort="auto"/>
                    <column label="OP_BUSQUEDA" sort="auto"/>
                    <column label="MONTO" sort="auto"/>
                    <column label="DIAS MORA" sort="auto"/>
                    <column label="PRODUCTO" sort="auto"/> 
                    <column label="TIPO_OP" sort="auto"/> 
                    <column label="NOM_BANCA" sort="auto"/>
                    <column label="BANCA" sort="auto"/>  
                    <column label="ACELERADO" sort="auto"/> 
                    <column label="SOLICITUD" sort="auto"/>
                    <column label="FECHA_SOLICITUD" sort="auto"/>
                    <column label="ESTADO" sort="auto"/>
                
                
                    <!--                
                    <column label="OPERACION" sort="auto"/>                   
                    <column label="RUT" sort="auto"/>
                    <column label="DV" sort="auto"/>                                       
                    <column label="FAN" sort="auto"/>
                    <column label="FCURSE" sort="auto"/>                    
                    <column label="CODE" sort="auto"/>
                    <column label="GLOSA" sort="auto"/>
                    <column label="RENEG_POR_NZA" sort="auto"/>
                    <column label="EJECUTIVO_NEG" sort="auto"/>
                    <column label="PRIORIDAD" sort="auto"/>
                    <column label="PRIORIDAD_PYME" sort="auto"/>           
                    <column label="NOM_REGION" sort="auto"/>
                    <column label="FECHA_PROCESO" sort="auto"/>
                    -->
                                       
                    
                    <!--                    <column label="DIRECION_NOTIFICACION_ESTIMADA" sort="auto"/>
                    <column label="DOP_BUSQUEDA" sort="auto"/>  -->
                </columns>
                <rows  style="border:normal" class="tbody">
                    <template name="model">
                        <row>
                            <label value="${each.getUbicacion()}"/>
                            <label value="${each.getReg()}"/>
                            <label value="${each.getN_of()}"/> 
                            <label value="${each.getOficina()}"/>
                            <label value="${each.getRut_completo()}" />
                            <label value="${each.getNombre()}" />                  
                            <label value="${each.getOp_orig()}"/>
                            <label value="${each.getOperacion2()}"/>
                            <label value="${each.getOp_orig()}"/> 
                            <label value="${each.getMontoS()}" />
                            <label value="${each.getDias_mora()}"/>
                            <label value="${each.getProducto()}"/>
                            <label value="${each.getTipo_op()}"/>
                            <label value="${each.getNom_banca()}"/>
                            <label value="${each.getBanca()}"/>
                            <zk if="${each.getAcelerado() == null}">
                                <label value="S/I"/>
                            </zk>
                            <zk if="${each.getAcelerado()== 0}">
                                <label value="No"/>
                            </zk>
                            <zk if="${each.getAcelerado()== 1}">
                                <label value="Si"/>
                            </zk>                   
                            <label value="${each.getSolicitud()}"/>
                            <label value="${each.getFecha_ejecucion()}"/>
                            <label value="${each.getEstado()}"/>
                            
                            
                            <!--                           
                            <label value="${each.getRut()}" />
                            <label value="${each.getDv()}" />                  
                            <label value="${each.getFan()}" />
                            <label value="${each.getFcurse()}" />                           
                            <label value="${each.getCode()}"/>
                            <label value="${each.getGlosa()}"/>
                            <label value="${each.getReneg_por_nza()}"/>
                            <label value="${each.getEjecutivo_neg()}"/>
                            <label value="${each.getPrioridad()}"/>
                            <label value="${each.getPrioridad_pyme()}"/>                  
                            <label value="${each.getNombre_region()}"/>                            
                            -->
                            
                                                                              
                        </row>
                    </template>                       
                </rows>                             
            </grid>              
        </div>
        <!--FIN EXPORTAR GRILLA  -->
        
    </div> 
</window>
