<window id="resultWin" border="none" position="center,center" closable="true" width="50%"
        style="min-width:350px;"
        apply="sisboj.Vistas.controlesGenerales.SolicitudesEnvioBojController">
    
    <style>
        .noActivo {
        color: red;
        }
    </style>
    
    <caption iconSclass="z-icon-file-pdf-o noActivo" label="Generaci&#243;n de Lote y Envi&#243; a Back Office" sclass="small"/>
    
    <div >
        <div align="center" class="col-md-12 col-sm-12 col-xs-12" >
            <div class="row" >
                <div class=" col-md-12">
                    <div  class="row" align="center">
                        <div class="col-md-12">
                            <label value=" Informaci&#243;n de La Solicitud : " sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>
                            <label id="id_solicitud" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;" value="${arg.id_solicitud}" ></label>
                        </div>
                        <!--                        <div class="col-md-5">
                            <div  class="row">
                                <image id="_idCodeBar2" ></image>
                            </div>
                            <div  class="row">
                                <label id="txt_CodeBarLL" style="font-size:25px;line-height:39px;" />
                            </div>
                        </div>-->
                    </div> 
                    
                    <separator sclass="double16" bar="true"/>
 
                    <div class="row" >
                        <div id="pruebaprint" class="col-md-12" >
                            <!--                            <div class="row"  >
                                <button id="id_impGuiadespacho" iconSclass="z-icon-print" sclass="btn btn-sm btn-primary" label="Imprimir"  />
                                <button id="closeButtonPDF2" iconSclass="z-icon-file-pdf-o" sclass="btn btn-sm btn-danger" label="PDF"  />
                            </div >-->
                            <div class="row">
                                <iframe id="iframe" src="http://www.zkoss.org" style="border: 1px solid gray;max-width:800px;min-width:310px" height="100%" width="100%" />
                            </div>
                        </div>
                    </div>
            
                    <separator sclass="double16" bar="true"/>         
            
                    <div class="row" >
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row" align="center" style="line-height:40px;">
                                <div class=" col-md-3 col-sm-12 col-xs-12" height="40px">
                                    <button id="id_impGuiadespacho" iconSclass="z-icon-print" sclass="btn btn-sm btn-warning btn-block"  label="Imprimir"  />
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12" height="40px">
                                    <button id="ButtonEnvioBoj" iconSclass="z-icon-send" sclass="btn btn-sm btn-success btn-block" label="Despachar a Back Office"/>
                                </div>
                                <div class="col-md-3 col-sm-12 col-xs-12" height="40px">
                                    <button id="closeButton" iconSclass="z-icon-times" sclass="btn btn-sm btn-primary btn-block"  label="Close"  />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</window>