<zk>
    <window id="wnd_Regla_tiempo" height="auto" apply="siscon.controller.ReglasTiempoGrillasController">
        <!--<window height="auto" >-->    
        <style>
            .z-row-background-color-on-select,
            .z-row-background-color-on-select > .z-row-inner,
            .z-row-background-color-on-select > .z-cell {
            background-color: #FFCC00 !important;
            }                       
            .z-row-background-color-off-select,
            .z-row-background-color-off-select > .z-row-inner,
            .z-row-background-color-off-select > .z-cell {
            background-color: #FFCC00 !important;
            }   
            .btn-circle.btn-xs {
            width: 25px;
            height: 25px;
            text-align: center;
            padding: 0 0;
            font-size: 16px;
            font-weight:bold;
            line-height: 1.428571429;
            border-radius: 15px;
            }
            .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 5px 0;
            font-size: 13px;
            line-height: 1.428571429;
            border-radius: 15px;
            }
            .btn-circle.btn-lg {
            width: 50px;
            height: 50px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.33;
            border-radius: 25px;
            }
            .btn-circle.btn-xl {
            width: 70px;
            height: 70px;
            padding: 10px 16px;
            font-size: 24px;
            line-height: 1.33;
            border-radius: 35px;
            }
            .btn-circle.btn-xxl {
            width: 140px;
            height: 140px;
            padding: 10px 16px;
            font-size: 24px;
            line-height: 1.33;
            border-radius: 70px;
            }
            .activo {
            color: green;
            }
            .inActivo {
            color: #D7DF01;
            }
            .noActivo {
            color: red;
            }
        
            .stroke {
            margin: 20px;
            padding: 20px;
            text-align:center; 
            color: #FCDB00;
            font-family: Arial Black;
            font-size: 1.2em;
            letter-spacing: 4px;
            text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
            }
        </style>
        
        <div class="panel panel-default">
            <div class="panel-heading" height="30px">
                <div id="BandejaEntradaBov" sclass="panel-title" style="margin-top:-8px;">
                    <div class="row">
                        <div class="col-md-6">
                            <span sclass="z-icon-list-ul  "/>
                            <label value="Reglas Tiempo Grillas"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" >
                <div class="row" style="margin-top:-10px">
                    <div class="col-md-6">
                        <panel border="normal" sclass="traffic">
  <caption iconSclass="z-icon-signal" label="Tiempo Grillas Desbloqueo:" sclass="small">
<!--      <span height="20px" style="min-width:50px;text-align: left;font-weight:bold" class=""> Tiempo Grillas Desbloqueo:</span>-->
     <combobox placeholder="Seleccione Tiempo" id="cmb_tipoTime"/>
      
    <button label="Actualizar" sclass="btn btn-minier btn-primary pull-right"  popup="datepp, position=after_end, type=toggle" onClick="wnd_Regla_tiempo$composer.asignacion();"/>
<!--    <popup id="datepp" width="129px" sclass="date">
      <listbox>
          <listitem label="Esta Semana" selected="true"/>
          <listitem label="Ultimas 2 semanas"/>
          <listitem label="Este mes"/>
          <listitem label="Meses pasados"/>
      </listbox>
    </popup>-->
  </caption>
  <panelchildren>
    <vlayout>
      <div class="piechart-placeholder"/>
      
      <separator sclass="double16" bar="true"/>
      <hlayout sclass="sign-group">
        <div hflex="1">
            <a iconSclass="z-icon-fa fa-money blue icon-2x" label="Tiempo Actual en Min.:" sclass="grey sign"/>
            <label id="spanTiempo" value="" sclass="bigger pull-right green" style="font-size:19px;line-height:39px;"/>
           
        </div>
        <div hflex="1">
          <a iconSclass=" purple icon-2x" label="Minutos" sclass="grey sign"/>
          <!--<label value="941" sclass="bigger pull-right grey" style="font-size:19px;line-height:39px;"/>-->
        </div>
        
      </hlayout>
    </vlayout>
  </panelchildren>
</panel>

<panel border="normal" sclass="traffic">
 
  <panelchildren>
    <vlayout>
     
      
      <separator sclass="double16" bar="true"/>
      <hlayout sclass="sign-group">
         <grid 
                                emptyMessage="No existen registros de reglas." 
                                id="grd_Reglas" class="domain">
                                <auxhead>
                                    <auxheader colspan="4" align="center">
                                        <div class="row">
                                            <div class="col-md-11">
                                                <label value="Ultima Modificacion" />
                                            </div>
                                           
                                        </div>
                                    </auxheader>
                                </auxhead>
                                <columns>
                                    <column label="Id" />
                                    <column label="Id Colaborador"  />
                                    <column label="Tiempo" />
                                    <column label="Fecha" />
                                    
                                </columns>
                                 <rows>
                    <template name="model" >
                        <row value="${each}" >    
                                                            
                              
                            <cell>
                                <label value="${each.getId_time()}"/>
                            </cell>
                            <cell>
                                <label value="${each.getId_colaborador()}"/>
                            </cell>
                            <cell>
                                <label value="${each.getTiempo()}"/>
                            </cell>   
                            <cell>
                                <label value="${each.getFecha_update()}"/>
                            </cell>
                                                                                                                                              
                        </row>
                    </template>
                </rows>
                         
                            </grid>
        
      </hlayout>
    </vlayout>
  </panelchildren>
</panel>
                            <!--                            <grid 
                            emptyMessage="No existen registros de reglas." id="grd_Reglas"
                            rowRenderer="siscon.renders.ReglasGridRender">-->
                            
<!--                            <div class="row">
                            <div class="col-md-3 col-sm-2 col-xs-6 " height="30px" align="left">
                              <span height="20px" style="min-width:50px;text-align: left;font-weight:bold" class=""> Tiempo Actual: <label id="spanTiempos" class="label info"></label>Min.</span>
                            </div>
                            </div>            
                            <div class="row">
                                        
                                
                                        <div class="col-md-3 col-sm-2 col-xs-6 " height="30px" align="left">
                                            <span height="20px" style="min-width:50px;text-align: left;font-weight:bold" class=""> Tiempo Grillas Desbloqueo:</span>
                                        </div> 
                                        <div class="col-md-4 col-sm-2 col-xs-4" height="30px" align="left"> 
                                            <textbox id="id_tiempo" style="text-align: center; color : black !important; font-weight : bold ; filter : alpha(opacity=100); opacity: 1" height="10px" class="input-control btn-block"   />   
                                        </div> 
                            </div>
                            
                             <div class="row" align="center">
                                        <separator sclass="double14" bar="true"/>
                                    
                                        <button label="Guardar" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-info" onClick="wnd_Regla_tiempo$composer.asignacion();"  />
                                    
                             </div>    -->
                             
                             
                             
                        
                                
                    </div>
                    
                </div>

            </div>
            
              
            
        </div>
        <div class="row" >
            <div class="col-md-12">
                <div class="panel panel-default" id="prin_cont" style="padding-top:2px; border:normal; padding:0;">
         <grid 
                                emptyMessage="No existen registros de eventos." 
                                id="grd_Reglas2" class="domain">
                                <auxhead>
                                    <auxheader colspan="9" align="center">
                                        <div class="row">
                                            <div class="col-md-11">
                                                <label value="Eventos Registrados" />
                                            </div>
                                           
                                        </div>
                                    </auxheader>
                                </auxhead>
                                <columns>
                                    <column label="Id" />
                                    <column label="Id Colab"  />
                                    <column label="Ruta" />
                                    <column label="Bandeja" />
                                    <column label="IdRow" />
                                    <column label="Estado" />
                                    <column label="Fecha Evento" />
                                    <column label="Fecha Final" />
                                    <column label="Accion" />
                                    
                                </columns>
                                 <rows>
                    <template name="model" >
                        <row value="${each}" >    
                                                            
                              
                            <cell>
                                <label value="${each.getId_tracking()}"/>
                            </cell>
                            <cell>
                                <label value="${each.getId_colaborador()}"/>
                            </cell>
                            <cell>
                                <label value="${each.getRuta()}"/>
                            </cell>   
                            <cell>
                                <label value="${each.getBandeja()}"/>
                            </cell>
                            <cell>
                                <label value="${each.getIdRow()}"/>
                            </cell>
                            <cell>
                                <label value="${each.getEstado()}"/>
                            </cell>
                            <cell>
                                <label value="${each.getFecha_evento()}"/>
                            </cell>
                            <cell>
                                <label value="${each.getFecha_evento_final()}"/>
                            </cell>
                            <custom-attributes callback2="${each.getIdRow()}"/>
                            <cell>
                                <!--<button label="Liberar" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-info" onClick="wnd_Regla_tiempo$composer.SeteoTracking(callback2)"  />-->
                                
                                <zk if="${each.getEstado()=='0'}">   
                                    <!--<button label="Liberar" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-info" onClick="wnd_Regla_tiempo$composer.SeteoTracking(callback2)"  disabled="true"/>-->
                                    <label value="Inactivo" style=" color : Green !important; font-weight : bold"/>
                                </zk> 
                                <zk if="${each.getEstado()=='1'}">   
                                    <button label="Liberar" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-info" onClick="wnd_Regla_tiempo$composer.SeteoTracking(callback2)"  />
                                </zk> 
                            </cell>
                                                                                                                                              
                        </row>
                    </template>
                </rows>
                         
                            </grid>
        
      </div>
            </div>
        </div>
    </window>
</zk>