<?link  rel="stylesheet" type="text/css" href="${request.contextPath}/bootstrap.css"?> 
<!-- Google Open Sans font -->   
<!-- Load fonts from local -->
<?link href="${request.contextPath}/fonts.css" rel="stylesheet" type="text/css"?>

<?link href="${request.contextPath}/responsive.css" rel="stylesheet" type="text/css" media="screen"?>
<?link href="${request.contextPath}/index.css.dsp" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/bootstrap.min.css" rel="stylesheet"?>

<!-- MetisMenu CSS -->
<?link href="${request.contextPath}/metisMenu/metisMenu.min.css" rel="stylesheet"?>

<!-- Custom CSS -->
<?link href="${request.contextPath}/sb-admin-2.css" rel="stylesheet"?>

<!-- Custom Fonts -->
<?link href="${request.contextPath}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"?>

<zk>
    <window id="idWinMantPefiles" apply="siscon.controller.MantSistemasController">
        <panel  sclass="panel-primary" border="normal">
            <caption iconSclass="z-icon-inbox" label="Condonaciones Pendientes">
                <!--    <button label="Regla Condonacion" iconSclass="z-icon-mail-forward" onClick="idWinAnalistaRecep$composer.ReglaCondonacion()" sclass="btn btn-sm btn-inverse" visible="true"  />-->
                <!--<button label="RTokenPj" iconSclass="z-icon-mail-forward" onClick="idWinAnalistaRecep$composer.WsPjToken()" sclass="btn btn-sm btn-inverse" visible="true"  />-->
            </caption>
            <panelchildren>
                <grid id="BanEntrAnalista"  emptyMessage="Nothing in Inbox." mold="paging" pageSize="30">
                    <auxhead>
                        <auxheader colspan="4" align="center">
                            <div class="row">
                                <div class="col-md-10">
                                    <label value="Perfiles" />
                                </div>
                                <div class="col-md-1">
                                    <!--<button id="btn_AddReg" style="padding: 0px 0px 0px 0px;" iconSclass="z-icon-question" width="25px" height="25px" sclass="btn btn-success  btn-sm"/>-->
                                    <label value="Agregar Sistema" />
                                          
                                </div>
                                <div class="col-md-1">
                                    <!--<button id="btn_AddReg" style="padding: 0px 0px 0px 0px;" iconSclass="z-icon-question" width="25px" height="25px" sclass="btn btn-success  btn-sm"/>-->
                                                
                                    <button id="btn_AddReg" label="+" class="btn btn-success btn-circle btn-xs"/>
                                </div>
                            </div>
                        </auxheader>
                    </auxhead>
                    <columns>
                        <column label=" " width="40px"  />
                        <column label="Codigo" />
                        <column label="Descripcion" />
                        <column label="registrado" />
                    </columns>
                    <template name="model">
                        <row value="${each}">

                            <detail open="false" sclass="panel-primary">
            
                                <hlayout>
                                    <!--<image sclass="myimg" width="100px" height="100px" src="https://bci.modyocdn.com/uploads/330839ea-750e-449a-af59-351b499bc242/original/AmarilloPose.png" />-->
                                    <!--<image sclass="myimg" width="100px" height="100px" src="http://www.bci.cl/medios/2012/personas/images/amarillo_phishing.jpg" />-->                                      
                                    <!--<button iconSclass="z-icon-mail-forward"></button>-->
                                    <vlayout>
                                        <label value="Detalle Operaci&#243;n" style=" color : #428bca !important; font-weight : bold ; font-size:19px;"  />
                                        <hlayout>
                                            <label value="N Operaciones:" style=" color : black !important; font-weight : bold"/>
                                            <label value="ddddd" sclass="heavy" />
                                        </hlayout>
                                                                  
                            </vlayout>
                        </hlayout>
                            </detail>
                            <label value="${each.getCodigo()}"/>
                            <label value="${each.getDescripcion()}"/>
                            <label value="${each.getRegistrado()}"/>
                        <!--    <custom-attributes callback2="${each.getCodigo()}"/>
                            <custom-attributes callback="CodPerfil=${each.getCodigo()},DescPerfil=${each.getDescripcion()}" composite="list"/>
   
                            <button label="Usuarios" iconSclass="z-icon-mail-forward" onClick="idWinMantPefiles$composer.MostrarUsuarios(callback)" sclass="btn btn-sm btn-success" visible="true"  />-->
                        </row>
                    </template>
                </grid>
            </panelchildren>
        </panel>
        <button label="refresh" id="id_refresch" iconSclass="z-icon-mail-forward"  sclass="btn btn-sm btn-inverse" visible="false"  />
    </window>
    <script src="${request.contextPath}/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="${request.contextPath}/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="${request.contextPath}/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="${request.contextPath}/js/sb-admin-2.js"></script>
    
</zk>
