<?link  rel="stylesheet" type="text/css" href="${request.contextPath}/bootstrap.css"?> 
<!-- Google Open Sans font -->   
<!-- Load fonts from local -->
<?link href="${request.contextPath}/fonts.css" rel="stylesheet" type="text/css"?>

<?link href="${request.contextPath}/responsive.css" rel="stylesheet" type="text/css" media="screen"?>
<?link href="${request.contextPath}/index.css.dsp" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/bootstrap.min.css" rel="stylesheet"?>

<!-- MetisMenu CSS -->
<?link href="${request.contextPath}/metisMenu/metisMenu.min.css" rel="stylesheet"?>

<!-- Custom CSS -->
<?link href="${request.contextPath}/sb-admin-2.css" rel="stylesheet"?>

<!-- Custom Fonts -->
<?link href="${request.contextPath}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"?>




<zk>
     
 <window apply="siscore.pruebas.TestComposer">
                <style>
                  .z-row-background-color-on-select,
                  .z-row-background-color-on-select > .z-row-inner,
                  .z-row-background-color-on-select > .z-cell {
                      background-color: #FFCC00 !important;
                  }
                    
                                   .z-row-background-color-off-select,
                  .z-row-background-color-off-select > .z-row-inner,
                  .z-row-background-color-off-select > .z-cell {
                      background-color: #FFFFFF !important;
                  }   
                    
                </style>
 

            
                  <grid id="grid" sizedByContent="true" >
                                                     <auxhead>
                  <auxheader colspan="11"  ><label   value="Detalle" style="color:#428bca" /></auxheader>
                </auxhead>      
                        <columns >
                            <column label="N Solicitud" hflex="min"  sort="auto(numsol)"/>
                            <column label="Ubiacion" hflex="min" sort="auto(ubacion)"/>
                            <column label="Producto" hflex="1" sort="auto(producto)"/>
                            <column label="Cant. Oper." hflex="min" sort="auto(numDctos)" align="right"/>
                            <column label="Estado Sol." hflex="min" sort="auto(estado)"/>
                        </columns>
                        <rows>
                        <template name="model">
                            <row value="${each}">
                            <cell><label value="${each.numsol}" /></cell>
                            <cell><label value="${each.ubacion}" /></cell>
                            <cell><label value="${each.producto}"/></cell>
                            <cell><label value="${each.numDctos}" /></cell>
                            <cell><label value="${each.estado}"/></cell>
                            </row>
                        </template>
                        </rows>
                    </grid>       
            

    </window>
    
    
  
            <!--<div class="panel-footer controls" align="right">
                <button id="btn-Limpiar" class="btn btn-warning ">Limpiar</button>
                <button id="btn-Finalizar" class="btn btn-primary ">Guardar</button> 
            </div>-->
    <script src="${request.contextPath}/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="${request.contextPath}/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="${request.contextPath}/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="${request.contextPath}/js/sb-admin-2.js"></script>
   
</zk>
