<row forEach="${arg.data}" value="${each}">
                                        <label value="${each.rutCompleto}"/>
                                        <label value="${each.nombrecomp}"/>
                                        <label value="${each.nOperacion}"/>
                                        <label value="5"/>
                                        <label value="${each.getNumero_docs()}"/>
                                        <label value="Compleado"/>
                                    <custom-attributes callback="${each.idDetSol}"/>
                                    <button label="Agregar" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-success" onClick="idWinController$composer.setValuesDocs(callback)" >
                                    </button>
</row>