

<window id="id_ProvWin" border="none" position="center,center" closable="true" width="50%"
        style="min-width:350px;"
        apply="siscon.controller.ProvisionGJPoputController">
    
    <style>
        .noActivo {
        color: red;
        }
    </style>
    
    <caption iconSclass="z-icon-plus-square-o noActivo" label="Provisi&#243;n" sclass="small"/>
    
    <div >
        <div align="center" class="col-md-12 col-sm-12 col-xs-12" >
            <div class="row" >
                <div class=" col-md-12">
                    
                    <div  class="row" align="center">
                       
                        <div class="col-md-12">
                            <label value="Rut : " sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>
                            <label id="idope" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;" value="${arg.Rut}" ></label>
                            <label id="id_cond" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;" value="${arg.condonacion}"  visible="false"></label>
                        </div>

                    </div> 
                    <label value="Descripci&#243;n Provisi&#243;n :"></label>
                    <combobox id="cmb_TipProc" class="input-group-block"/>   <!--constraint=" /^([0-9][0-9]|30)$/ :Favor Ingresar Valor valido "-->
                                                             
                                                    
                                              
                    <!--  <label value="Texto"></label>   -->               
                    
                    <label value="Nuevo Inter&#233;s :"></label>
                    <textbox id="id_provision" placeholder="Provisi&#243;n" ></textbox>   <!--constraint=" /^([0-9][0-9]|30)$/ :Favor Ingresar Valor valido "-->
                    <label value="Rango Valido numero"></label>
                    
                    <separator sclass="double16" bar="true"/>
     
            
                    <div class="row" >

                                  
                                    <button id="ButtonGuardarProv" iconSclass="z-icon-send" sclass="btn btn-sm btn-success btn-block" label="Guardar"/>

                                  
                                    <button id="ButtonGuardarProv2" iconSclass="z-icon-send" sclass="btn btn-sm btn-danger btn-block" label="Cerrar"/>

                       
                    </div>
                    
                
                </div>
            </div>
                <div class="row" >
                    <panel  id="panelgrid"   sclass="panel-primary" border="normal">
     

                        <caption iconSclass="z-icon-user" label="Provisiones" sclass="small"/>

                        <panelchildren>
                            <separator sclass="double16" bar="true"/>
                            <hlayout>
                                <grid id="BanProvicion" fixedLayout="true" sclass="panel-primary"  visible="true" emptyMessage="Nothing in Inbox." mold="paging" pageSize="10">
                                    <auxhead>
                                        <auxheader colspan="5" >
                     

                                        </auxheader>
                                    </auxhead>              
                                    <columns>
                                        <column label=" " width="40px"  />
                                        <column label="Tipo Provision"  />
                                        <column label="Descripcion"  />
                                        <column label="Monto"  />
                                        <column label="Fecha"  />
                                        <column label="Eliminar"  />
                                    </columns>
                                    <rows sclass="narrow">
                                        <template name="model" >
                                            <row value="${each}" >
                                                <detail open="false" sclass="panel-primary">
            
                                                    <hlayout>
                                                        <!--<image sclass="myimg" width="100px" height="100px" src="https://bci.modyocdn.com/uploads/330839ea-750e-449a-af59-351b499bc242/original/AmarilloPose.png" />-->
                                                        <!--<image sclass="myimg" width="100px" height="100px" src="http://www.bci.cl/medios/2012/personas/images/amarillo_phishing.jpg" />-->                                      
                                                        <!--<button iconSclass="z-icon-mail-forward"></button>-->
                                                        <vlayout>
                                                            <label value="Detalle Provi" style=" color : #428bca !important; font-weight : bold ; font-size:19px;"  />
                                                            <hlayout>
                                                                <label value="DESCn:" style=" color : black !important; font-weight : bold"/>
                                                                <label value="${ach.getDv_desc()}" sclass="heavy" />
                                                            </hlayout>                       
                                                        </vlayout>
                                                    </hlayout>
            
            
                                                </detail>
                                                <label value="${each.getTdesc()}" />
                                                <label value="${each.getDv_desc()}" />
                                                <label value="${each.getMonto()}" />
                                                <label value="${each.getRegistrado()}" />
                                                <custom-attributes callback="${each.getId()}"/>
                                                <button  label="Eliminar" onClick="id_ProvWin$composer.Elimina(callback);" iconSclass="z-icon-mail-danger" sclass="btn btn-sm btn-primary"></button>
                               
                                            </row>
                                        </template>

                                    </rows>
                                </grid>  
                
             
                            </hlayout>

                        </panelchildren>
                    </panel>         
                    </div>
        </div>
    </div>
</window>