<?xml version="1.0" encoding="UTF-8"?>
<window id="id_wSacabop" border="none" 
        apply="siscon.controller.ApplySacabopBotonPagoController" 
        position="center,center" closable="true" width="70%"
        style="min-width:350px;">
        
    <style>
        .noActivo {
        color: red;
        }
    </style>
    
    <caption iconSclass="z-icon-plus-square-o noActivo" label="SacaBOP Condonación" sclass="small"/>
    <style src="/css/widgets/getting_started/grid/style.css" />
    <panel  id="panelgrid"   sclass="panel-primary" border="normal">
        <caption iconSclass="z-icon-user" label="Formulario de Condonación" sclass="small"/>
        <panelchildren>
            <vlayout>
                <div class="piechart-placeholder"/>
                <separator sclass="double16" bar="true"/>
                <div align="center">
                    <hlayout sclass="sign-group">
                        <div>
                            <label value="Información del Cliente Rut:" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>
                            <label id="viewrutcliente" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;" ></label>
                           
                        </div>
                        <div>
                            <label value="Valor UF :" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>
                            <label id="idValorUF" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;" ></label>
                        </div>
                    </hlayout>
                </div>
            </vlayout>
            <separator sclass="double16" bar="true"/>

                    <window id ="GG" border="normal" sclass="alert alert-danger" visible="false">           
                        <html><![CDATA[
  <h4 class="alert-heading">Well done!</h4>
                          
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
<hr/>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    ]]></html> 
                        <caption id="cptn_tituloo" iconSclass="z-icon-angle-double-right"   style=" color : black !important; font-weight : bold"/>

                    </window>                     

                    <div id ='dangercamp' class="alert alert-danger"  visible ='false'>
               
                        <html><![CDATA[
  <h4 iconSclass="z-icon-list-alt"  class="alert-heading" style="color: #FF0000;">Cliente con Campaña!</h4>
                          
  <p>Este Cliente se encuentra afecto a una campaña de Condonación, Favor Verificar la información adjunta y ajustar los montos de simulación a la información de la campaña.</p>
    ]]></html> 
                        <html><![CDATA[   <h4> ]]></html> 
                        <label id="labeldangerofer"    style=" color : black !important; font-weight : boldfont-size: 55px;" />
        
                        <html><![CDATA[   </h4> ]]></html> 
                    </div>
            <separator sclass="double16" bar="true"/>
            <hlayout >
                <grid>
                    <columns>
                        <column />
                        <column />
                        <column />
                        <column />
                    </columns>
                    <rows>
                        <row>

                            <label id="negoc" value="Ejecutivo Negociador: " />
                            <textbox id="valueneg" value="@bind(fx.userName)"  tabindex="1"  disabled="true" style=" color : black !important; font-weight : bold"/>
                            <label sclass="hightlight">Nro Condonación</label>
                            <textbox id="nro_condonacion" value="@bind(fx.userName)"  tabindex="1" disabled="true" style=" color : black !important; font-weight : bold"/>
                        </row>    
                        <row>
                            <label value="Nombre Cliente : " />
                            <textbox id="id_nomcliente" value="@bind(fx.userName)"  tabindex="1"  disabled="true" style=" color : black !important; font-weight : bold"/>
                            <label sclass="hightlight">Fecha:</label>
                            <textbox id="id_fechahoy" value="@bind(fx.userName)"  tabindex="1" disabled="true" style=" color : black !important; font-weight : bold"/>
                        </row>
                        <row>
                            <label value="Oficina Origen : " />
                            <textbox id="id_oficinaorigen" value="@bind(fx.userName)"  tabindex="1"  disabled="true" style=" color : black !important; font-weight : bold"/>
                            <label value="Ejecutivo Banco" sclass="hightlight"></label>
                            <textbox value="@bind(fx.userName)"  tabindex="1" disabled="true" style=" color : black !important; font-weight : bold"/>
                        </row>
                        <row>
                            <label value="Motivo Asignación : " />
                            <textbox value="@bind(fx.userName)"  tabindex="1"  disabled="true" style=" color : black !important; font-weight : bold"/>
                            <label value="Monto Total Capital $:" sclass="hightlight"></label>
                            <textbox id="id_saldototalmoroso" value="@bind(fx.userName)"  tabindex="1" disabled="true" style=" color : black !important; font-weight : bold"/>
                        </row>
                    <row>
                            <label value="Condonación especial: " />
                            <checkbox id="chk_especial" />
                            <label value="Tipo de condonación:" sclass="hightlight"></label>
                            <textbox id="txt_TipoEspecial" value="@bind(fx.userName)"  tabindex="1" disabled="true" style=" color : black !important; font-weight : bold"/>
                        </row>
                    </rows>
                </grid>
         
            </hlayout>



      
            <hlayout>
                <grid id="Grid_SacabopXX" fixedLayout="true" sclass="panel-primary"  visible="true" emptyMessage="Nothing in Inbox." mold="paging" pageSize="10">
                    <auxhead>
                        <auxheader colspan="12" >
                            <div class="col-md-12 col-ms-12 col-xs-12">
                                <div class="row" align="center">
                                    <button id="id_Prorroga" label="Prorroga gestionada" onClick="id_wSacabop$composer.prorrogaGestionada()" iconSclass="z-icon-pause" sclass="btn btn-sm btn-warning " />
                                    <button id="id_Upload" label="Ver adjuntos" onClick="id_wSacabop$composer.Adjuntar()" iconSclass="z-icon-upload" sclass="btn btn-sm btn-primary"></button>
                                    <button id="id_Glosa" label="Ver Glosa" onClick="id_wSacabop$composer.Glosa()" iconSclass="z-icon-edit" sclass="btn btn-sm btn-success" ></button>
                                    
                                </div>
                            </div>
                        </auxheader>
                    </auxhead>              
                    <columns>
                        <column label=" " width="40px"  />
                        <column label="Operación"  />
                        <column label="Meses Castigo"  />
                        <column label="Capital"  />
                        <column label="Capital A Condonar"  />
                        <column label="Capital A Recibir"  />
                        <column label="Interés"  />
                        <column label="Interés Cond."  />
                        <column label="Interés A Recibir"  />
                        <column label="Hon. Jud."  />
                        <column label="Hon. Jud. Cond."  />
                        <column label="Hon. Jud Recibir"  />
                        
                    </columns>
                    <rows sclass="narrow">
                        <template name="model" >
                            <row value="${each}" >
                                <detail open="false" sclass="panel-primary">
            
                                    <hlayout>
                                  
                                        <vlayout>
                                            <label value="Detalle Operación" style=" color : #428bca !important; font-weight : bold ; font-size:19px;"  />
                                            <hlayout>
                                                <label value="Tipo Operación:" style=" color : black !important; font-weight : bold"/>
                                                <label value="${each.getDetalleCredito()}" sclass="heavy" />
                                            </hlayout>
                                            <hlayout>
                                                <label value="Cedente" style=" color : black !important; font-weight : bold" />
                                                <label value="${each.getCedente()}" sclass="heavy" />
                                            </hlayout>
                                            <hlayout>
                                                <label value="Fecha Castigo:" style=" color : black !important; font-weight : bold"/>
                                                <label value="${each.getFechaCastigo()}" sclass="heavy" />
                                            </hlayout>
                                            <hlayout>
                                                <label value="Fecha Vencimiento:" style=" color : black !important; font-weight : bold" />
                                                <label value="${each.getFechaFencimiento()}" sclass="heavy" />
                                            </hlayout>
                                            <hlayout>
                                                <label value="Dias de Mora:" style=" color : black !important; font-weight : bold" />
                                                <label value="${each.getDiasMora()}" sclass="heavy" />
                                            </hlayout>
                                            <hlayout>
                                                <label value="Marca Renegociado:" style=" color : black !important; font-weight : bold" />
                                                <label value="${each.getMarcaRenegociado()}" sclass="heavy" />
                                            </hlayout> 
                                            <hlayout>
                                                <label value="Honorario Judicial Sobre Monto Capital:" style=" color : black !important; font-weight : bold" />
                                                
                                                <label value="${each.getHonorarioJudicialPesos()}" sclass="heavy" />
                                            </hlayout>
                                            <hlayout>
                                                <label value="Honorario Judicial Sobre Monto Capital Recibido:" style=" color : black !important; font-weight : bold" />
                                                
                                                <label value="${each.getHonorarioJudicial2Pesos()}" sclass="heavy" />
                                            </hlayout>                                                                           
                                        </vlayout>
                                    </hlayout>
            
            
                                </detail>
                                <label value="${each.getOperacion()}" />
                                <label value="${each.getMesesCastigo()}" />
                                <label value="${each.getCapital()}" />
                                <label value="${each.getMontoCondonarPesos()}" />
                                <label value="${each.getCapitalARecibirPesos()}" />
                                <label value="${each.getInteres()}" />
                                <label value="${each.getInteresCondonadoPesos()}" /> 
                                <label value="${each.getInteresARecibirPesos()}" />
                                <label value="${each.getHonorarioJudicial2Pesos()}" />
                                <label value="${each.getHonorarioJudicialCondonadoPesos()}" />
                                <label value="${each.getHonorarioJudicialRecibidoPesos()}" />
                            </row>
                        </template>

                    </rows>
                </grid>  
              
             
            </hlayout>

          
   
            <hlayout>
            
                <grid>
                    <columns>
                        <column label=" " width="40px"  />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />                   
                    </columns>
                    <rows>
                        <row>
                            <label/>
                            <label  value="Montos Totales: " />
                            <label  value=" " />
                            <textbox  id="id_TotalSumaCapital" value="$21554515151" class="btn-block" tabindex="1"  disabled="true" style=" color : black !important; font-weight : bold ;text-align:right"/>
                            <textbox  id="id_TotalSumaCondonaCapital" value="$21554515151" class="btn-block" tabindex="1"  disabled="true" style=" color : black !important; font-weight : bold ;text-align:right"/>
                            <textbox  id="id_TotalSumaRecibeCapital" value="$21554515151" class="btn-block" tabindex="1"  disabled="true" style=" color : black !important; font-weight : bold ;text-align:right"/>
                            <textbox  id="id_TotalSumaInteres" value="$21554515151" class="btn-block" tabindex="1"  disabled="true" style=" color : black !important; font-weight : bold ;text-align:right"/>
                            <textbox  id="id_TotalSumaCondonaInteres" value="$21554515151" class="btn-block" tabindex="1" disabled="true" style=" color : black !important; font-weight : bold ;text-align:right"/>
                            <textbox  id="id_TotalSumaRecibeInteres" value="$21554515151" class="btn-block" tabindex="1" disabled="true" style=" color : black !important; font-weight : bold ;text-align:right"/>
                            <textbox  id="id_TotalSumaHonorJud" value="$21554515151" class="btn-block" tabindex="1"   disabled="true" style=" color : black !important; font-weight : bold ;text-align:right"/>
                            <label  value=""  />
                           <label  value=""  />
                        </row>    
                        <row>
                            <label/>
                            <label  value="Monto a Recibir: " style="color:green" />
                            <label  id="idTotalRecibe" value=" " style="color:green" />
                            <label  id="a" value=""  />
                            <label  id="b" value=""  />
                            <textbox  id="id_TotoalParcialCapital" value="$21554515151" class="btn-block" tabindex="1"  disabled="true" style="color:green !important; font-weight : bold ;text-align:right" />
                            <label  id="d" value=""  />
                            <label  id="e" value=""   />
                            <textbox  id="id_TotoalParcialInteres" value="$21554515151" class="btn-block" tabindex="1"  disabled="true" style="color:green !important; font-weight : bold ;text-align:right"/>
                            <label  value=""  />
                            
                            <label  value=""  />
                            <textbox  id="id_TotalSumaHonorRecibe" value="$21554515151" class="btn-block" tabindex="1"  disabled="true" style="color:green !important; font-weight : bold ;text-align:right"/>
                        </row> 
                        <row>
                            <label/>
                            <label  value="Monto Condonado: "  style="color:red" />
                            <label  id="id_TotalCondona" value=" " style="color:red" />
                            <label  id="g" value=""  />
                            <textbox  id="id_TotoalParcialCondonaCapital" value="$21554515151" class="btn-block" tabindex="1"  disabled="true" style="color:red !important; font-weight : bold ;text-align:right" />
                            <label  id="i" value=""  />
                            <label  id="j" value=""  />
                            <textbox  id="id_TotoalParcialCondonaInteres" value="$21554515151" class="btn-block" tabindex="1"  disabled="true" style="color:red !important; font-weight : bold ;text-align:right" />
                            <label  id="l" value=""  />
                            <label  value=""   />
                            <textbox  id="id_TotalSumaHonorCondona" value="$21554515151" class="btn-block" tabindex="1"  disabled="true" style="color:red !important; font-weight : bold ;text-align:right" />
                            <label  value=""  />
                            
                        </row>
                     
                        <row>
                            <label/>
                            <label  value="Capital : " style="color:#ffcc00"/>
                            <label  id="id_TotlaCapital" value=" " style="color:#ffcc00"/>
                            <textbox  id="id_TotoalParcialCapita" value="$21554515151"  class="btn-block"  disabled="true" style="color:#ffcc00 !important; font-weight : bold ;text-align:right" />
                            <label  id="n" value=""   />
                            <label  id="o" value=""    />
                            <textbox  id="id_TotoalParcialCapitaInteres" value="$21554515151" class="btn-block"  disabled="true" style="color:#ffcc00 !important; font-weight : bold ;text-align:right" />
                            <label  id="q" value=""    />
                            <label  id="r" value=""     />
                            <textbox  id="id_TotoalParcialCapitaHonor" value="$21554515151"  class="btn-block"  disabled="true" style="color:#ffcc00 !important; font-weight : bold ;text-align:right" />
                           <label  value=""  />
                          <label  value=""  />
                        </row>  

                    </rows>
                </grid>   
            
            </hlayout>   
   
            <separator sclass="double16" bar="true"/>
            <space bar="true" spacing="20px" />
            <separator sclass="double16" bar="true"/>
            <hlayout>
            
                <grid>
                    <columns>
                        <column label=" " width="40px"  />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                    </columns>
                    <rows>   
                        <row>
                            <label/>
                            <label  value="VDE/SGN : " style="color:green"/>
                            <label  id="id_TotalVDEs" value="$21.600 " style="color:green"/>
                            <textbox  id="id_TotoalParcialCapita2" value="$21554515151"  visible="false"  disabled="false" style="color:#000000" />
                            <label  id="n2" value="" visible="false"   />
                            <label  id="o2" value=""  visible="false"   />
                            <textbox  id="id_TotoalParcialCapitaInteres2" value="$21554515151"  visible="false"  disabled="false" style="color:#000000" />
                            <label  id="q2" value="" visible="false"    />
                            <label  id="r2" value=""   visible="false"   />
                            <textbox  id="id_TotoalParcialCapitaHonor2" value="$21554515151"  visible="false"   disabled="false" style="color:#000000" />                        
                        </row>
                        <row>
                            <label/>
                            <label  value="Provisión : " style="color:green"/>
                            <label  id="id_SumaProvision" value="$21.600 " style="color:green"/>
                            <textbox  id="id_TotoalParcialCapita3x" value="$21554515151"  visible="false"  disabled="false" style="color:#000000" />
                            <label  id="n2x" value="" visible="false"   />
                            <label  id="o2x" value=""  visible="false"   />
                            <textbox  id="id_TotoalParcialCapitaInteres3x" value="$21554515151"  visible="false"  disabled="false" style="color:#000000" />
                            <label  id="q2x" value="" visible="false"    />
                            <label  id="r2x" value=""   visible="false"   />
                            <textbox  id="id_TotoalParcialCapitaHonor3x" value="$21554515151"  visible="false"   disabled="false" style="color:#000000" />

                        </row>      
                          
                        <row>
                            <label/>
                            <label  value="Total Recibe : " style="color:green"/>
                            <label  id="id_TotalTotal" value="$21.600 " style="color:green"/>
                            <textbox  id="id_TotoalParcialCapita3" value="$21554515151"  visible="false"  disabled="false" style="color:#000000" />
                            <label  id="n3" value="" visible="false"   />
                            <label  id="o3" value=""  visible="false"   />
                            <textbox  id="id_TotoalParcialCapitaInteres3" value="$21554515151"  visible="false"  disabled="false" style="color:#000000" />
                            <label  id="q3" value="" visible="false"    />
                            <label  id="r3" value=""   visible="false"   />
                            <textbox  id="id_TotoalParcialCapitaHonor3" value="$21554515151"  visible="false"   disabled="false" style="color:#000000" />

                        </row>   
                    </rows>
                </grid>
            </hlayout>
                                          
            <separator sclass="double16" bar="true"/>
                
                
            <hlayout >
                <panel id="pnl_PanelHono"  framable="true" border="normal" collapsible="true" visible="true" >
                    <caption label="Gastos Honorarios - Operaciones (VDE/SGN)" class="StyleColumn" style="color:#428bca;text-align:center" />
                    <panelchildren>
                        <grid id="grd_GastosHono" sclass="panel-primary"  visible="true" 
                              emptyMessage="No registra gastos de honorarios" 
                              mold="paging" pageSize="10">

                            <columns>
                                <column label=" " width="40px"  />
                                <column label="Cedente" align="center" width="60px"/>
                                <column align="center" >
                                    <label id="lbl_TioAux2" multiline="true" class="StyleColumn" /> 
                                </column>
                                <!-- <column label="Operacion" />-->
                                <column align="center" >
                                    <label id="lbl_OpOrg2" multiline="true" class="StyleColumn" /> 
                                </column>
 
                                <column label="Mora" align="center" width="100px"/>

                                <column align="center"  >
                                    <label id="lbl_SalIns2" multiline="true" class="StyleColumn" /> 
                                </column>


                                <column align="center" width="50px">
                                    <label id="lbl_DiaMor2" multiline="true" class="StyleColumn" /> 
                                </column>
                                <column label="Producto" align="center" />
                                <column label="F.Vcmto" align="center"/>
                                <column label="F.Castigo " sortDirection="descending" align="center" />
                            </columns>
                            <template name="model">
                                <row value="${each}">
                                    <attribute name="style" if="${each.getProductos()=='Castigo'}">
                                        background-color: #ffe6e6;
                                    </attribute>
                                    <detail open="false" sclass="panel-primary">
            
                                        <hlayout>
                                            <image sclass="myimg" width="100px" height="100px"
                                                   src="https://bci.modyocdn.com/uploads/330839ea-750e-449a-af59-351b499bc242/original/AmarilloPose.png" />
                                            <vlayout>
                                                <label value="Detalle  VDE" sclass="heavy-italic" />
                                                <hlayout>
                                                    <label value="Cuotas Morosas:" />
                                                    <label value="${each.getCuotasMora()}" sclass="heavy" />
                                                </hlayout>
                                                <hlayout>
                                                    <label value="Cuotas Pagadas:" />
                                                    <label value="${each.getCuotaspagada()}" sclass="heavy" />
                                                </hlayout>
                                                <hlayout>
                                                    <label value="Cuotas Pactadas:" />
                                                    <label value="${each.getCuotasPactada()}" sclass="heavy" />
                                                </hlayout>
                                            </vlayout>
                                        </hlayout>
            
            
                                    </detail>
                                    <cell align="left">
                                        <label value="${each.getCedente()}" />
                                    </cell>
                                    <cell align="left">
                                        <label value="${each.getTipoCedente()}" />
                                    </cell>
                                    <cell align="left">
                                        <label value="${each.getOperacion()}"/>
                                    </cell>
                                    <cell align="right">
                                        <label value ="${each.getMoraEnPesosChileno()}"></label>
                                    </cell>

                                    <cell align="right">
                                        <label value="${each.getSaldoEnPesosChileno()}"/>
                                    </cell>


                                    <cell align="right">
                                        <label value="${each.getDiasMora()}"/>
                                    </cell>
                                    <cell align="left">
                                        <label value="${each.getProductos()}"/>
                                    </cell>
                                    <cell align="center">
                                        <label value="${each.getFechaFencimiento()}"/>
                                    </cell>
                                    <cell align="center"> 
                                        <label value="${each.getFechaCastigo()}" self="@{format(MM/dd/yyyy)}"/>
                                    </cell>
                                </row>
                            </template>
                        </grid>
                    </panelchildren>
                </panel>
            </hlayout>
                                                     
            <hlayout >
                <grid>
                    <columns>
                        <column  />
                        <column  />
                        <column  />
                        <column  />
                    </columns>
                    <rows>
                        <row>
                            <label value="Fecha Castigo Más Antiguo: " />
                            <textbox id="id_PrimerMesDeCondonacion" value="@bind(fx.userName)"  tabindex="1"  disabled="true" style=" color : black !important; font-weight : bold"/>
                            <label  value="Castigo Más Antiguo" sclass="hightlight"/>
                            <textbox id="id_MesMasAntiguoCastigo" value="@bind(fx.userName)"  tabindex="1" disabled="true" style=" color : black !important; font-weight : bold"/>
                        </row>    
                        <row>
                            <label value="Monto $ Atribución Ejecutivo : " />
                            <textbox id="id_AtribucionEjecutiva" value="@bind(fx.userName)"  tabindex="1"  disabled="true" style=" color : black !important; font-weight : bold"/>
                            <label value="Porcentaje de Condonación Ejecutivo" sclass="hightlight"/>
                            <textbox id="id_porcentajeCondoEjecutiva" value="@bind(fx.userName)"  tabindex="1" disabled="true" width="210px" style=" color : black !important; font-weight : bold"/>
                        </row>
                        <row>
                            <label value="Puede Condonar Online : " />
                            <textbox id="id_PuedeCondonarOnline" value="@bind(fx.userName)"  tabindex="1"  disabled="true"  style=" color : black !important; font-weight : bold"/>
                            <label value="Rango Fecha Condonación" sclass="hightlight"></label>
                            <textbox id="id_rangoFechaCondonacion"  value="@bind(fx.userName)"  tabindex="1" disabled="true" style=" color : black !important; font-weight : bold"/>
                        </row>
                    </rows>
                    
                </grid>
            </hlayout>
            <vlayout>
                <div class="piechart-placeholder"/>
                <separator sclass="double16" bar="true"/>
                <div align="center" >
                    <hlayout sclass="sign-group" >
                        <button id="btn_Aplicar" label="Aplicar" iconSclass="z-icon-check" width="500px" sclass="btn btn-sm btn-success btn-block" height="50px" visible="true" onClick="id_wSacabop$composer.AplicarCondonacion()" style="font-size:16pt"/>
                    </hlayout>
                    <!--                    <separator/>
                    <hlayout sclass="sign-group" >
                        <button id="btn_Repara" label="Reparar" iconSclass="z-icon-mail-forward" width="500px" sclass="btn btn-sm btn-success btn-block" height="50px" visible="true" onClick="id_wSacabop$composer.AplicarCondonacion()" style="font-size:16pt"/>
                    </hlayout>-->
                    <separator/>
                    <hlayout sclass="sign-group" >
                        <button id="btn_Rechaza" label="Rechazar" iconSclass="z-icon-times" width="500px" sclass="btn btn-sm btn-danger btn-block" height="50px" visible="true" onClick="id_wSacabop$composer.RechazarCondonacion()" style="font-size:16pt"/>
                    </hlayout>
                    <!--                    <separator/>
                    <hlayout sclass="sign-group" >
                        <button id="btn_Reversa" label="Reversar" iconSclass="z-icon-mail-forward" width="500px" sclass="btn btn-sm btn-success btn-block" height="50px" visible="true" onClick="id_wSacabop$composer.ReversarCondonacion()" style="font-size:16pt"/>
                    </hlayout>-->
                    <separator/>
                    <hlayout sclass="sign-group" >
                        <button id="btn_Prorroga" label="Prorrogar" iconSclass="z-icon-mail-forward" width="500px" sclass="btn btn-sm btn-warning btn-block" height="50px" visible="true" onClick="id_wSacabop$composer.ProrrogarCondonacion()" style="font-size:16pt"/>
                    </hlayout>
                </div>
                <separator sclass="double16" bar="false"/>
            </vlayout>
        </panelchildren>
    </panel>
    
</window>
