<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul" xmlns:c="client">
    <window id="win_GesPror"   width="550px"  border="none"  closable="true" apply="siscon.controller.EjeCondEspecialController"  >
        <caption id="cptn_titulo" iconSclass="z-icon-tag " label="Marcar condonación como especial." sclass="small"/>
        <style>
            .z-icon-pause{
            color: #ffb752;
            }
        
        </style>
        <div class="col-md-12">
            <div class="panel panel-warning" id="div_datosProrroga">
                <div class="panel-body" >
                    <div class="col-md-12">
                        <separator />
                        <div class="row align-items-left">
                            <div class="col-md-5">
                                <label value="Marcar cond. como especial:" class="btn-block"/>
                            </div>
                            <div class="col-md-7">
                                <checkbox id="chk_CondEspecial" onCheck="" />
                            </div>
                        </div>
                        <separator />
                        <div class="row align-items-left">
                            <div class="col-md-5" align="left">
                                <label value="Tipo:"  class="btn-block"/>
                            </div>
                            <div class="col-md-7" align="left">
                                
                                <combobox id="cmb_TipoCondEspecial" class="btn-block" >
<!--                                    <template name="model">
                                        <comboitem value="${each}" label="${each.getDescripcion()}" width="150px" description="${each.getDetalle()}">
                                        </comboitem>
                                    </template>-->
                                </combobox>
                            </div>
                        </div>
                        <separator />
                        <div id="div_NumCuotas" class="row align-items-left" visible="false">
                            <div class="col-md-5" align="left">
                                <label value="N° de cuotas:"  class="btn-block"/>
                            </div>
                            <div class="col-md-7" align="left">
                                <spinner id="txt_NumCuotas"  width="60px"  value="1" constraint="" />
                            </div>
                        </div>
                        <div id="div_Saldo" class="row align-items-left" visible="false">
                            <div class="col-md-5" align="left">
                                <label value="Saldo condonación:"  class="btn-block"/>
                            </div>
                            <div class="col-md-7" align="left">
                                <intbox id="txt_SaldoCond" class="" width="100px" format="#,##0" constraint="no negative"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
            
        <div align="center">
            <hlayout sclass="sign-group">
                <button id="btn_IngTipoCondEspecial" iconSclass="z-icon-check" sclass="btn btn-sm btn-warning" label="Aplicar" />
                <button id="btn_close" iconSclass="z-icon-times" sclass="btn btn-sm btn-primary" label="Cerrar"  />
            </hlayout>
        </div>
    </window>
</zk>
