<?xml version="1.0" encoding="UTF-8"?>

<zk>
    <window id="_idWinreparo"   width="500px"  border="normal"     apply="siscon.controller.AnReparoPoputController">
        <caption iconSclass="z-icon-tasks blue" label="Reparar" sclass="small"/>

        <hlayout >
            <grid id="usruaios_gridPassChange" vflex="1" visible="true">
                <auxhead>
                    <auxheader align="center" colspan="2" >
                        <label value="Cod. condonación: " sclass="bigger pull-lefth grey" style="font-weight: bold;line-height:39px;    font-family: 'Open Sans';"/>
                        <label id="id_txtCodBarLote" value="${arg.id_condonacion}" style="font-weight: bold;    font-family: 'Open Sans';"/>
                    </auxheader>
                </auxhead>
                <columns>
                                    
                    <column label="Tipo" width="110px"  />
                    <column label="Contenido" hflex="1"/>
                </columns>
                <rows>
                    <row>
                        Motivo Reparo:
                        <textbox id="motivoReparo" class="btn-block" maxlength="50" rows="3" style="resize: none;"/>
                    </row>
                    <row>
                        Glosa Reparo:
                        <textbox id='usruaios_oldpass2'  class="btn-block" maxlength="2000" rows="3" style="resize: none;" />
                    </row>
 

                </rows>
            </grid>
        </hlayout>  
        <div align="center">
            <hlayout sclass="sign-group">
                <button id="_idReparoDoc" iconSclass="z-icon-repeat" sclass="btn btn-sm btn-warning" label="Reparar condonación" />

                <button id="closeButton" iconSclass="z-icon-times" sclass="btn btn-sm btn-primary" label="Cancelar"  />
            </hlayout>
        </div>
        <textbox id='id_condonacion' value="${arg.id_condonacion}" width="150px" visible="false" />

    </window>
    
</zk>
