<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul">

    <window id="jobGESTIONESEMPEX"   apply="BASES_EXCEL.DetalleGESTIONESEMPEX" >
        <style>
            .z-row-background-color-on-select,
            .z-row-background-color-on-select > .z-row-inner,
            .z-row-background-color-on-select > .z-cell {
            background-color: #FFCC00 !important;
            }
                    
            .z-row-background-color-off-select,
            .z-row-background-color-off-select > .z-row-inner,
            .z-row-background-color-off-select > .z-cell {
            background-color: #FFCC00 !important;
            }   
        
            .StyleColumn{
            font-family: 'Open Sans';
            font-size: 13px;color: #707070;
            font-weight: bold;
            }

            /**Center + Mask Busy**/

            #zk_showBusy {
            visibility: inherit;
            }
            #zk_showBusy-m{
            
            left: 0px; top: 0px; z-index: 30999; width: 816px; height: 766px;
            }
            #zk_showBusy-t{
            
            left: 342px; top: 317px;
            
            }       
            .z-loading-indicator, .z-apply-loading-indicator {
            color: #363636;
            border: 0px solid transparent;
            background: transparent;
            white-space: nowrap;
            }
     
            .z-loading, .z-apply-loading {
            border: 0px solid #cfcfcf;
            padding: 0px;
            background: transparent;
            position: absolute;
            cursor: wait;
            white-space: nowrap;
            left:300px;
            top:300px
            }
       
            #zk_proc-t{
            
            left: 342px; 
            top: 317px;
           
            }       
         
            #zk_proc {
            left: 342px; 
            top: 317px;
            
            }        
            .z-apply-loading-icon,.z-loading-icon,    
            .z-renderdefer {
            border: 16px solid #6fb3e0;
            border-radius: 50%;
            border-top: 16px solid #87b87f;
            border-right: 16px solid #ffb752;
            border-bottom: 16px solid #d15b47;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            background-image:url('https://bci.modyocdn.com/uploads/330839ea-750e-449a-af59-351b499bc242/original/AmarilloPose.png');
            background-size: 90px 90px;
            background-repeat: no-repeat;
            }

            @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
            }

      
        </style>
         <timer id="timer" delay="2000" repeats="true">
                    </timer>
        <separator orient="horizontal" spacing="4px" /> 
       
        <tabbox id="tb" width="100%" height="100%" mold="accordion">
            <tabs>
                <tab label="FASTCO" />
                <tab label="RECSA" />
                <tab label="COVENTA" />
            </tabs>
            <tabpanels>
                <tabpanel>
                 
                    
                      
                    <!-- INICIO />-->

                    <div class="row" >   
                    
                        <div class="col-md-6 col-sm-6 col-xs-6" align="left" >
                            <!--<label id="" value="Modulo para cargar la base COBANC"/>-->
                            <!--<separator orient="horizontal" spacing="10px" />--> 
                            <label id="" style="font-weight:bold; color: black;font-size: 20px" value="Instrucciones : "/>  
                            <separator orient="horizontal" spacing="1px" /> 
                            <label id="" value="1) descargar archivo de FTP"/> 
                            <separator orient="horizontal" spacing="1px" /> 
                            <label id="" value="2) cargar archivo"/> 
                        </div>
        
                        <div class="col-md-6 col-sm-6 col-xs-6" align="left" >
                            <label id="" value="Seleccione el archivo: " style="font-weight:bold;"/> 
                            <separator orient="vertical" spacing="3px" /> 
                            <button label="CARGAR GESTION FASTCO" id="btn_cargar" class="btn btn-primary" >
                            </button>
                            <separator orient="vertical" spacing="6px" />
           
                        </div> 
                    </div>
                   
                    <separator orient="horizontal" spacing="16px" />
           

                   
                        <div class="row" sclass="panel-body" style="background-color: white" align="left" >   
                            <div class="col-md-6 col-sm-6 col-xs-6" align="center" > 
                                <grid id="grillainformes_tareas1">            
                                    <columns>
                                   
                                        <column label="TAREAS" height="36.53px"/>

                                    </columns>
                                    <rows>
                                        <template name="model">
                                            <row value="${each}">                                                              
                                                <cell align="left">    
                                                    <label id="" value="${each.nombre_componente}"/>
                                                </cell>
                               
                                            </row>
                                
                                        </template>
                                    </rows>  
                                </grid>  
                            </div>   
                            <div class="col-md-6 col-sm-6 col-xs-6" align="center" width="95px">
                                <grid id="grillaestados1">            
                                    <columns>
                                        <column label="ESTADO" />
                                    </columns>
                                    <rows >
                                                   
                                        <row value="">  
                                            <cell align="center">   
                                                               
                                                <div class="fa fa-pause text-primary fa-2x" id="cargagestion1"></div>
                                                <!--<button id="Bajar_base_judicial"  iconSclass="z-icon-arrow-circle-right" disabled="false"></button>-->
                                            </cell>
                                        </row>
                                               
                                    </rows>                               
                                </grid> 
                            </div>   
                  
                        </div>    
                  
        
                    <!-- TERMINO />-->
                    
                    
                    
                </tabpanel>
                <tabpanel>
                    <!--<include src="/widgets/tabbox/accordion/auxhead1.zul" />-->
                      
                    <!-- INICIO />-->

                    <div class="row" >   
                    
                        <div class="col-md-6 col-sm-6 col-xs-6" align="left" >
                            <!--<label id="" value="Modulo para cargar la base COBANC"/>-->
                            <!--<separator orient="horizontal" spacing="10px" />--> 
                            <label id="" style="font-weight:bold; color: black;font-size: 20px" value="Instrucciones : "/>  
                            <separator orient="horizontal" spacing="1px" /> 
                            <label id="" value="1) descargar archivo de FTP"/> 
                            <separator orient="horizontal" spacing="1px" /> 
                            <label id="" value="2) cargar archivo"/> 
                        </div>
        
                        <div class="col-md-6 col-sm-6 col-xs-6" align="left" >
                            <label id="" value="Seleccione el archivo: " style="font-weight:bold;"/> 
                            <separator orient="vertical" spacing="3px" /> 
                            <button label="CARGAR GESTION RECSA" id="btn_cargar1" class="btn btn-primary" >
                            </button>
                            <separator orient="vertical" spacing="6px" />
           
                        </div> 
                    </div>
                   
                    <separator orient="horizontal" spacing="16px" />
           

                   
                        <div class="row" sclass="panel-body" style="background-color: white" align="left" >   
                            <div class="col-md-6 col-sm-6 col-xs-6" align="center" > 
                                <grid id="grillainformes_tareas2">            
                                    <columns>
                                   
                                        <column label="TAREAS" height="36.53px"/>

                                    </columns>
                                    <rows>
                                        <template name="model">
                                            <row value="${each}">                                                              
                                                <cell align="left">    
                                                    <label id="" value="${each.nombre_componente}"/>
                                                </cell>
                               
                                            </row>
                                
                                        </template>
                                    </rows>  
                                </grid>  
                            </div>   
                            <div class="col-md-6 col-sm-6 col-xs-6" align="center" width="95px">
                                <grid id="grillaestados2">            
                                    <columns>
                                        <column label="ESTADO" />
                                    </columns>
                                    <rows >
                                                   
                                        <row value="">  
                                            <cell align="center">   
                                                               
                                                <div class="fa fa-pause text-primary fa-2x" id="cargagestion2"></div>
                                                <!--<button id="Bajar_base_judicial"  iconSclass="z-icon-arrow-circle-right" disabled="false"></button>-->
                                            </cell>
                                        </row>
                                               
                                    </rows>                               
                                </grid> 
                            </div>   
                  
                        </div>    
                  
        
                    <!-- TERMINO />-->
                    
                </tabpanel>
                <tabpanel>
                    <!--<include src="/widgets/tabbox/accordion/auxhead2.zul" />-->
                      
                    <!-- INICIO />-->

                    <div class="row" >   
                    
                        <div class="col-md-6 col-sm-6 col-xs-6" align="left" >
                            <!--<label id="" value="Modulo para cargar la base COBANC"/>-->
                            <!--<separator orient="horizontal" spacing="10px" />--> 
                            <label id="" style="font-weight:bold; color: black;font-size: 20px" value="Instrucciones : "/>  
                            <separator orient="horizontal" spacing="1px" /> 
                            <label id="" value="1) descargar archivo de FTP"/> 
                            <separator orient="horizontal" spacing="1px" /> 
                            <label id="" value="2) cargar archivo"/> 
                        </div>
        
                        <div class="col-md-6 col-sm-6 col-xs-6" align="left" >
                            <label id="" value="Seleccione el archivo: " style="font-weight:bold;"/> 
                            <separator orient="vertical" spacing="3px" /> 
                            <button label="CARGAR GESTION COVENTA" id="btn_cargar2" class="btn btn-primary" >
                            </button>
                            <separator orient="vertical" spacing="6px" />
           
                        </div> 
                    </div>
                 
                    <separator orient="horizontal" spacing="16px" />
           

                   
                        <div class="row" sclass="panel-body" style="background-color: white" align="left" >   
                            <div class="col-md-6 col-sm-6 col-xs-6" align="center" > 
                                <grid id="grillainformes_tareas3">            
                                    <columns>
                                   
                                        <column label="TAREAS" height="36.53px"/>

                                    </columns>
                                    <rows>
                                        <template name="model">
                                            <row value="${each}">                                                              
                                                <cell align="left">    
                                                    <label id="" value="${each.nombre_componente}"/>
                                                </cell>
                               
                                            </row>
                                
                                        </template>
                                    </rows>  
                                </grid>  
                            </div>   
                            <div class="col-md-6 col-sm-6 col-xs-6" align="center" width="95px">
                                <grid id="grillaestados3">            
                                    <columns>
                                        <column label="ESTADO" />
                                    </columns>
                                    <rows >
                                                   
                                        <row value="">  
                                            <cell align="center">   
                                                               
                                                <div class="fa fa-pause text-primary fa-2x" id="cargagestion3"></div>
                                                <!--<button id="Bajar_base_judicial"  iconSclass="z-icon-arrow-circle-right" disabled="false"></button>-->
                                            </cell>
                                        </row>
                                               
                                    </rows>                               
                                </grid> 
                            </div>   
                  
                        </div>    
                  
        
                    <!-- TERMINO />-->
                    
                </tabpanel>
            </tabpanels>
        </tabbox>
            
          
        

    </window>
    <!--</window>-->
</zk>
