<panel id="idpanelchart" apply="siscon.panelbusqueda.NewClassController"  border="normal"  sclass="traffic">
  <caption iconSclass="z-icon-search" label="Busqueda" sclass="small">
  </caption>
  <panelchildren>
    <vlayout>
      <div class="piechart-placeholder"/>
      <separator sclass="double16" bar="true"/>
      <hlayout sclass="sign-group">
        <div hflex="1">
             <label value="Ingresar Rut(Ej:14212287-1) : " sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>
            	<!--<div sclass="nav-search">-->
		<bandbox id="buscarinput" placeholder="Buscar ..." sclass="input-prepend"/>
	      <!--   </div>   -->            
             <button id="btn-find-rut1" label="Buscar" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-success"/>

        </div>
      </hlayout>
    </vlayout>

  </panelchildren>



        
</panel>


