<?link  rel="stylesheet" type="text/css" href="${request.contextPath}/bootstrap.css"?> 
<!-- Google Open Sans font -->   
<!-- Load fonts from local -->
<?link href="${request.contextPath}/fonts.css" rel="stylesheet" type="text/css"?>

<?link href="${request.contextPath}/responsive.css" rel="stylesheet" type="text/css" media="screen"?>
<?link href="${request.contextPath}/index.css.dsp" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/bootstrap.min.css" rel="stylesheet"?>

<!-- MetisMenu CSS -->
<?link href="${request.contextPath}/metisMenu/metisMenu.min.css" rel="stylesheet"?>

<!-- Custom CSS -->
<?link href="${request.contextPath}/sb-admin-2.css" rel="stylesheet"?>

<!-- Custom Fonts -->
<?link href="${request.contextPath}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"?>

<zk>
    <window id="idWinAnalistaRecep" apply="siscon.controller.AnalistaRecepcionController">
        <panel  sclass="panel-primary" border="normal">
            <caption iconSclass="z-icon-inbox" label="Condonaciones Pendientes">
                <!--    <button label="Regla Condonacion" iconSclass="z-icon-mail-forward" onClick="idWinAnalistaRecep$composer.ReglaCondonacion()" sclass="btn btn-sm btn-inverse" visible="true"  />-->
                <!--<button label="RTokenPj" iconSclass="z-icon-mail-forward" onClick="idWinAnalistaRecep$composer.WsPjToken()" sclass="btn btn-sm btn-inverse" visible="true"  />-->
            </caption>
            <panelchildren>
                <grid id="BanEntrAnalista"  emptyMessage="Nothing in Inbox." mold="paging" pageSize="30">
                    <columns>
                        <column label=" " width="40px"  />
                        <column label="ID" width="50px"/>
                        <column label="Fecha" width="150px"/>
                        <column label="Estado"/>
                        <column label="Tot. Capital"/>
                        <column label="Tot. Condonado"/>
                        <column label="Tot. Recibido"/>
                        <column label="Rut Cliente"/>
                        <column label="Aprobar"/>
                        <column label="Reparo"/>
                        <column label="Ver"/>
                    </columns>
                    <template name="model">
                        <row value="${each}">
                            <attribute name="style" if="${each.getNum_reparos()!='0'}">
                                background-color: #CCFF00;
                            </attribute>
                            <detail open="false" sclass="panel-primary">
            
                                <hlayout>
                                    <!--<image sclass="myimg" width="100px" height="100px" src="https://bci.modyocdn.com/uploads/330839ea-750e-449a-af59-351b499bc242/original/AmarilloPose.png" />-->
                                    <!--<image sclass="myimg" width="100px" height="100px" src="http://www.bci.cl/medios/2012/personas/images/amarillo_phishing.jpg" />-->                                      
                                    <!--<button iconSclass="z-icon-mail-forward"></button>-->
                                    <vlayout>
                                        <label value="Detalle Operaci&#243;n" style=" color : #428bca !important; font-weight : bold ; font-size:19px;"  />
                                        <hlayout>
                                            <label value="N Operaciones:" style=" color : black !important; font-weight : bold"/>
                                            <label value="${each.getDi_num_opers()}" sclass="heavy" />
                                        </hlayout>
                                        <hlayout>
                                            <label value="Rut Ejecutivo(a):" style=" color : black !important; font-weight : bold"/>
                                            <label value="${each.getUsuariocondona()}" sclass="heavy" />
                                        </hlayout>
                                        <hlayout>
                                            <label value="Glosa:" style=" color : black !important; font-weight : bold"/>
                                            <label value="${each.getComentario_resna()}" sclass="heavy" />
                                        </hlayout>                                      
                                    </vlayout>
                                </hlayout>
                            </detail>
                            <label value="${each.getId_condonacion()}"/>
                            <label value="${each.getTimestap()}"/>

                            <label value="${each.getEstado()}"/>
                            <label value="${each.getMonto_total_capitalS()}"/>
                            <label value="${each.getMonto_total_condonadoS()}"/>
                            <label value="${each.getMonto_total_recibitS()}"/>
                            <label value="${each.getRutcCliente()}"/>
                            <custom-attributes callback="id_condonacion=${each.getId_condonacion()},rut=${each.getUsuariocondona()}" composite="list"/>
                    
                            <custom-attributes callback2="${each.getId_condonacion()}"/>
                            <button label="Aprobar" iconSclass="z-icon-mail-forward"  sclass="btn btn-sm btn-success" visible="true" onClick="idWinAnalistaRecep$composer.AprobarCondonacion(callback2)" />
                            <zk if="${each.getNum_reparos()!='0'}">
                                <button label="Ver Reparo" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-danger" onClick="idWinAnalistaRecep$composer.MostrarReparos(callback)"   />
                            </zk>  
                            <zk if="${each.getNum_reparos()=='0'}">   
                                <button label="Reparar" iconSclass="z-icon-mail-forward"  sclass="btn btn-sm btn-warning" visible="true" onClick="idWinAnalistaRecep$composer.RepararCondonacion(callback2)" />
                            </zk> 
                            <button label="Mostrar" iconSclass="z-icon-mail-forward" onClick="idWinAnalistaRecep$composer.MostrarCondonacion(callback)" sclass="btn btn-sm btn-inverse" visible="true"  />
                        </row>
                    </template>
                </grid>
            </panelchildren>
        </panel>
    
    </window>
    <script src="${request.contextPath}/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="${request.contextPath}/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="${request.contextPath}/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="${request.contextPath}/js/sb-admin-2.js"></script>
    
</zk>
