<window id="idPoputCapitalInterez" border="none" position="center,center" closable="true" width="50%"
        style="min-width:350px;"
        apply="siscon.controller.ModificaReglaCapitalInterezPoputController">
    
    <style>
        .noActivo {
        color: red;
        }
    </style>
    
    <caption iconSclass="z-icon-plus-square-o noActivo" label="Modificar Regla de Condonaci&#243;n" sclass="small"/>
    
    <div >
        <div align="center" class="col-md-12 col-sm-12 col-xs-12" >
            <div class="row" >
                <div class=" col-md-12">
                    <div  class="row" align="center">
                        <div class="col-md-12">
                            <label value="Porcentaje Inter&#233;s Aplicado : " sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>
                            <label id="id_porcentajeCondInterez" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;" value="${arg.procentajeCondInterez} %" ></label>
                            <separator sclass="double16" bar="true"/>
                            <label value="Porcentaje Capital Aplicada : " sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>
                            <label id="id_porcentajeCondInterezCap" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;" value="${arg.procentajeCondCapital} %" ></label>
                            <separator sclass="double16" bar="true"/>
                            <label value="Porcentaje Honorario Aplicada : " sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>
                            <label id="id_porcentajeCondHon" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;" value="${arg.procentajeCondHono} %" ></label>



                        </div>
                    </div> 
                    
                    <separator sclass="double16" bar="true"/>
                    <hlayout >
                        <grid>
                            <columns>
                                <column />
                                <column />
                                <column />
                                <column />
                                <column />
                                <column />
                            </columns>
                            <rows>
                                
                                <row>

                                    <label id="negoc2" value="Capital: " />
                                    <label id="valueneg2" value="${arg.Total_Capital}" style=" color : black !important; font-weight : bold"/>
                                    <label id="idPorcentageCalculadoCapQueda2" value=""></label>
                                    <label value="Inter&#233;s" sclass="hightlight"/>
                           
                                    <label id="idInterezQueda2" value="${arg.Total_Interes}"  style="color : black !important; font-weight : bold"/>
                                    <label id="idPorcentageCalculadoInterzqueda2" value=""></label>
                                </row> 

                                                               <row>

                                    <label id="negoc3" value="VDE/SGN/Otros: " visible="true" />
                                    <label id="valueneg3" value="${arg.vdes}" style=" color : black !important; font-weight : bold" visible="true"/>
                                    <label id="idPorcentageCalculadoCapQueda3" value="" visible="false"></label>
                                    
                                    <label value="Inter&#233;s Per:" sclass="hightlight"/>
                                   <label id="idInterezQueda3" value="${arg.InteresPersonalizado}"  style="color : black !important; font-weight : bold"/>
                                    <label id="idPorcentageCalculadoInterzqueda3" value=""></label>
                                </row> 
                                <row>
                                    <separator sclass="double16" bar="true"/>
                                    <separator sclass="double16" bar="true"/>
                                    <separator sclass="double16" bar="true"/>
                                    <separator sclass="double16" bar="true"/>
                                    <separator sclass="double16" bar="true"/>
                                    <separator sclass="double16" bar="true"/>

                                </row>
                                <row>

                                    <label id="negoc" value="Capital Simulado: " />
                                    <textbox id="valueneg" value="${arg.Total_Capital}"    disabled="true" style=" color : black !important; font-weight : bold"/>
                                    <label id="idPorcentageCalculadoCapQueda" value=""></label>
               

                                    <label value="Inter&#233;s Simulado:" sclass="hightlight"/>
                                    <textbox id="idInterezQueda" value="${arg.Total_Interes}" disabled="true"   style="color : black !important; font-weight : bold"/>
                                    <label id="idPorcentageCalculadoInterzqueda" value=""></label>
                                </row> 

                        
                            </rows>
                        </grid>
                    </hlayout>
                    <separator sclass="double16" bar="true"/>
                    <div class="row" >
                        <div id="pruebaprint" class="col-md-12" >
                            <div class="row">
                                <label value="Nuevo %condonaci&#243;n  Inter&#233;s:"></label>
                                <textbox id="id_nuevoporcentaje" placeholder="% Condonaci&#243;n Inter&#233;s"></textbox>
                                <label value="Rango Valido [0,100]%"></label>
                                <label value="Monto:"></label>                               
                                <textbox id="id_nuevoAbonoCapitalb" placeholder="Monto Pactado Int."  ></textbox>
                            </div>
                            <separator sclass="double16" bar="true"/>
                            <div class="row">
                                <label value="Nuevo %condonaci&#243;n  Capital:"></label>
                                <textbox id="id_nuevoporcentajeCapital" placeholder="% Condonaci&#243;n Capital"  ></textbox>
                                <label value="Rango Valido [0,90]%"></label>
                                <label value="Monto:"></label>                               
                                <textbox id="id_nuevoAbonoCapitala" placeholder="Monto Pactado Cap."  ></textbox>
                            </div>
                              <separator sclass="double16" bar="true"/>
                            <div class="row">
                                <label value="Nuevo %condonaci&#243;n  Honorarios:"></label>
                                <textbox id="id_nuevoporcentajeHonorarios" placeholder="% Condonaci&#243;n Honorarios:"  ></textbox>
                                <label value="Rango Valido [0,100]%"></label>
                                <label value="Monto Hon:"></label>                               
                                <textbox id="id_nuevoAbonoHonorario" placeholder="Monto Pactado Hon."  ></textbox>
                            </div>
                            <separator sclass="double16" bar="true"/>
                            <div class="row">
                                <label value="Abono Monto Pactado Capital:     "></label>
                                <textbox id="id_nuevoAbonoCapital" placeholder="Abono Capital"></textbox>
                                <label id="idPorcentageCalculadoCap" value=""></label>
                                
                              <!--  <label value="Resto Monto Pactado Capital:     "></label>
                                <label id="id_nuevoAbonoCapital2" ></label>
                                <label id="idPorcentageCalculadoCap2" value=""></label>-->
                                <!-- <textbox id="id_nuevoAbonoCapital" placeholder="Abono Capital" constraint=" /^([0-9][0-9]|30)$/ :Favor Ingresar Monto valido " ></textbox>  -->
                            <separator sclass="double16" bar="true"/>
                            <label value="Resto:     "></label>    
                            <label id="idmuestra" value=""></label>
                            </div>
                        </div>
                    </div>
            
                    <separator sclass="double16" bar="true"/>         
            
                    <div class="row" >
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row" align="center" style="line-height:40px;">
                                <div class="col-md-6 col-sm-12 col-xs-12" height="40px">
                                    <button id="ButtonEnvioBoj" iconSclass="z-icon-send" sclass="btn btn-sm btn-success btn-block" label="Aplicar Nuevo Porcentaje"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</window>