<?xml version="1.0" encoding="UTF-16"?>

<window id="id_wSacabop" apply="siscon.controller.SacabopRetailCampanaController" >
    <style src="/css/widgets/getting_started/grid/style.css" />
     
    <panel  id="panelgrid"   sclass="panel-primary" border="normal">
        <caption iconSclass="z-icon-user" label="Formulario de Condonación" sclass="small"/>
        <panelchildren>
            <vlayout>
                <div class="piechart-placeholder"/>
                <separator sclass="double16" bar="true"/>
                <div align="center">
                    <hlayout sclass="sign-group">
                        <div>
                            <label value="Información del Cliente Rut:" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>
                            <label id="viewrutcliente" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;" ></label>
                           
                        </div>
                        <div>
                            <label value="Valor UF :" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>
                            <label id="idValorUF" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;" ></label>
                        </div>
                    </hlayout>
                </div>
            </vlayout>
            <separator sclass="double16" bar="true"/>

                    <window id ="GG" border="normal" sclass="alert alert-danger" visible="false">           
                                             

      
   
                        

                        <caption id="cptn_tituloo" iconSclass="z-icon-angle-double-right" label="" sclass="small"/>
      
      

                

                                        
                                          
                                                                                    
    
                    </window>      
            <separator sclass="double16" bar="true"/>
            <hlayout >
                <grid>
                    <columns>
                        <column />
                        <column />
                        <column />
                        <column />
                    </columns>
                    <rows>
                        <row>

                            <label id="negoc" value="Ejecutivo Negociador: " />
                            <textbox id="valueneg" value="@bind(fx.userName)"  tabindex="1"  disabled="true" style=" color : black !important; font-weight : bold"/>
                            <label sclass="hightlight">Nro Condonación</label>
                            <textbox id="nro_condonacion" value="@bind(fx.userName)"  tabindex="1" disabled="true" style=" color : black !important; font-weight : bold"/>
                        </row>    
                        <row>
                            <label value="Nombre Cliente : " />
                            <textbox id="id_nomcliente" value="@bind(fx.userName)"  tabindex="1"  disabled="true" style=" color : black !important; font-weight : bold"/>
                            <label sclass="hightlight">Fecha:</label>
                            <textbox id="id_fechahoy" value="@bind(fx.userName)"  tabindex="1" disabled="true" style=" color : black !important; font-weight : bold"/>
                        </row>
                        <row>
                            <label value="Oficina Origen : " />
                            <textbox id="id_oficinaorigen" value="@bind(fx.userName)"  tabindex="1"  disabled="true" style=" color : black !important; font-weight : bold"/>
                            <label value="Ejecutivo Banco" sclass="hightlight" visible="false" ></label>
                            <textbox value="@bind(fx.userName)"  tabindex="1" disabled="true" style=" color : black !important; font-weight : bold" visible="false"  />
                        </row>
                        <row>
                            <label value="Motivo Asignación : " visible="false" />
                            <textbox value="@bind(fx.userName)"  tabindex="1"  disabled="true" visible="false"  style=" color : black !important; font-weight : bold"/>
                            <label value="Monto Total Capital $:" sclass="hightlight"></label>
                            <textbox id="id_saldototalmoroso" value="@bind(fx.userName)"  tabindex="1" disabled="true" style=" color : black !important; font-weight : bold"/>
                        </row>
                    </rows>
                </grid>
         
            </hlayout>



            <separator sclass="double16" bar="true"/>
            <hlayout>
                <grid id="Grid_SacabopXX" fixedLayout="true" sclass="panel-primary"  visible="true" emptyMessage="Nothing in Inbox." mold="paging" pageSize="10">
                    <auxhead>
                        <auxheader colspan="10" >
                           <div class="col-md-12 col-ms-12 col-xs-12" >
                                <div class="row" visible='false'>
                                    <div class="col-md-7 col-ms-7 col-xs-7">
                                        <button id="id_modificaRegla"  label="Modificar  Regla" onClick="id_wSacabop$composer.ModificaReglaCondonacion();" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-primary"></button>
                                        <button id="id_modificaRegla2"  label="Simulador" onClick="id_wSacabop$composer.ModificaReglaCondonacion2();" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-primary"></button>
                                        <button id="id_MostrarGarantias"  label="Garantias" onClick="id_wSacabop$composer.MostrarGarantias();" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-primary"></button>
                                        <button id="id_Sbif"  label="Sbif" onClick="id_wSacabop$composer.MostrarSbif();" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-primary"></button>
                                    </div>
                                    <div class="col-md-5 col-ms-5 col-xs-5">
                                        <div align="right">
                                            <button id="id_IsEspecial" label="Cond. Especial?" onClick="id_wSacabop$composer.Provision()" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-success"></button> 
                                            <button id="id_Provision" label="Provisión" onClick="id_wSacabop$composer.Provision()" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-success"></button> 
                                            <button id="id_Upload" label="Adjuntar" onClick="id_wSacabop$composer.Adjuntar()" iconSclass="z-icon-upload" sclass="btn btn-sm btn-success"></button>
                                            <button id="id_Glosa" label="Glosa" onClick="id_wSacabop$composer.Glosa()" iconSclass="z-icon-edit" sclass="btn btn-sm btn-success" ></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </auxheader>
                    </auxhead>              
                    <columns>
                        <column label=" " width="40px"  />
                        <column label="Operación"  />
                        <column label="Meses Castigo"  />
                        <column label="Capital"  />
                        <column label="Capital A Condonar"  />
                        <column label="Capital A Recibir"  />
                        <column label="Interés"  />
                        <column label="Interés Cond."  />
                        <column label="Interés A Recibir"  />
                        <column label="Hon. Jud."  />
                     <!--   <column label="Interés Personalizado"  />-->
                    </columns>
                    <rows sclass="narrow">
                        <template name="model" >
                            <row value="${each}" >
                                <detail open="false" sclass="panel-primary">
            
                                    <hlayout>
                                      
                                        <vlayout>
                                            <label value="Detalle Operación" style=" color : #428bca !important; font-weight : bold ; font-size:19px;"  />
                                            <hlayout>
                                                <label value="Tipo Operación:" style=" color : black !important; font-weight : bold"/>
                                                <label value="${each.getDetalleCredito()}" sclass="heavy" />
                                            </hlayout>
                                            <hlayout>
                                                <label value="Cedente" style=" color : black !important; font-weight : bold" />
                                                <label value="${each.getCedente()}" sclass="heavy" />
                                            </hlayout>
                                            <hlayout>
                                                <label value="Fecha Castigo:" style=" color : black !important; font-weight : bold"/>
                                                <label value="${each.getFechaCastigo()}" sclass="heavy" />
                                            </hlayout>
                                            <hlayout>
                                                <label value="Fecha Vencimiento:" style=" color : black !important; font-weight : bold" />
                                                <label value="${each.getFechaFencimiento()}" sclass="heavy" />
                                            </hlayout>
                                            <hlayout>
                                                <label value="Dias de Mora:" style=" color : black !important; font-weight : bold" />
                                                <label value="${each.getDiasMora()}" sclass="heavy" />
                                            </hlayout>
                                            <hlayout>
                                                <label value="Marca Renegociado:" style=" color : black !important; font-weight : bold" />
                                                <label value="${each.getMarcaRenegociado()}" sclass="heavy" />
                                            </hlayout> 
      
                                              <label value="Reglas de Calculo Honorario Judicial" style=" color : #428bca !important; font-weight : bold ; font-size:19px;"  />  
                                             <hlayout>
                                                <label value="Tipo:Prejudicial/Judicial:" style=" color : black !important; font-weight : bold" />
                                               
                                                <label value="${each.getHonInf().getPrejudicial()}" sclass="heavy" />
                                            </hlayout>  
                                             <hlayout>
                                                <label value="Regla Calculo:" style=" color : black !important; font-weight : bold" />
                                               
                                                <label value="${each.getHonInf().getReglaDeCalculo()}" sclass="heavy" />
                                            </hlayout>
                                                                                        <hlayout>
                                                <label value="Honorario Judicial Sobre Monto Capital:" style=" color : black !important; font-weight : bold" />
                                              
                                                <label value="${each.getHonorarioJudicialPesos()}" sclass="heavy" />
                                            </hlayout>
                                            <hlayout>
                                                <label value="Honorario Judicial Sobre Monto Capital Recibido:" style=" color : black !important; font-weight : bold" />
                                               
                                                <label value="${each.getHonorarioJudicial2Pesos()}" sclass="heavy" />
                                            </hlayout>                                                                                 
                                        </vlayout>
                                    </hlayout>
            
            
                                </detail>
                                <label value="${each.getOperacion()}" />
                                <label value="${each.getMesesCastigo()}" />
                                <label value="${each.getCapital()}" />
                                <label value="${each.getMontoCondonarPesos()}" style="color:red"/>
                                <label value="${each.getCapitalARecibirPesos()}" style="color:green"/>
                                <label value="${each.getInteres()}" />
                                <label value="${each.getInteresCondonadoPesos()}" style="color:red"/> 
                                <label value="${each.getInteresARecibirPesos()}" style="color:green"/>
                                <label value="${each.getHonorarioJudicial2Pesos()}" style="color:green"/>
                          <!--      <custom-attributes callback="${each.getOperacion()}"/>
                                <button  label="Interés" onClick="id_wSacabop$composer.IngresaInteresPersonalizado(callback);" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-primary"></button>
                            
                                <zk if="${each.getHonorarioJudicial2Float() != '0' }">
                              <popup id="detail_${each.getOperacion()}">
                                            <include src="Ejecutivo/Poput/EjePoputHonorarios.zul"  orderItem="${each}" />
                               </popup>  
                                </zk> -->
                            </row>
                        </template>

                    </rows>
                </grid>  
            </hlayout>
            <hlayout>
            
                <grid>
                    <columns>
                        <column label=" " width="40px"  />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                    </columns>
                    <rows>
                        <row>
                            <label/>
                            <label  value="Montos Totales: " />
                            <label  value=" " />
                            <textbox  id="id_TotalSumaCapital" value="$21554515151"  tabindex="1" width="100px"  disabled="true" style=" color : black !important; font-weight : bold"/>
                            <textbox  id="id_TotalSumaCondonaCapital" value="$21554515151" class="btn-block" tabindex="1" width="100px"  disabled="true" style=" color : black !important; font-weight : bold"/>
                            <textbox  id="id_TotalSumaRecibeCapital" value="$21554515151" class="btn-block" tabindex="1" width="100px"  disabled="true" style=" color : black !important; font-weight : bold"/>
                            <textbox  id="id_TotalSumaInteres" value="$21554515151" class="btn-block" tabindex="1" width="100px" disabled="true" style=" color : black !important; font-weight : bold"/>
                            <textbox  id="id_TotalSumaCondonaInteres" value="$21554515151" class="btn-block" tabindex="1" width="100px" disabled="true" style=" color : black !important; font-weight : bold"/>
                            <textbox  id="id_TotalSumaRecibeInteres" value="$21554515151" class="btn-block" tabindex="1" width="100px" disabled="true" style=" color : black !important; font-weight : bold"/>
                            <textbox  id="id_TotalSumaHonorJud" value="$21554515151" class="btn-block" tabindex="1" width="100px"  disabled="true" style=" color : black !important; font-weight : bold"/>
                        </row>    
                        <row>
                            <label/>
                            <label  value="Monto a Recibir: " style="color:green" />
                            <label  id="idTotalRecibe" value=" " style="color:green" />
                            <label  id="a" value=""  />
                            <label  id="b" value=""  />
                            <textbox  id="id_TotoalParcialCapital" value="$21554515151"  tabindex="1" class="btn-block" disabled="true" style="color:green !important; font-weight : bold" />
                            <label  id="d" value=""  />
                            <label  id="e" value=""   />
                            <textbox  id="id_TotoalParcialInteres" value="$21554515151"  tabindex="1" class="btn-block" disabled="true" style="color:green !important; font-weight : bold"/>
                            <label id="idtotalhonor" value="" style="color:green" />
               
                        </row> 
                        <row>
                            <label/>
                            <label  value="Monto Condonado: "  style="color:red" />
                            <label  id="id_TotalCondona" value=" " style="color:red" />
                            <label  id="g" value=""  />
                            <textbox  id="id_TotoalParcialCondonaCapital" value="$21554515151"  tabindex="1" class="btn-block" disabled="true" style="color:red !important; font-weight : bold" />
                            <label  id="i" value=""  />
                            <label  id="j" value=""  />
                            <textbox  id="id_TotoalParcialCondonaInteres" value="$21554515151"  tabindex="1" class="btn-block" disabled="true" style="color:red !important; font-weight : bold" />
                            <label  id="l" value=""  />
                            <label  value=""   />
                        
                        </row>
                     
                        <row>
                            <label/>
                            <label  value="Capital : " style="color:#b79201"/>
                            <label  id="id_TotlaCapital" value=" " style="color:#b79201"/>
                            <textbox  id="id_TotoalParcialCapita" value="$21554515151"  class="btn-block"  disabled="true" style="color:#b79201 !important; font-weight : bold" />
                            <label  id="n" value=""   />
                            <label  id="o" value=""    />
                            <textbox  id="id_TotoalParcialCapitaInteres" value="$21554515151" class="btn-block"  disabled="true" style="color:#b79201 !important; font-weight : bold" />
                            <label  id="q" value=""    />
                            <label  id="r" value=""     />
                            <textbox  id="id_TotoalParcialCapitaHonor" value="$21554515151"  class="btn-block"  disabled="true" style="color:#b79201 !important; font-weight : bold" />
                          
                        </row>  

                    </rows>
                </grid>   
            
            </hlayout>   
            
            <separator sclass="double16" bar="true"/>
            
            <hlayout>
            
                <grid>
                    <columns>
                        <column label=" " width="40px"  />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                    </columns>
                    <rows>   
                        <row>
                            <label/>
                            <label  value="VDE/SGN : " style="color:green"/>
                            <label  id="id_TotalVDEs" value="$21.600 " style="color:green"/>
                            <textbox  id="id_TotoalParcialCapita2" value="$21554515151"  visible="false" class="btn-block" disabled="true" style="color:#000000 !important; font-weight : bold" />
                            <label  id="n3" value="" visible="false"   />
                            <label  id="o3" value=""  visible="false"   />
                            <textbox  id="id_TotoalParcialCapitaInteres2" value="$21554515151"  visible="false" class="btn-block" disabled="true" style="color:#000000 !important; font-weight : bold" />
                            <label  id="q3" value="" visible="false"    />
                            <label  id="r3" value=""   visible="false"   />
                            <textbox  id="id_TotoalParcialCapitaHonor2" value="$21554515151"  visible="false" class="btn-block"  disabled="true" style="color:#000000 !important; font-weight : bold" />
                          
                        
                        </row>
                        <row>
                            <label/>
                            <label  value="Provisión : " style="color:green"/>
                            <label  id="id_SumaProvision" value="$21.600 " style="color:green"/>
                            <textbox  id="id_TotoalParcialCapita3" value="$21554515151"  visible="false" class="btn-block" disabled="true" style="color:#000000 !important; font-weight : bold" />
                            <label  id="n2" value="" visible="false"   />
                            <label  id="o2" value=""  visible="false"   />
                            <textbox  id="id_TotoalParcialCapitaInteres3" value="$21554515151"  visible="false" class="btn-block" disabled="true" style="color:#000000 !important; font-weight : bold" />
                            <label  id="q2" value="" visible="false"    />
                            <label  id="r2" value=""   visible="false"   />
                            <textbox  id="id_TotoalParcialCapitaHonor3" value="$21554515151"  visible="false"  class="btn-block" disabled="true" style="color:#000000 !important; font-weight : bold" />

                        
                        </row>                       
                          
                        <row>
                            <label/>
                            <label  value="Total Recibe : " style="color:green"/>
                            <label  id="id_TotalTotal" value="$21.600 " style="color:green"/>
                            <textbox  id="id_TotoalParcialCapita4" value="$21554515151"  visible="false"  disabled="true" style="color:#000000 !important; font-weight : bold" />
                            <label  id="n4" value="" visible="false"   />
                            <label  id="o4" value=""  visible="false"   />
                            <textbox  id="id_TotoalParcialCapitaInteres4" value="$21554515151"  visible="false"  disabled="true" style="color:#000000 !important; font-weight : bold" />
                            <label  id="q4" value="" visible="false"    />
                            <label  id="r4" value=""   visible="false"   />
                            <textbox  id="id_TotoalParcialCapitaHonor4" value="$21554515151"  visible="false"   disabled="true" style="color:#000000 !important; font-weight : bold" />
                        </row>   
                    </rows>
                </grid>
            </hlayout>          
            <hlayout >
                <grid>
                    <columns>
                        <column  />
                        <column  />
                        <column  />
                        <column  />
                    </columns>
                    <rows>
                        <row>
                            <label value="Fecha Castigo M&#225;s Antiguo: " />
                            <textbox id="id_PrimerMesDeCondonacion" value="@bind(fx.userName)"  tabindex="1"  disabled="true" style=" color : black !important; font-weight : bold"/>
                            <label  value="Castigo M&#225;s Antiguo" sclass="hightlight"/>
                            <textbox id="id_MesMasAntiguoCastigo" value="@bind(fx.userName)"  tabindex="1" disabled="true" style=" color : black !important; font-weight : bold"/>
                        </row>    
                        <row>
                            <label value="Monto $ Atribución Ejecutivo : "  visible="false"/>
                            <textbox id="id_AtribucionEjecutiva" value="@bind(fx.userName)" visible="false" tabindex="1"  disabled="true" style=" color : black !important; font-weight : bold"/>
                            <label value="Porcentaje de Condonación Ejecutivo" sclass="hightlight"/>
                            <textbox id="id_porcentajeCondoEjecutiva" value="@bind(fx.userName)"  tabindex="1" disabled="true" width="210px" style=" color : black !important; font-weight : bold"/>
                        </row>
                        <row>
                            <label value="Puede Condonar Online : " />
                            <textbox id="id_PuedeCondonarOnline" value="@bind(fx.userName)"  tabindex="1"  disabled="true"  style=" color : black !important; font-weight : bold"/>
                            <label value="Rango Fecha Condonación" sclass="hightlight"></label>
                            <textbox id="id_rangoFechaCondonacion"  value="@bind(fx.userName)"  tabindex="1" disabled="true" style=" color : black !important; font-weight : bold"/>
                        </row>
                    </rows>
                </grid>
            </hlayout>

            <vlayout id="vlayoutmensajje" sclass="page-content" xmlns:n="native" spacing="0" visible="false">
                <window id="id_windowsMessajje" closable="true" border="normal" sclass="alert alert-success">
                    <caption iconSclass="z-icon-check">
                        <!--  Ejecutivo Eric Silvestre Cumple Los Requisitos para Condonar Online-->
                        <label id="id_msgeCona" value="(v1.0)" style="font-weight:bold;font-size:10px;color:#69AA46"/>
                        <separator sclass="double16" bar="true"/>
                        <label value="Sacabobg" style="font-weight:bold;color:#69AA46" />
                        <label  value="(v7.0)" style="font-weight:bold;font-size:10px;color:#69AA46"/>
                    </caption>
                </window>
            </vlayout>   
   
            <vlayout>
                <div class="piechart-placeholder"/>
                <separator sclass="double16" bar="true"/>
                <hlayout sclass="sign-group">
                    <div hflex="1" class="form-group" align="center" >

                        <button id="btn_enviaSacaBopg" autodisable="self" label="Enviar a Aplicación" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-danger" visible="false"  /> 
                    </div>

                </hlayout>
                <hlayout sclass="sign-group">
                    <div hflex="1" class="form-group" align="center" >

                        <button id="btn_GenrarCondonacion" label="Generar Condonación" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-success" visible="false"/> 
                    </div>

                </hlayout>
            </vlayout>

        </panelchildren>
    </panel>
    
</window>
