<?xml version="1.0" encoding="UTF-8"?>
<?init class="sisboj.Negocio.MetAndFun.InicializaPermisos"?> 
<window id="wnd_DetSolMan" border="none" position="center,center" closable="true" title="Reparo"
        apply="" style="max-width:750px;" >
    
    <separator/>
    <style>
        .z-row-background-color-on-select,
        .z-row-background-color-on-select > .z-row-inner,
        .z-row-background-color-on-select > .z-cell {
        background-color: #FFCC00 !important;
        }
                    
        .z-row-background-color-off-select,
        .z-row-background-color-off-select > .z-row-inner,
        .z-row-background-color-off-select > .z-cell {
        background-color: #FFCC00 !important;
        }   
            
        .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
        }
        .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
        }
        .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;
        }
            
        .activo {
        color: green;
        }
        .noActivo {
        color: red;
        }
    </style>

    <div class="panel-body" >
        <div >
            <div class="row" align="center">
                <div class="col-md-12" align="center"> 
                    <div class="row" align="center" height="30px">
                        <div class=" col-md-6" align="left">  
                            <label value="Tio_aux:"/>   
                        </div>
                        <div class=" col-md-6" align="left">     
                            <textbox id="txt_tioAux" width="100px"/>
                        </div>
                    </div>
                    <div class="row" align="center" height="30px">
                        <div class=" col-md-6" align="left">  
                            <label value="Rut Cliente:"/>   
                        </div>
                        <div class=" col-md-6" align="left">  
                            <textbox id="txt_rut" width="100px" />
                        </div>
                    </div>
                    <div class="row" align="center" height="30px">
                        <div class="col-md-6" align="left">  
                            <label value="Operación:"/>   
                        </div>
                        <div class="col-md-6" align="left">     
                            <textbox id="txt_Oper" width="100px"/>
                        </div>
                    </div>
                </div>
            </div>
                    
            <separator/>
            <div style="padding-top:2px; border:normal; padding:0;" class="row panel-body panel panel-default">
                <!--<grid id="grid_Dctos" class="domain" sizedByContent="true" emptyMessage="Nothing in Inbox." mold="paging" pageSize="10" >-->
                <grid id="grd_DetSolMan" class="domain table table-striped table-bordered table-hover" 
                      Style="min-width:400px;max-height:400px;" emptyMessage="No existen registros de Reparos." >
                    <auxhead>
                        <auxheader align="center" colspan="8" style="background-color: #dff0d8;">
                            <label value="Solicitudes Manuales"/>
                        </auxheader>
                    </auxhead>
                    <columns style="background-color: #dff0d8;">
                        <column align="center"  width="30px"> 
                            <checkbox id="chk_AllOper" label=""/>
                        </column>
                        <column label="Id" align="center"  width="30px"/>
                        <column label="Rut" align="center" style="min-width:100px" width="100px"/>
                        <column label="Op. original" align="center" style="min-width:130px" width="130px"/>
                        <column label="Tipo operación" align="center" style="min-width:40px" width="110px"/>
                        <column label="Fecha vencimiento" align="center" style="min-width:100px" width="140px"/>
                        <column label="Días de mora" align="center" style="min-width:100px" width="100px"/>
                        <column label="Estado Boj" align="center" style="min-width:100px" width="100px"/>
                    </columns>
                    <rows style="border:normal">
                        <template name="model">
                            <row value="${each}" >
                                <cell>
                                    <label value="${each.di_IdReparo}"/>
                                </cell>
                                <cell align="left">
                                    <label value="${each.dv_CodReparo}"/> 
                                </cell>
                                <cell align="left">
                                    <label value="${each.dv_DescReparo}"/>
                                </cell>
                                <cell align="center"> 
                                    <div  class="${each.class_Activo} fa-2x"/>
                                </cell>
                                <cell align="left"> 
                                    <label  value="${each.dv_fk_DetTipoReparo}"/>
                                </cell>
                            </row>
                        </template>
                    </rows>
                </grid>
            </div>
        </div>
        <div  align="center" >
            <hlayout>
                <button id="btn_guardar" label="Grabar" iconSclass="z-icon-check" sclass="btn  btn btn-success  btn-sm"/>
                <button id="btn_clear" label="Limpiar" iconSclass="z-icon-times" sclass="btn btn-danger btn-sm "/>
                <button id="btn_cancelar" label="Salir" iconSclass="z-icon-mail-forward" sclass="btn btn-warning btn-sm "/>
            </hlayout>
        </div>
    </div>
</window>
