<div id="sidebar" sclass="sidebar" apply="applications2.SidebarComposer">
	<!-- Shortcuts Button-->
	<div class="shortcuts">
		<!-- Display when expanded -->
		<div class="shortcuts-expanded">
			<button type="button" class="btn-success" iconSclass="z-icon-signal"/>
						<button type="button" class="btn-warning" iconSclass="z-icon-group"/>
                        <button type="button" class="btn-danger" iconSclass="z-icon-cogs"/>
                                                <button type="button" class="btn-info" iconSclass="z-icon-pencil"/>

			
		</div>
		<!-- Display when collapsed -->
		<div class="shortcuts-collapsed">
			<button type="button" class="btn-success"/>
                        			<button type="button" class="btn-warning"/>
			<button type="button" class="btn-danger"/>
                                                <button type="button" class="btn-info"/>

			
		</div>
	</div>
	<!-- Navigation List -->
	<navbar id="navbar" sclass="nav-list" orient="vertical">
		<navitem label="Menu" iconSclass="z-icon-dashboard" selected="true"/>
                <navitem  label="Solicitudes" iconSclass="z-icon-text-width"  >
                    <attribute name="onClick">
                                  <!--  pageref.src = null;
                                    pageref.src = "Bandeja.zul";-->
                                    pageref.setSrc("Bandeja.zul");
                        
                    </attribute>
                    
                </navitem>
                
                   <navitem  label="Boveda  " iconSclass="z-icon-text-width"  >
                    <attribute name="onClick">
                                  <!--  pageref.src = null;
                                    pageref.src = "Bandeja.zul";-->
                                    pageref.setSrc("Bandeja.zul");
                        
                    </attribute>
                    
                </navitem>
                                  <navitem  label="Control Documental BOJ  " iconSclass="z-icon-text-width"  >
                    <attribute name="onClick">
                                  <!--  pageref.src = null;
                                    pageref.src = "Bandeja.zul";-->
                                    pageref.setSrc("Bandeja.zul");
                        
                    </attribute>
                    
                </navitem>
             <navitem  label="Control y Asignacion BOJ  " iconSclass="z-icon-text-width"  >
                    <attribute name="onClick">
                                  <!--  pageref.src = null;
                                    pageref.src = "Bandeja.zul";-->
                                    pageref.setSrc("Bandeja.zul");
                        
                    </attribute>
                    
                </navitem>    
                <navitem  label="Mantenedores " iconSclass="z-icon-text-width"  >
                    <attribute name="onClick">
                                  <!--  pageref.src = null;
                                    pageref.src = "Bandeja.zul";-->
                                    pageref.setSrc("Bandeja.zul");
                        
                    </attribute>
                    
                </navitem>
                
                                 
                   
                 <navitem  label="Control Parametrico " iconSclass="z-icon-text-width"  >
                    <attribute name="onClick">
                                  <!--  pageref.src = null;
                                    pageref.src = "Bandeja.zul";-->
                                    pageref.setSrc("Bandeja.zul");
                        
                    </attribute>
                    
                </navitem>  
                
                                           <navitem  label="Entrega BOJ " iconSclass="z-icon-text-width"  >
                    <attribute name="onClick">
                                  <!--  pageref.src = null;
                                    pageref.src = "Bandeja.zul";-->
                                    pageref.setSrc("Bandeja.zul");
                        
                    </attribute>   
                                           </navitem>          
		<nav label="Hitos" iconSclass="z-icon-desktop">
			<navitem label="Opcion #1" iconSclass="z-icon-angle-double-right"/>
			<navitem label="Opcion #2" iconSclass="z-icon-angle-double-right"/>
			<navitem label="Opcion #3" iconSclass="z-icon-angle-double-right"/>
			<navitem label="Opcion #4" iconSclass="z-icon-angle-double-right"/>
			<navitem label="Opcion #5" iconSclass="z-icon-angle-double-right"/>
			<nav label="Usuarios" iconSclass="z-icon-angle-double-right" sclass="grey">
				<navitem label="Listar" iconSclass="z-icon-leaf"/>
				<nav label="Agregar Hito" iconSclass="z-icon-pencil">
					<navitem label="Add Product" iconSclass="z-icon-plus"/>
					<navitem label="View Products" iconSclass="z-icon-eye"/>
				</nav>
			</nav>
		</nav>
                <!--
		<nav label="Tables" iconSclass="z-icon-list">
			<navitem label="Simple &amp; Dynamic" iconSclass="z-icon-angle-double-right"/>
			<navitem label="jqGrid plugin" iconSclass="z-icon-angle-double-right"/>
		</nav>
		<nav label="Forms" iconSclass="z-icon-edit">
			<navitem label="Form Elements" iconSclass="z-icon-angle-double-right"/>
			<navitem label="Wizard &amp; Validation" iconSclass="z-icon-angle-double-right"/>
			<navitem label="Wysiwyg &amp; Markdown" iconSclass="z-icon-angle-double-right"/>
			<navitem label="Dropzone File Upload" iconSclass="z-icon-angle-double-right"/>
		</nav>
		<navitem label="Widgets" iconSclass="z-icon-list-alt" />
		<navitem id="calitem" label="Calendar" iconSclass="z-icon-calendar" sclass="notify" tooltip="calpp, position=end_center, delay=0"/>
		<navitem label="Gallery" iconSclass="z-icon-picture-o"/>
		<nav label="More Pages" iconSclass="z-icon-tag">
			<navitem label="User Profile" iconSclass="z-icon-angle-double-right"/>
			<navitem label="Inbox" iconSclass="z-icon-angle-double-right"/>
			<navitem label="Pricing Tables" iconSclass="z-icon-angle-double-right"/>
			<navitem label="Invoice" iconSclass="z-icon-angle-double-right"/>
			<navitem label="Timeline" iconSclass="z-icon-angle-double-right"/>
			<navitem label="Login &amp; Register" iconSclass="z-icon-angle-double-right"/>
		</nav>
		<nav label="Other Pages" badgeText="5" iconSclass="z-icon-file-o">
			<navitem label="FAQ" iconSclass="z-icon-angle-double-right"/>
			<navitem label="Error 404" iconSclass="z-icon-angle-double-right"/>
			<navitem label="Error 500" iconSclass="z-icon-angle-double-right"/>
			<navitem label="Grid" iconSclass="z-icon-angle-double-right"/>
			<navitem label="Blank Page" iconSclass="z-icon-angle-double-right"/>
		</nav>-->
	</navbar>
	<!-- Toggler -->
	<div sclass="sidebar-collapse">
		<a id="toggler" iconSclass="z-icon-angle-double-left"/>
	</div>
	<!-- Tooptip for Calender Navitem -->
	<popup id="calpp" zclass="tooltip" sclass="right tooltip-error cal">
		<span zclass="tooltip-arrow"/>
		<label zclass="tooltip-inner" value="2 Important Event"/>
	</popup>
</div>