<?xml version="1.0" encoding="UTF-16"?>
<zk>
    <window id="idWinAnalistaRecep" apply="">
        <panel  sclass="panel-primary" border="normal">
            <caption iconSclass="z-icon-inbox" label="Reporte Directorio">
               
            </caption>
            
            <panelchildren>
                <grid id="grd_directorio"  emptyMessage="Sin información para directorio" mold="paging" pageSize="30">
                    <columns>
                        <column label="Oficina"  />
                        <column label="Nombre cliente" />
                        <column label="Rut cliente"/>
                        <column label="Operación"/>
                        <column label="Fecha castigo"/>
                        <column label="Operación"/>
                        <column label="Operación"/>
                        <column label="Operación"/>
                        <column label="Operación"/>
                        <column label="Operación"/>
                        <column label="Operación"/>
                        <column label="Operación"/>
                        <column label="Operación"/>
                        <column label="Operación"/>
                        <column label="Operación"/>
                    </columns>
                    
                </grid>
            </panelchildren>
        </panel>
    </window>

</zk>
