<zk>
    <window id="_idWinreparo" title="Reparar Condonaci&#243;n" width="70%" border="normal"     apply="siscon.controller.AnReparoPoputController">


        <panel >
            <caption iconSclass="z-icon-tasks" label="Reparar" sclass="small"/>
            <panelchildren>
                <vlayout>
                    <div class="piechart-placeholder"/>
                
                    <hlayout sclass="sign-group">
                        <div hflex="1" class="form-group" >
                            <label value="Identificador Condonaci&#243;n : " sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>
                            <label id="id_txtCodBarLote" value="${arg.id_condonacion}"/>
                        </div> 
                    </hlayout>
                </vlayout>
     
                <hlayout >
                    <grid id="usruaios_gridPassChange" vflex="1" visible="true">
                        <columns>
                                    
                            <column label="Tipo" width="150px" />
                            <column label="Contenido" />
                        </columns>
                        <rows>
                            <row>
                                Motivo Reparo:
                                <textbox id="motivoReparo" class="input-group-block"/>
                            </row>
                            <!--     <row>
                                Motivo Reparo:
                                <textbox id='usruaios_oldpass' value="" width="150px" />
                            </row>-->
                            <row>
                                Glosa Reparo:
                                <textbox id='usruaios_oldpass2' value="" width="2000px" />
                            </row>
 

                        </rows>
                    </grid>
                </hlayout>  
                <hlayout sclass="sign-group">
                    <div hflex="1">
                        <!--  <button id="ButtonGuardarDoc" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-success" label="Guardar" />-->
                    </div>
                    <div hflex="1">
                        <button id="_idReparoDoc" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-warning" label="Reparar Condonaci&#243;n" />
                    </div>
                    <div hflex="1">
                        <button id="closeButton" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-primary" label="Close"  />
                    </div>
                </hlayout>
            </panelchildren>
    
    
    
    
        </panel>
        <textbox id='id_condonacion' value="${arg.id_condonacion}" width="150px" visible="false" />

    </window>
    
</zk>
