<?page id="BovBandPrin" ?>
<?link  rel="stylesheet" type="text/css" href="${request.contextPath}/bootstrap.css"?> 
<!-- Google Open Sans font -->   
<!-- Load fonts from local -->
<?link href="${request.contextPath}/css/fonts.css" rel="stylesheet" type="text/css"?>

<?link href="[@spring.url '/css/responsive.css'/]" rel="stylesheet" type="text/css" media="screen"?>
<?link href="${request.contextPath}/index.css.dsp" rel="stylesheet" type="text/css"?>
<?link href="[@spring.url '/css/bootstrap.min.css']" rel="stylesheet"?>

<!-- MetisMenu CSS -->
<?link href="[@spring.url '/metisMenu/metisMenu.min.css']" rel="stylesheet"?>

<!-- Custom CSS -->
<?link href="[@spring.url '/css/sb-admin-2.css']" rel="stylesheet"?>
<?init class="sisboj.Negocio.MetAndFun.InicializaPermisos"?> 
<!-- Custom Fonts -->
<?link href="[@spring.url '/font-awesome/css/font-awesome.min.css']" rel="stylesheet" type="text/css"?>



<zk>
    <div class="container">	
        <div style="margin-top:10px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div id="BandHitosErr" class="panel panel-danger" apply="sisboj.Vistas.controlesGenerales.BandEntrController">
                <div class="panel-heading">
                    <div id="BandejaEntradaBov" sclass="panel-title">
                        <span sclass="${Icono}"/>
                        <label value="${Bandeja}"/>
                    </div>
                </div>
                <div style="padding-top:2px; border:normal; padding:0" width="100%" class="panel-body">
                    <vlayout hflex="1" >
                        <grid id="BanEntr"  sizedByContent="true" emptyMessage="Nothing in Inbox." mold="paging" pageSize="10" sclass="domain">
                            <columns >
                                <column label="N Solicitud" width="87px" sort="auto(numsol)"/>
                                <column label="Hito" style="min-width:100px" width="200" sort="auto(hito)"/>
                                <column label="Cant. Dctos." width="150px" sort="auto(numDctos)"/>
                                <column label="Estado Sol." width="100px"/>
                            </columns>
                            <template name="model">
                                <row value="${each}">
                                    <label value="${each.numsol}"/>
                                    <label value="${each.hito}"/>
                                    <label value="${each.numDctos}"/>
                                    <label value="${each.estado}"/>
                                </row>
                            </template>
                        </grid>
                     </vlayout>
                </div>
                <div class="panel-footer">
                    
                </div>
            </div>
        </div>
    </div>
        <script src="${request.contextPath}/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="${request.contextPath}/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="${request.contextPath}/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="${request.contextPath}/js/sb-admin-2.js"></script>
   
</zk>
