<?init class="sisboj.Negocio.MetAndFun.InicializaPermisos"?> 
<?link  rel="stylesheet" type="text/css" href="${request.contextPath}/css/bootstrap.css"?> 
<!-- Google Open Sans font -->   
<!-- Load fonts from local -->
<?link href="${request.contextPath}/css/fonts.css" rel="stylesheet" type="text/css"?>

<!-- Unmark if we want to use fonts from google server
<?link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'?>
-->
<?link href="${request.contextPath}/index.css.dsp" rel="stylesheet" type="text/css"?>
<zk>
    <div height="100%">
        <vlayout sclass="page-content" xmlns:n="native" spacing="0" height="100%">
            <div sclass="page-header">
                <label value="${tituloPag}"/>   
            </div>
            <include id="alerta" />
            <separator height="12px"/>
            <vlayout spacing="24px" apply="sisboj.Vistas.controlesGenerales.PagContController">
                <include id="PagBov" hflex="7" height="100%" style="min-height:100%"/>
                <include id="pagDetBov" hflex="5" height="100%" style="min-height:100%"/>
                <include id="pagSegDetBov" hflex="5" height="100%" style="min-height:100%"/>
            </vlayout>
        </vlayout>
    </div>
</zk>