<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <window id="win_sodexo" apply="Vistas.controlesGenerales.PlanExperiencia.Escucha.Ingreso">
        <style>
            .z-row-background-color-on-select,
            .z-row-background-color-on-select > .z-row-inner,
            .z-row-background-color-on-select > .z-cell {
            background-color: #FFCC00 !important;
            }
                    
            .z-row-background-color-off-select,
            .z-row-background-color-off-select > .z-row-inner,
            .z-row-background-color-off-select > .z-cell {
            background-color: #FFCC00 !important;
            }   
        
            .StyleColumn{
            font-family: 'Open Sans';
            font-size: 13px;color: #707070;
            font-weight: bold;
            }

            /**Center + Mask Busy**/

            #zk_showBusy {
            visibility: inherit;
            }
            #zk_showBusy-m{
            
            left: 0px; top: 0px; z-index: 30999; width: 816px; height: 766px;
            }
            #zk_showBusy-t{
            
            left: 342px; top: 317px;
            
            }       
            .z-loading-indicator, .z-apply-loading-indicator {
            color: #363636;
            border: 0px solid transparent;
            background: transparent;
            white-space: nowrap;
            }
     
            .z-loading, .z-apply-loading {
            border: 0px solid #cfcfcf;
            padding: 0px;
            background: transparent;
            position: absolute;
            cursor: wait;
            white-space: nowrap;
            left:300px;
            top:300px
            }
       
            #zk_proc-t{
            
            left: 342px; 
            top: 317px;
           
            }       
         
            #zk_proc {
            left: 342px; 
            top: 317px;
            
            }        
            .z-apply-loading-icon,.z-loading-icon,    
            .z-renderdefer {
            border: 16px solid #6fb3e0;
            border-radius: 50%;
            border-top: 16px solid #87b87f;
            border-right: 16px solid #ffb752;
            border-bottom: 16px solid #d15b47;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            background-image:url('https://bci.modyocdn.com/uploads/330839ea-750e-449a-af59-351b499bc242/original/AmarilloPose.png');
            background-size: 90px 90px;
            background-repeat: no-repeat;
            }

            @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
            }

      
        </style>
        <separator orient="horizontal" spacing="4px" /> 
       
                    
        <div class="col-md-12 col-sm-12 col-xs-12" align="CENTER" >
           
            <grid align="center">
                <columns >
                    <column label="" align="left" width="30%"/>
                    <column label="" align="left" width="20%"/>
                    <column label="" align="left" width="20%"/>
                    <column label="" align="left" width="30%"/>
                </columns>
                <rows>
                    <row>
                        <cell >  <!--  celda 1-->   
                            <label id="" value="Reunión C. Servicio" style="font-weight: bold;"/>
                            <separator orient="horizontal" spacing="3px" />
                            <combobox>
                                <comboitem label="DATO 1"/>
                            </combobox>
                            <separator orient="vertical" spacing="3px" />
                            <button label="Mas.."  class="btn btn-primary"></button>
                        </cell>	
                        <cell >  <!--  celda 2-->   
                            <label id="" value="Fecha Reserva" style="font-weight: bold;"/>
                            <separator orient="horizontal" spacing="3px" />                       
                            <datebox id="db6" />
                        </cell>	
                        <cell >  <!--  celda 3--> 
                            <label id="" value="Contraparte" style="font-weight: bold;"/>
                            <separator orient="horizontal" spacing="3px" />     
                            <textbox value=""/>
                        </cell>
                        <cell >  <!--  celda 1-->   
                            <label id="" value="Area" style="font-weight: bold;"/>
                            <separator orient="horizontal" spacing="3px" />     
                            <combobox>
                                <comboitem label="Area Normaliza"/>
                            </combobox>
                            <separator orient="vertical" spacing="3px" /> 
                            <label id="" value=" - responsable"/>
                                
                        </cell>		
                    </row>
                    <row>
                           
                        <cell >  <!--  celda 2-->   
                            <label id="" value="Fecha Compromiso" style="font-weight: bold;"/>
                            <separator orient="horizontal" spacing="3px" />   
                            <datebox id="dbd"/>
                        </cell>	
                        <cell >  <!--  celda 3-->   
                            <label id="" value="Estado" style="font-weight: bold;"/>
                            <separator orient="horizontal" spacing="3px" />                       
                            <separator orient="vertical" spacing="3px" /> 
                            <combobox>
                                <comboitem label="PROCESO"/>
                                <comboitem label="TERMINADO"/>
                            </combobox>
                        </cell> 
                        <cell >  <!--  celda 1-->   
                            <label id="" value="Fecha Cierre" style="font-weight: bold;"/>
                            <separator orient="horizontal" spacing="3px" />  
                            <datebox id="db2"/>
                        </cell>	
                        <cell >  <!--  celda 2-->   
                                
                        </cell>	
                    </row>
                    <row>  
                        <cell >  <!--  celda 2--> 
                            <label id="" value="Descripción" style="font-weight: bold;"/>
                            <separator orient="horizontal" spacing="3px" />  
                            <textbox rows="5" cols="40" focus="true" class="form-control"/>    
                        </cell>	
                        <cell >  <!--  celda 3-->   
                        </cell> 
                        <cell >  <!--  celda 1-->   
                        </cell>	
                        <cell >  <!--  celda 2-->   
                          
                        </cell>	
                    </row>
                    <row>
                        <cell >  <!--  celda 1-->   
                        </cell>	
                        <cell >  <!--  celda 2-->   
                        </cell>
                        <cell >  <!--  celda 2-->   
                        </cell>	
                        <cell align="right">  <!--  celda 3-->   
                            <button label="GUARDAR" class="btn btn-primary"></button> 
                        </cell>	
                    </row>
                </rows>
		
            </grid>
                  
                
                
           
        
          
        </div>
     
        
        <separator orient="horizontal" spacing="16px" />
        
  
        
        
    </window>
</zk>
