<window id="resultWin" border="none" position="center,center" closable="true" width="50%"
        style="min-width:350px;"
        apply="siscon.controller.ModificaReglaPoputController">
    
    <style>
        .noActivo {
        color: red;
        }
    </style>
    
    <caption iconSclass="z-icon-plus-square-o noActivo" label="Modificar Regla de Condonaci&#243;n" sclass="small"/>
    
    <div >
        <div align="center" class="col-md-12 col-sm-12 col-xs-12" >
            <div class="row" >
                <div class=" col-md-12">
                    <div  class="row" align="center">
                        <div class="col-md-12">
                            <label value="Porcentaje Condonaci&#243;n Inter&#233;s Aplicada : " sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>
                            <label id="id_porcentajeCondInterez" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;" value="${arg.procentajeCondInterez}" ></label>
                        </div>
                    </div> 
                    
                    <separator sclass="double16" bar="true"/>
 
                    <div class="row" >
                        <div id="pruebaprint" class="col-md-12" >
                            <div class="row">
                                <label value="Nuevo %condonaci&#243;n :"></label>
                                <textbox id="id_nuevoporcentaje" placeholder="% Condonaci&#243;n Inter&#233;z" constraint=" /^([0-9][0-9]|30)$/ :Favor Ingresar % valido " ></textbox>
                                <label value="Rango Valido [0,30]%"></label>
                            </div>
                        </div>
                    </div>
            
                    <separator sclass="double16" bar="true"/>         
            
                    <div class="row" >
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row" align="center" style="line-height:40px;">
                                  <div class="col-md-6 col-sm-12 col-xs-12" height="40px">
                                    <button id="ButtonEnvioBoj" iconSclass="z-icon-send" sclass="btn btn-sm btn-success btn-block" label="Aplicar Nuevo Porcentaje"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</window>