<?xml version="1.0" encoding="UTF-8"?>
<?page id="mantReparos" ?>
<?link  rel="stylesheet" type="text/css" href="${request.contextPath}/bootstrap.css"?> 
<?link href="${request.contextPath}/morris.css" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/fonts.css" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/sb-admin-2.css" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/font-awesome.min.css" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/responsive.css" rel="stylesheet" type="text/css" media="screen"?>
<?link href="${request.contextPath}/index.css.dsp" rel="stylesheet" type="text/css"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <window id="win_GARANTIASPOR" border="none" zclass="z-window-popup" position="center,center" closable="true" apply="Vistas.controlesGenerales.MallaDetalleGARANTIASPOR" style="width:950px; height:500px">
        <vlayout sclass="page-content" xmlns:n="native" spacing="0" height="100%">
            <div class="col-md-12 col-sm-12 col-xs-12" align="center"> 
             
                <div class="row">  
                    <div class="col-md-12 col-sm-12 col-xs-12" align="center"> 
                        <div sclass="page-header" align="center">
                            <label id="titulodetalle" value="${arg.titulodetalle}" style="font-weight:bold" />   
                        </div>
                        <div align="right"> 
                            <button id="closeButton"  Sclass ="btn btn-danger" label="VOLVER"></button>
                        </div>   
                        <div align="left">
                            <label id="comentario" value="Comentario: Afecta principalmente a ..."/>
<!--                            <separator orient="horizontal" spacing="1px" /> 
                            <label id="impacto" value="Impacto: MEDIO"/>-->
                        </div>
                      
                    </div>  
                </div>
                <timer id="timer" delay="40000" repeats="true">
                </timer>
                <separator height="12px"/>
                <div class="row">  
                    <div class="col-md-12 col-sm-12 col-xs-12" align="center" > 
                    
                        <tabbox id="tb" height="300px">
                            <tabs id="tabs">
                                <tab id="A" label="TAREAS" />
                                <tab id="B" label="REGLAS VALIDACIÓN" />
                                <tab id="C" label="ACCIONES" />
                                <tab id="tab_informacion" label="INFORMACIÓN" />
                                
                            </tabs>
                            <tabpanels>
                                
                                <tabpanel>
                                      <hlayout width="99%" height="99%" style="border:1px solid black;overflow:auto;">
                                    <div class="row" sclass="panel-body" style="background-color: white">   
                                        <div class="col-md-5 col-sm-5 col-xs-5" align="center" > 
                                            <grid id="grillainformes_tareas">            
                                                <columns>
                                   
                                                    <column label="TAREAS"  height="36.53px"/>
                                                    <!--                                                    <column label="ESTADO"/>                                     -->
                                                </columns>
                                                <rows>
                                                    <template name="model">
                                                        <row value="${each}">                                                              
                                                            <cell align="left">    
                                                                <label id="" value="${each.nombre_componente}"/>
                                                            </cell>
                                                            <!--                                                            <cell align="center"> 
                                                                <button id=""  label="STATUS" disabled="false" class="btn btn-danger"></button>
                                                            </cell>-->
                                    
                                                        </row>
                                
                                                    </template>
                                                </rows>  
                                            </grid>  
                                        </div>   
                                        <div class="col-md-2 col-sm-2 col-xs-2" align="center"  width="95px">
                                            <grid id="grillaestados">            
                                                <columns>
                                                    <column label="ESTADO"/>
                                                </columns>
                                                <rows >
                                                   
                                                    <row value=""><!--  filta 1-->
                                                        <cell align="center">  <!--  celda 1-->
                                                             
                                                            <div class="fa fa-pause text-primary fa-2x" id="GENERICO" ></div>    
                                                            <!--<button id="RENE_NOVA"  label="STATUS" disabled="false" class="btn btn-danger"></button>-->
                                                        </cell>
                                                    </row>
                                                  
                                                  
      
                                                </rows>                               
                                            </grid> 
                                        </div>   
                                        <div class="col-md-4 col-sm-4 col-xs-4" align="center" >
                                            <grid id="grillainformes">            
                                                <columns>
                                                    <column label="Reportes Asociados"/>
                                                </columns>
                                                <rows >
                                                    <template name="model">
                                                        <row value="${each}"><!--  filta 1-->
                                                            <cell align="left">  <!--  celda 1-->
                                                                <label id="" value="${each.nombre_componente}"/>
                                                            </cell>
                                                        </row>
                                                    </template>
                                                </rows>                               
                                            </grid> 
                                        </div>   
                                    </div>    
                                </hlayout>
                                </tabpanel>
                                <tabpanel>This is panel B</tabpanel>
                                <tabpanel>This is panel C</tabpanel>
                                <tabpanel >
          
                                    
                                    
                                    <div class="col-md-12 col-sm-12 col-xs-12" align="center" > 
                                        <grid >
               
               
                                            <columns>
                                                <column label=""/>
                                                <column label=""/>
                                                <column label=""/>
                                                <column label=""/>
                                            </columns>
                                            <rows>
                                                <row><!--  filta 1-->
                                                    <cell align="center">  <!--  celda 1-->
                                   
                                   
                                                        <label id="nombrep1" value="Nombre Proceso"/>
                                                        <separator/>
                                                        <textbox id="nombreproceso"  style="color:black !important;" disabled="true"/>
                                 
                                  
                                                    </cell>
                                                    <cell align="center">  <!--  celda 2-->
                                                        <label id="destino1" value="Tabla Destino"/>
                                                        <separator/>
                                                        <textbox id="destino" style="color:black !important;" disabled="true"/>
                                     
                                                    </cell>
                                                    <cell align="center">  <!--  celda 3-->
                                   
                                                        <label id="origen1" value="Interfaz de Origen"/>
                                                        <separator/>
                                                        <textbox id="origen"  style="color:black !important;" disabled="true"/>
                                    
                                   
                                                    </cell>
                                                    <cell align="center">  <!--  celda 1-->
                                   
                                                        <label id="job1" value="Job"/>
                                                        <separator/>
                                                        <textbox id="job"  style="color:black !important;" disabled="true"/>
                                    
                                   
                                                    </cell>
                                                </row>
                                                <row><!--  filta 2-->
                               
                                                    <cell align="center">  <!--  celda 2-->
                                   
                                                        <label id="integration1" value="Integration Services"/>
                                                        <separator/>
                                                        <textbox id="integration"   style="color:black !important;" disabled="true" />                                                 
                            
                                                    </cell>
                                                    <cell align="center">  <!--  celda 3-->
<!--                                                        <label id="archivocarga1" value="Archivo Carga"/>
                                                        <separator/>
                                                        <textbox id="archivo_carga"   style="color:black !important;" disabled="true" />                                                 
                             
                                  -->
                                                    </cell>
                                                    <cell align="center">  <!--  celda 1-->
                                   
<!--                                                        <label id="tipo_carga1" value="Tipo de Carga"/>
                                                        <separator/>
                                                        <textbox id="tipo_carga"  style="color:black !important;" disabled="true"/>
                                   -->
                                                    </cell>
                                                    <cell align="center">  <!--  celda 2-->
<!--                                                        <label id="responsable1" value="Responsable de Proceso"/>
                                                        <separator/>
                                                        <textbox id="responsable"  style="color:black !important;" disabled="true"/>
                                   -->
                                  
                                                    </cell>
                                                </row>
                                                <row><!--  filta 3-->
                                                    <cell align="center">  <!--  celda 3-->
                                                        <label id="Periocidad1" value="Periocidad"/>
                                                        <separator/>
                                                        <textbox id="periodicidad"  style="color:black !important;" disabled="true"/>
                                      
                                 
                                                    </cell>
                                                    <cell align="center">  <!--  celda 1-->
                                 
                                                        <label id="tiempo1" value="Tiempo Estimado"/>
                                                        <separator/>
                                                        <textbox id="tiempo"  style="color:black !important;" disabled="true"/>
                                    
                                 
                                                    </cell>
                                                    <cell align="center">  <!--  celda 2-->
                                                        <label id="anexosoporte1" value="Anexo Soporte"/>
                                                        <separator/>
                                                        <textbox id="anexosoporte"  style="color:black !important;" disabled="true"/>
                                    
                                   
                                                    </cell>
                                                    <cell align="center">  <!--  celda 3-->   
                                                        <label id="correosoporte1" value="Correo Soporte"/>
                                                        <separator/>
                                                        <textbox id="correosoporte"  style="color:black !important;" disabled="true" />
                                    
                                                    </cell>
                                                </row>
                            
                                                <row><!--  filta 5-->
                                                    <cell align="center">  <!--  celda 1-->
                                                        <label id="descripcion1" value="Descripción"/>
                                                        <separator/>
                                                        <textbox id="descripcion"  style="color:black !important;" disabled="true"/>
                                    
                                  
                                                    </cell>
                                                    <cell align="center">  <!--  celda 2-->
                                 
                                                        <label id="obv1" value="Observaciones"/>
                                                        <separator/>
                                                        <textbox id="obv"  style="color:black !important;" disabled="true"/>
                                    
                                 
                                                    </cell>
                             
                            
                                                </row>
                                            </rows>
                    
                                        </grid>  
                                    </div>                
                                </tabpanel>
                               
                            </tabpanels>
                        </tabbox> 
                        
                    </div>  
                </div>
            </div>    
          
        </vlayout>
    </window>
</zk>
