<?xml version="1.0" encoding="UTF-8"?>
<?page id="mantReparos" ?>
<?link  rel="stylesheet" type="text/css" href="${request.contextPath}/bootstrap.css"?> 
<?link href="${request.contextPath}/morris.css" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/fonts.css" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/sb-admin-2.css" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/font-awesome.min.css" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/responsive.css" rel="stylesheet" type="text/css" media="screen"?>
<?link href="${request.contextPath}/index.css.dsp" rel="stylesheet" type="text/css"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <window id="jobfaield211" apply="Vistas.controlesGenerales.AuditoriasNormaliza.Auditoria.IndicadorAvanceController">  
        <div class="col-md-12">
            <div class="form-group" align="CENTER" >
           
                  
             <tabbox id="tb" width="100%" height="380px" mold="accordion">
    <tabs>
        <tab label="AVANCE AUDITORIAS" />
        <!--<tab label="GRAFICO" />-->
        <!--<tab label="RESPONSABLE" />-->
    </tabs>
    <tabpanels>
        <tabpanel>
            <!--aqui va la tercera grilla--> 
             <grid id="grillainformes" span="true"   vflex="min"  mold="paging" pageSize="10">            
                    <columns style="background-color: #4F99C6;"> 
                        <column label="Año"   align="center" style="color: white;" sort="auto(Año) " width="100px"/>
                        <column label="01: Abierto"   align="center" style="color: white;" sort="auto(Abierto) " width="120px"/>
                        <column label="02: Cerrado por Normaliza"  align="center" style="color: white;" sort="auto(CerradoporNormaliza)" width="120px"/>   
                        <column label="03: Cerrado x Contraloría"   align="center" style="color: white;" sort="auto(CerradoxContraloria)" width="120px"/>         
                        <column label="Cbza Banco"   align="center" style="color: white;" sort="auto(CbzaBanco)" width="120px"/> 
                        <column label="Total General"   align="center" style="color: white;" sort="auto(Totalgeneral)" width="120px"/>         
 
            
                    </columns>
                    <rows >
                        <template name="model">
                            <row value="${each}" height="40px" >     
                             <cell align="center">    
                                    <label id="" value="${each.getAño()}"/>
                         
                                </cell>
                                <cell align="center">    
                                    <label id="" value="${each.getAbierto()}"/>
                         
                                </cell>
                                <cell align="center">    
                                    <label id="" value="${each.getCerradoporNormaliza()}"/>
                         
                                </cell>

                                <cell align="center">    
                                    <label id="" value="${each.getCerradoxContraloria()}"/>
                         
                                </cell>
                                <cell align="center">    
                                    <label id="" value="${each.getCbzaBanco()}"/>
                         
                                </cell>

                                <cell align="center">    
                                    <label id="" value="${each.getTotalgeneral()}"/>
                         
                                </cell>
                                  <cell align="center">    
                                    <label id="" value="${each.getTotalgeneral()}"/>
                         
                                </cell>
                             
                            </row>
                                
                        </template>
                    </rows>  
                </grid>
                <!--<separator bar="true"/>-->
                <!--<separator height="5px"/>-->
               
        </tabpanel>
<!--        <tabpanel>
           aqui va la segunda grilla 
              <label id="" value="FECHA VENCIMIENTO" style="font-weight: bold;"/>
             <separator height="5px"/>
               
        </tabpanel>-->
<!--        <tabpanel>
            aqui va la tercera grilla 
              
        </tabpanel>-->
    </tabpanels>
</tabbox>   
          
            </div>
        </div>     
        <separator orient="horizontal" spacing="9px" />         
        <!--<div class="col-md-12 col-sm-12 col-xs-12" align="CENTER" >--> 
        <!--<div class="panel panel-default" id="prin_cont" style="padding-top:2px; ">-->
                
        <!--</div>-->  
        <!--</div>-->  
    </window>
</zk>
