<window id="wnd_AdjuntarDctos" apply="siscon.controller.UploadController" title="Adjuntar"
        border="none" position="center,center" closable="true" 
        action="show: slideDown;hide: slideUp">

    <script type="text/javascript">
        var oldAlert = jq.alert;
        jq.alert = function (msg, opts) {
        if (!msg.indexOf('The request was rejected because the file size')) {
        var oldMsg = msg;


        // get original number
        msg = msg.replace('The request was rejected because the file size (', 'La solicitud fue rechazada porque el tama&#241;o del archivo (');
        msg = msg.replace(') exceeds the configured maximum (', ') excede el tama&#241;o m&#225;ximo configurado (');

        oldAlert(msg, opts);
        }
        else
        oldAlert(msg , opts);
        }
    </script>
    <separator/>
    <div class="panel panel-default" width="400px">
        <div class="panel-heading" height="40px" style="padding:0;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row" style="line-height: 35px;overflow: hidden;">
                    <div class="col-md-6 col-sm-6 col-xs-6" >
                        <label value="Archivos a cargar" style="text-align: center;font-family: Arial,Sans-serif;font-weight: bold;color: #636363;line-height: 35px;overflow: hidden;" top="30px"/>
                    </div>  
                    <div class="col-md-6 col-sm-6 col-xs-6" >
                        <div class="row" align="center" >
                            <button id="btn_Upload" iconSclass="z-icon-cloud-upload"  style="font-size: 13px;line-height: 1.39;"/>
                            <button id="btn_subir" iconSclass="z-icon-save" label="Guardar" class="btn btn-sm btn-success" style="font-size: 13px;line-height: 1.39;"/>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
        <div class="panel-body" style="padding:0;">
            <listbox id="Lbox_Archivos"  style="border:normal">
                
                <listhead>
                    <listheader id="lh_archivo" label="Archivo" align="center" hflex="2"/>
                    <listheader id="lh_eliminar" label="Eliminar?" align="center" hflex="1"/>
                    <listheader id="lh_user" label="Propietario" align="center" hflex="1"/>
                </listhead>
            </listbox>
        </div>
    </div>
</window>