<vlayout width="520px" >
    <label value="#Leyenda#" style="font-size: 14px; font-weight: bold;"  />
    <grid>
        <rows>
            <row>
                <label value="Descripci&#243;n:" />
                
                <button label=""   sclass="btn btn-sm btn-info btn_block" visible="false"  />
                <label value="Esta Condonaci&#243;n Fue  Aprobada sin Reparos." />
            </row>

        </rows>
    </grid>
</vlayout>