<?xml version="1.0" encoding="UTF-8"?>
<?page id="mantReparos" ?>
<?link  rel="stylesheet" type="text/css" href="${request.contextPath}/bootstrap.css"?> 
<?link href="${request.contextPath}/morris.css" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/fonts.css" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/sb-admin-2.css" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/font-awesome.min.css" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/responsive.css" rel="stylesheet" type="text/css" media="screen"?>
<?link href="${request.contextPath}/index.css.dsp" rel="stylesheet" type="text/css"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <window id="win_auditoria" apply="Vistas.controlesGenerales.Busqueda.BusquedaController">
   
        <style>
            .z-row-background-color-on-select,
            .z-row-background-color-on-select > .z-row-inner,
            .z-row-background-color-on-select > .z-cell {
            background-color: #FFCC00 !important;
            }
                    
            .z-row-background-color-off-select,
            .z-row-background-color-off-select > .z-row-inner,
            .z-row-background-color-off-select > .z-cell {
            background-color: #FFCC00 !important;
            }   
        
            .StyleColumn{
            font-family: 'Open Sans';
            font-size: 13px;color: #707070;
            font-weight: bold;
            }

            /**Center + Mask Busy**/

            #zk_showBusy {
            visibility: inherit;
            }
            #zk_showBusy-m{
            
            left: 0px; top: 0px; z-index: 30999; width: 816px; height: 766px;
            }
            #zk_showBusy-t{
            
            left: 342px; top: 317px;
            
            }       
            .z-loading-indicator, .z-apply-loading-indicator {
            color: #363636;
            border: 0px solid transparent;
            background: transparent;
            white-space: nowrap;
       
            }
     
            .z-loading, .z-apply-loading {
            border: 0px solid #cfcfcf;
            padding: 0px;
            background: transparent;
            position: absolute;
            cursor: wait;
            white-space: nowrap;
            left:300px;
            top:300px
            }
       
            #zk_proc-t{
            
            left: 342px; 
            top: 317px;
           
            }       
         
            #zk_proc {
            left: 342px; 
            top: 317px;
            
            }        
            .z-apply-loading-icon,.z-loading-icon,    
            .z-renderdefer {
            border: 16px solid #6fb3e0;
            border-radius: 50%;
            border-top: 16px solid #87b87f;
            border-right: 16px solid #ffb752;
            border-bottom: 16px solid #d15b47;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            background-image:url('https://bci.modyocdn.com/uploads/330839ea-750e-449a-af59-351b499bc242/original/AmarilloPose.png');
            background-size: 90px 90px;
            background-repeat: no-repeat;
            }

            @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
            }

      
        </style>
          
        <div class="col-md-12 col-sm-12 col-xs-12" align="center"> 
            <div sclass="page-header" align="center">
                <label value="BUSQUEDAS -  NORMALIZA S.A" style="font-size: 25px" />   
            </div>     
        </div>
          
      
        <style>   
            .nav_toolbar .z-toolbarbutton-content i { font-size: 20px;}
            .nav_tabs .z-tabpanel { padding: 0; border-bottom: 0 none;}
            .nav_tabs .z-tabpanels .z-toolbarbutton-content { padding: 4px;}
            .nav_category { cursor:pointer; }
            .nav_text { color: #696569; font-size : 24px; font-weight: bold;}
        </style>
        <tabbox width="100%" sclass="nav_tabs">
            <tabs id="tabs">
                <tab label="Buscar Cliente" onClick="win_auditoria$composer.BusquedaCliente()"/>
<!--                <tab label="Ejemplo 1" />-->

            </tabs>
<!--            <toolbar sclass="nav_toolbar">
                <toolbarbutton target="_zkdemo" style="color: #3a92c8;"
                               iconSclass="z-icon-bank" href="https://www.bci.cl/" />
                <toolbarbutton target="_zkdemo" style="color: #3b5998;"
                               iconSclass="z-icon-home" href="https://www.bci.cl/normaliza/" />
                <toolbarbutton target="_zkdemo" style="color: #696569;"
                               iconSclass="z-icon-trello" href="http://smallcore/inicio.php" />
            </toolbar>-->
            <tabpanels>                
           
<!--                <tabpanel>
                    <toolbar hflex="true">
                        <toolbarbutton label="Buscar Cliente" onClick="win_auditoria$composer.BusquedaCliente()"/>
                    </toolbar>
                </tabpanel>-->
<!--                <tabpanel>
                </tabpanel>   -->
<!--                <tabpanel>
                </tabpanel>   -->
<!--                <tabpanel>
                    <toolbar hflex="true">
                    </toolbar>
                </tabpanel>    -->
            </tabpanels>
        </tabbox>
        <hlayout>
            <include id="ventana" /> 
      
        </hlayout>
            
            
       
      
    </window>
</zk>
