@font-face {
  font-family: 'double-check';
  src:  url('font/double-check.eot?5r5fk1');
  src:  url('${request.contextPath}/double-check.eot?5r5fk1#iefix') format('embedded-opentype'),
    url('${request.contextPath}/double-check.ttf?5r5fk1') format('truetype'),
    url('${request.contextPath}/double-check.woff?5r5fk1') format('woff'),
    url('${request.contextPath}/double-check.svg?5r5fk1#double-check') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'double-check' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-double-check:before {
  content: "\e900";
}
