<?xml version="1.0" encoding="UTF-8"?>

<window id="wnd_Glosa" border="none" position="center,center" closable="true" 
        action="show: slideDown;hide: slideUp" title="Glosa." 
        style="max-width:800px;" width="800px"
        apply="siscon.controller.GlosaController">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <textbox id="txt_Glosa" multiline="true" style="margin:0px;resize:none;height:100px;width:100%" maxlength="500" placeholder="Glosa." />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div style="padding-top:2px; border:normal; padding:0;overflow-y:scroll;" class="panel-body panel panel-default" width="100%">
                    <listbox id="Lbox_Glosas"  style="border:normal" emptyMessage="Sin glosa." width="100%">
                        <listhead>
                            <listheader label="N°" align="center" width="40px"/>
                            <listheader label="Glosa" align="center" hflex="2"/>
                            <listheader label="Usuario" align="center" hflex="1"/>
                            <listheader label="Eliminar" align="center" hflex="1"/>
                        </listhead>
                    </listbox>
                </div>
            </div>
        </div>
    </div>
    
    <separator/>
    <div  align="center" >
        <hlayout>
            <button id="btn_Guardar" label="Adjuntar" iconSclass="z-icon-check" sclass="btn btn btn-success btn-sm"/>
            <button id="btn_Grabar" label="Guardar" iconSclass="z-icon-mail-forward" sclass="btn btn-warning btn-sm "/>
            <button id="btn_Cancelar" label="Salir" iconSclass="z-icon-mail-forward" sclass="btn btn-warning btn-sm "/>
        </hlayout>
    </div>
</window>