<?link  rel="stylesheet" type="text/css" href="${request.contextPath}/bootstrap.css"?> 
<!-- Google Open Sans font -->   
<!-- Load fonts from local -->
<?link href="${request.contextPath}/fonts.css" rel="stylesheet" type="text/css"?>

<?link href="${request.contextPath}/responsive.css" rel="stylesheet" type="text/css" media="screen"?>
<?link href="${request.contextPath}/index.css.dsp" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/bootstrap.min.css" rel="stylesheet"?>

<!-- MetisMenu CSS -->
<?link href="${request.contextPath}/metisMenu/metisMenu.min.css" rel="stylesheet"?>

<!-- Custom CSS -->
<?link href="${request.contextPath}/sb-admin-2.css" rel="stylesheet"?>

<!-- Custom Fonts -->
<?link href="${request.contextPath}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"?>

<zk>
    <window id="idWinAnalistaRecep" apply="sisboj.controller.ConComeRecepcionController">
        <panel  sclass="panel-primary" border="normal">
            <caption iconSclass="z-icon-inbox" label="Condonaciones Pendientes">
                <!--    <button label="Regla Condonacion" iconSclass="z-icon-mail-forward" onClick="idWinAnalistaRecep$composer.ReglaCondonacion()" sclass="btn btn-sm btn-inverse" visible="true"  />-->
                <!--<button label="RTokenPj" iconSclass="z-icon-mail-forward" onClick="idWinAnalistaRecep$composer.WsPjToken()" sclass="btn btn-sm btn-inverse" visible="true"  />-->
            </caption>
            <panelchildren>
                <grid id="BanEntrAnalista"  emptyMessage="Nothing in Inbox." mold="paging" pageSize="30">
                    <columns>
                        <column label=" " width="40px"  />
                        <column label="ID" width="50px"/>
                        <column label="Operaci&#243;n1" width="150px"/>
                        <column label="Operaci&#243;n2"/>
                        <column label="Cliente"/>
                        <column label="Estado"/>
                        <column label="Producto"/>
                        <column label="Dias de mora"/>
                        <column label="Saldo CLP"/>
                        <column label="Saldo UF"/>
                        <column label="Moneda"/>
                        <column label="Tipo de operaci&#243;n"/>
                    </columns>
                    <template name="model">
                        <row value="${each}">
                            <attribute name="style" if="${each.di_fk_IdOficina!='0'}">
                                background-color: #CCFF00;
                            </attribute>
                            <detail open="false" sclass="panel-primary">
            
                                <hlayout>
                                    <!--<image sclass="myimg" width="100px" height="100px" src="https://bci.modyocdn.com/uploads/330839ea-750e-449a-af59-351b499bc242/original/AmarilloPose.png" />-->
                                    <!--<image sclass="myimg" width="100px" height="100px" src="http://www.bci.cl/medios/2012/personas/images/amarillo_phishing.jpg" />-->                                      
                                    <!--<button iconSclass="z-icon-mail-forward"></button>-->
                                    <vlayout>
                                        <label value="Detalle Operaci&#243;n" style=" color : #428bca !important; font-weight : bold ; font-size:19px;"  />
                                        <hlayout>
                                            <label value="Off:" style=" color : black !important; font-weight : bold"/>
                                            <label value="${each.di_fk_IdOficina}" sclass="heavy" />
                                        </hlayout>
                                        <hlayout>
                                            <label value="Cedente:" style=" color : black !important; font-weight : bold"/>
                                            <label value="${each.di_fk_IdCedente}" sclass="heavy" />
                                        </hlayout>
                                        <hlayout>
                                            <label value="Region" style=" color : black !important; font-weight : bold"/>
                                            <label value="${each.dv_fk_TipRegion}" sclass="heavy" />
                                        </hlayout>                                      
                                    </vlayout>
                                </hlayout>
                            </detail>
                                    <label value="${each.di_IdOperacion}"/>
                                    <label value="${each.dv_CodOperacion}"/>
                                    <label value="${each.dv_CodOperRelacionada}"/>
                                    <label value="${each.di_fk_IdCliente}"/>
                                    <label value="${each.di_fk_IdProduc}"/>
                                    <label value="${each.di_IdEstado}"/>
                                    <label value="${each.di_DiasMora}"/>
                                    <label value="${each.dm_SaldoInsoluto}"/>
                                    <label value="${each.df_SaldoInsoUF}"/>
                                    <label value="${each.dv_TipoMoneda}"/>
                                    <label value="${each.dv_fk_IdTipOpe}"/>
                        </row>
                    </template>
                </grid>
            </panelchildren>
        </panel>
    
    </window>
    <script src="${request.contextPath}/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="${request.contextPath}/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="${request.contextPath}/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="${request.contextPath}/js/sb-admin-2.js"></script>
    
</zk>
