<window id="idPoputCapitalInterez" border="none" position="center,center" closable="true" width="50%"
        style="min-width:350px;"
        apply="siscon.controller.ModificaReglaCapitalInterezPoputController">
    
    <style>
        .noActivo {
        color: red;
        }
    </style>
    
    <caption iconSclass="z-icon-plus-square-o noActivo" label="Modificar Regla de Condonaci&#243;n" sclass="small"/>
    
    <div >
        <div align="center" class="col-md-12 col-sm-12 col-xs-12" >
            <div class="row" >
                <div class=" col-md-12">
                    <div  class="row" align="center">
                        <div class="col-md-12">
                            <label value="Porcentaje Inter&#233;s Aplicado : " sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>
                            <label id="id_porcentajeCondInterez" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;" value="${arg.procentajeCondInterez}" ></label>
                            <separator sclass="double16" bar="true"/>
                            <label value="Porcentaje Capital Aplicada : " sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>
                            <label id="id_porcentajeCondInterezCap" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;" value="${arg.procentajeCondCapital}" ></label>



                        </div>
                    </div> 
                    
                    <separator sclass="double16" bar="true"/>
             <hlayout >
                <grid>
                    <columns>
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                    </columns>
                    <rows>
                        <row>

                            <label id="negoc" value="Capital: " />
                            <textbox id="valueneg" value="${arg.Total_Capital}"    disabled="true" style=" color : black !important; font-weight : bold"/>
                           <label id="idPorcentageCalculadoCapQueda" value=""></label>
                            <label value="Inter&#233;s" sclass="hightlight"/>
                           
                            <textbox id="idInterezQueda" value="${arg.Total_Interes}" disabled="true"   style="color : black !important; font-weight : bold"/>
                          <label id="idPorcentageCalculadoInterzqueda" value=""></label>
                        </row> 
					</rows>
					</grid>
					</hlayout>
                       <separator sclass="double16" bar="true"/>
                    <div class="row" >
                        <div id="pruebaprint" class="col-md-12" >
                            <div class="row">
                                <label value="Nuevo %condonaci&#243;n  Inter&#233;s:"></label>
                                <textbox id="id_nuevoporcentaje" placeholder="% Condonaci&#243;n Inter&#233;s" constraint=" /^([0-9][0-9]|30)$/ :Favor Ingresar % valido " ></textbox>
                                <label value="Rango Valido [0,100]%"></label>
                            </div>
                                      <separator sclass="double16" bar="true"/>
                            <div class="row">
                                <label value="Nuevo %condonaci&#243;n  Capital:"></label>
                                <textbox id="id_nuevoporcentajeCapital" placeholder="% Condonaci&#243;n Capital" constraint=" /^([0-9][0-9]|30)$/ :Favor Ingresar % valido " ></textbox>
                                <label value="Rango Valido [0,100]%"></label>
                            </div>
                             <separator sclass="double16" bar="true"/>
                            <div class="row">
                                <label value="Abono Capital:     "></label>
                                <textbox id="id_nuevoAbonoCapital" placeholder="Abono Capital"  ></textbox>
                                <label id="idPorcentageCalculadoCap" value=""></label>
                            <!-- <textbox id="id_nuevoAbonoCapital" placeholder="Abono Capital" constraint=" /^([0-9][0-9]|30)$/ :Favor Ingresar Monto valido " ></textbox>  -->
                            
                            </div>
                        </div>
                    </div>
            
                    <separator sclass="double16" bar="true"/>         
            
                    <div class="row" >
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row" align="center" style="line-height:40px;">
                                  <div class="col-md-6 col-sm-12 col-xs-12" height="40px">
                                    <button id="ButtonEnvioBoj" iconSclass="z-icon-send" sclass="btn btn-sm btn-success btn-block" label="Aplicar Nuevo Porcentaje"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</window>