<window id="win_AdjuntaDcto" border="none" position="center,center" closable="true"
        apply="sisboj.controller.PoputAddDOcumento">
    <caption iconSclass="z-icon-tasks" label="Agregar Documento" sclass="small"/>
    
    <div>
        <div align="center"  class="col-md-12 col-xs-12">
            <div class="row">
                <div class="form-group" align="center" >
                    <label value=" Informaci&#243;n del Cliente" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>
                    <label id="viewrutcliente1" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;" ></label>
                    <separator sclass="double16" bar="true"/>
                </div> 
            </div>
            
            <div class="input-group col-md-12 col-sm-12 col-xs-12" style="margin-top:-10px" >
                <div class="row" >                    
                    <div class="col-md-2 col-sm-2 col-xs-2"  align="left">
                        <span height="20px" style="font-weight:bold" >Rut:</span>
                    </div> 
                    <div class="col-md-2 col-sm-2 col-xs-4" style="min-width:120px;" align="left"> 
                        <textbox id="txt_RutDcto" height="10px"  class="input-control btn-block"  disabled="true" style="text-align: center; color : black !important; font-weight : bold ; filter : alpha(opacity=100); opacity: 1" /> 
                    </div>   
                    <div class="col-md-2 col-sm-2 col-xs-2" height="10px" align="left">
                        <span height="20px" style="font-weight:bold" >Nombre:</span>
                    </div> 
                    <div class="col-md-6 col-sm-6 col-xs-6" align="left"> 
                        <textbox id="txt_NombreDcto" height="10px"  class="input-control btn-block" value="${arg.txt_NombreDcto}"  disabled="true"  style="text-align: center; color : black !important; font-weight : bold ; filter : alpha(opacity=100); opacity: 1"/>   
                    </div>  
                </div>
                                
                <separator/>
                                
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-3" align="left">
                        <span height="20px" style="font-weight:bold">Operaci&#243;n:</span>
                    </div> 
                    <div class="col-md-2 col-sm-2 col-xs-4"> 
                        <textbox id="txt_OperDcto"  height="10px" class="input-control btn-block"  disabled="true"  style="text-align: center; color : black !important; font-weight : bold ; filter : alpha(opacity=100); opacity: 1"/>
                    </div>  
                    <div class="col-md-2 col-sm-2 col-xs-3"  align="left">
                        <span height="20px" style="font-weight:bold" >TioAux:</span>
                    </div> 
                    <div class="col-md-2 col-sm-2 col-xs-2" style="min-width:120px;" align="left"> 
                        <textbox id="txt_TioAux" height="10px"  class="input-control btn-block"  disabled="true" style="text-align: center; color : black !important; font-weight : bold ; filter : alpha(opacity=100); opacity: 1" /> 
                    </div> 
                    <div class="col-md-2 col-sm-2 col-xs-3"  align="left">
                        <span height="20px" style="font-weight:bold" >solicitado:</span>
                    </div> 
                    <div class="col-md-2 col-sm-2 col-xs-2" style="min-width:120px;" align="left"> 
                        <textbox id="txt_FecDetSolIng" height="10px"  class="input-control btn-block"  disabled="true" style="text-align: center; color : black !important; font-weight : bold ; filter : alpha(opacity=100); opacity: 1" /> 
                    </div>           
                </div>
                
                <separator sclass="double16"/>
                
            </div>

            <div class="row">
                <div class="form-group" align="center" >
                    <separator sclass="double16" bar="true"/>  
                    <label value=" Informaci&#243;n del Documento" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>
                    <label id="viewrutcliente2" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;" ></label>
                    <separator sclass="double16" bar="true"/>
                </div> 
            </div>
            
            
            <div class="input-group col-md-12 col-xs-12" style="margin-top:-10px" >
                <div class="row" height="30px">
                    <div id="combobox1" >   
                        <div class="col-md-5 col-xs-4" height="10px" align="left">
                            <span height="20px" style="font-weight:bold">Tipo de Documento:</span>
                        </div> 
                        <div class="col-md-7 col-xs-8">
                            <combobox id="cmb_TipDcto" class="input-group-block"/>
                        </div>
                    </div>      
                </div> 
                                
                <separator/>
                                
                <div class="row" height="30px">
                    <div class="col-md-6 col-xs-8" height="10px" align="left">
                        <span height="12px" style="font-weight:bold" >Pag. firma apoderado banco:</span>
                    </div> 
                    <div class="col-md-6 col-xs-4">
                        <checkbox id="id_chechApoderado"/> 
                    </div>
                </div>
                                
                <separator/>   
                                                       
                <div class="row" height="30px">
                    <div id="combobox_estado" >   
                        <div class="col-md-5 col-xs-4" height="10px" align="left">
                            <span height="20px" style="font-weight:bold">Estado Documento:</span>
                        </div> 
                        <div class="col-md-7 col-xs-8">
                            <combobox id="cmb_EstDcto" class="input-group-block"/>
                        </div>
                    </div>           
                </div> 
                                
                <separator/> 
                                            
                <div class="row">
                    <div class="col-md-5 col-xs-4" height="10px" align="left">
                        <span style="font-weight:bold">Glosa:</span>
                    </div>
                    <div class="col-md-7 col-xs-8"  >
                        <textbox id="txt_GlosaDcto2"  height="100px" class="input-control btn-block" multiline="true" style="resize:none;min-width:181px" value="@load(vm.txt_GlosaDcto, after='onAgregarDcto')" />
                    </div>     
                </div>
                
                <separator sclass="double16"/>
                
            </div>
            
            <separator sclass="double16" bar="true"/>

            <vlayout>
                
                <div  align="center" >

                    <hlayout>
                        <button id="ButtonGuardarDoc" iconSclass="z-icon-mail-forward" sclass="btn btn-success btn-sm " label="Guardar" />
                        <button id="closeButton" iconSclass="z-icon-mail-forward" sclass="btn btn-primary btn-sm " label="Close"/>
                    </hlayout>
                </div>

                
                <!--                <div class="input-group col-md-11" >
                    <div class="row" align="center" style="">
                        <div class="col-md-6">
                            <button id="ButtonGuardarDoc" iconSclass="z-icon-mail-forward" sclass="btn btn-success btn-sm " label="Guardar" />
                        </div>
                        <div class="col-md-6">
                            <button id="closeButton" iconSclass="z-icon-mail-forward" sclass="btn btn-primary btn-sm " label="Close"/>
                        </div>
                    </div>
                </div>-->
            </vlayout>
            <separator />
        </div>
    </div>
</window>