<!--<?link href="${request.contextPath}/edit_grid.css" rel="stylesheet" type="text/css"?>-->
<zk xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.zkoss.org/2005/zul/zul.xsd">
    <window apply="org.zkoss.bind.BindComposer" id="wnd_tipdoc" height="auto" viewModel="@id('vm') @init('sisboj.controller.TipoDocumentoController')">
        <!--<window viewModel="@id('vm') @init('sisboj.controller.TblHitosController')" xmlns:h="xhtml">-->
        <style>
            .z-row-background-color-on-select,
            .z-row-background-color-on-select > .z-row-inner,
            .z-row-background-color-on-select > .z-cell {
            background-color: #FFCC00 !important;
            }                       
            .z-row-background-color-off-select,
            .z-row-background-color-off-select > .z-row-inner,
            .z-row-background-color-off-select > .z-cell {
            background-color: #FFCC00 !important;
            }   
            .btn-circle.btn-xs {
            width: 25px;
            height: 25px;
            text-align: center;
            padding: 0 0;
            font-size: 16px;
            font-weight:bold;
            line-height: 1.428571429;
            border-radius: 15px;
            }
            .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 5px 0;
            font-size: 13px;
            line-height: 1.428571429;
            border-radius: 15px;
            }
            .btn-circle.btn-lg {
            width: 50px;
            height: 50px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.33;
            border-radius: 25px;
            }
            .btn-circle.btn-xl {
            width: 70px;
            height: 70px;
            padding: 10px 16px;
            font-size: 24px;
            line-height: 1.33;
            border-radius: 35px;
            }
            .btn-circle.btn-xxl {
            width: 140px;
            height: 140px;
            padding: 10px 16px;
            font-size: 24px;
            line-height: 1.33;
            border-radius: 70px;
            }
            .activo {
            color: green;
            }
            .inActivo {
            color: #D7DF01;
            }
            .noActivo {
            color: red;
            }
        
            .stroke {
            margin: 20px;
            padding: 20px;
            text-align:center; 
            color: #FCDB00;
            font-family: Arial Black;
            font-size: 1.2em;
            letter-spacing: 4px;
            text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
            }
        </style>
        
        <!--<style src="/widgets/grid/inline_row_editing/style.css" />-->
        <div class="panel panel-default">
            <div class="panel-heading" height="30px">
                <div id="BandejaEntradaTipoDocumento" sclass="panel-title" style="margin-top:-8px;">
                    <div class="row">
                        <div class="col-md-6">
                            <span sclass="z-icon-list-ul  "/>
                            <label value="Mantenedor Tipos de Documento"/>
                        </div>
                    </div>
                </div>
            </div>
            <!--Panel para Agregar un Nuevo Producto -->
            <panel visible="true" border="none" collapsible="true">
                <caption label="Agregar Nuevo Tipo de Documento"/>
                <panelchildren> 
                    <label value="Tipo de Documento: " />
                    <textbox id="txNvoTD" value="@load(vm.limpiaCamposNvoProd)" maxlength="30"/>
                    <label value="Codigo: " />
                    <!--<textbox id="txNvoCodTD" value="@load(vm.limpiaCamposNvoProd)" maxlength="8"/>-->
                    <spinner id="txNvoCodTD" constraint="no negative,no zero"  value="@load(vm.limpiaCamposNvoNumerico eq 0 ? null: null)" tabindex="10" />
                    <label value="Estado: " />
                    <combobox id="cmbNvoEstTD" width="150px" model="@load(vm.estAct)" value="@load(vm.limpiaCamposNvoProd)" readonly="true">
                        <template name="model">
                            <comboitem label="@load(each.nombreEst)" value="@load(each.val)" />                                        
                        </template>
                    </combobox>
                    <button id="btn_AddReg" label="Agregar Tipo de Documento" class="btn btn-sm btn-success z-button" iconSclass="z-icon-plus" onClick="@command('addNuevoProducto', txNvoTD=txNvoTD,txNvoCodTD=txNvoCodTD,cmbNvoEstTD=cmbNvoEstTD)"/>
                </panelchildren>
            </panel>
            <div class="panel-body"></div>
            <div class="panel-body" >
                <div class="row" style="margin-top:-10px">
                    <div class="col-md-12">
                        <div style="padding:0;" 
                             class="panel-body panel panel-default">
                            <grid id="gridProductos"
                                  model="@load(vm.listTipoDocumento) @template((vm.displayEdit and each.editingStatus) ? 'editable' : 'noneditable')" mold="paging" pageSize="14" emptyMessage="Nothing in Inbox.">
                                <auxhead>
                                    <auxheader colspan="2"
                                               label="Listado Tipos de Documento">
                                        <!--                                        <hlayout>
                                            <checkbox checked="@bind(vm.displayEdit)"
                                                      label="Enable Multiple Inline Row Editing">
                                            </checkbox>
                                        </hlayout>-->
                                    </auxheader>
                                    <auxheader colspan="2">
                                        <label value="Ingrese tipo de documento a buscar: " />
                                        <textbox id="glosaNom" value="@load(vm.limpiaCamposNvoProd)" maxlength="20"/>
                                        <button class="btn btn-xsm btn-info z-button" iconSclass="z-icon-search" id="btnBuscar" label="Buscar" onClick="@command('buscarConFiltros',glosaNom = glosaNom)"/>
                                    </auxheader>
                                    <auxheader colspan="1">
                                        <!--<button id="btn_AddReg" label="+" class="btn btn-success btn-circle btn-xs"/>-->
                                        <button class="btn btn-xsm btn-info z-button" iconSclass="z-icon-external-link" label="Exportar" onClick="@command('exportGridToExcel',gridList = gridExportList)"/>
                                    </auxheader>
                                </auxhead>                                
                                <columns>
                                    <column label="Id"/>
                                    <column label="Tipo de Documento"/>
                                    <column label="Codido"/>
                                    <column label="Estado"/>
                                    <column visible="@load(vm.displayEdit)" label="Editar"/>
                                </columns>
                                <template name="editable">
                                    <row>
                                        <label value="@load(each.tipoDocumentoStatus.di_IdTipDcto)"/>
                                        <textbox
                                            value="@load(each.tipoDocumentoStatus.dv_NomTipDcto) @save(each.tipoDocumentoStatus.dv_NomTipDcto, before='confirm')" maxlength="30"/>
                                        <!--<textbox value="@load(each.tipoDocumentoStatus.di_IdTipDctoPJ) @save(each.tipoDocumentoStatus.di_IdTipDctoPJ, before='confirm')" maxlength="8"/>-->
                                        <spinner constraint="no negative,no zero"  value="@load(each.tipoDocumentoStatus.di_IdTipDctoPJ) @save(each.tipoDocumentoStatus.di_IdTipDctoPJ, before='confirm')" tabindex="10" />
            
                                        <combobox width="150px" value="@load(each.tipoDocumentoStatus.bit_Activo eq '1'? 'Activo' : 'Inactivo') @save(each.tipoDocumentoStatus.bit_Activo, before='confirm')" readonly="true">                                            
                                            <comboitem label="Activo"/>  
                                            <comboitem label="Inactivo"/>
                                        </combobox>
                                        
                                        <div>
                                            <button class="btn btn-xsm btn-info z-button" iconSclass="z-icon-check"
                                                    onClick="@command('confirm', prodStatus=each, gridTmp=gridTmp)" />
                                            
                                            <button class="btn btn-xsm btn-info z-button" iconSclass="z-icon-times"
                                                    onClick="@command('changeEditableStatus', prodStatus=each)" />
                                        </div>
                                    </row>
                                </template>
                                <template name="noneditable">
                                    <row>
                                        <label value="@load(each.tipoDocumentoStatus.di_IdTipDcto)" />
                                        <label value="@load(each.tipoDocumentoStatus.dv_NomTipDcto)" />
                                        <label value="@load(each.tipoDocumentoStatus.di_IdTipDctoPJ)" />
                                        <zk if="${each.tipoDocumentoStatus.bit_Activo == '1'}">
                                            <label value="Activo"/>
                                        </zk>
                                        <zk if="${each.tipoDocumentoStatus.bit_Activo != '1'}">
                                            <label value="Inactivo"/>
                                        </zk>
                                        <button class="btn btn-xsm btn-info z-button" iconSclass="z-icon-pencil"
                                                onClick="@command('changeEditableStatus', prodStatus=each)" />
                                    </row>
                                </template>
                                <foot>
                                    <footer span="6" class="footer_right" label="@load(vm.footer)" />
                                </foot>
                            </grid>
                            <!-- Grilla para exportar-->
                            <grid visible="false" id="gridExportList" model="@load(vm.listTipoDocumento)" mold="paging" pageSize="14" emptyMessage="Nothing in Inbox.">                                                               
                                <columns>
                                    <column label="Id" sort="auto"/>
                                    <column label="Tipo de Documento" sort="auto"/>
                                    <column label="Codido" sort="auto"/>
                                    <column label="Estado" sort="auto"/>
                                </columns>
                                <rows>                                
                                    <template name="model">
                                        <row>
                                            <!--<label value="${each.getUbicacion()}"/>-->
                                            <label value="${each.tipoDocumentoStatus.di_IdTipDcto}" />
                                            <label value="${each.tipoDocumentoStatus.dv_NomTipDcto}" />
                                            <label value="${each.tipoDocumentoStatus.di_IdTipDctoPJ}" />
                                            <zk if="${each.tipoDocumentoStatus.bit_Activo == '1'}">
                                                <label value="Activo"/>
                                            </zk>
                                            <zk if="${each.tipoDocumentoStatus.bit_Activo != '1'}">
                                                <label value="Inactivo"/>
                                            </zk>
                                        </row>
                                    </template>
                                </rows>
                            </grid>
                               
                        </div>
                                
                    </div>
                    
                </div>

            </div>
        </div>
    </window>
</zk>