<?link  rel="stylesheet" type="text/css" href="${request.contextPath}/bootstrap.css"?> 
<!-- Google Open Sans font -->   
<!-- Load fonts from local -->
<?link href="${request.contextPath}/fonts.css" rel="stylesheet" type="text/css"?>

<?link href="${request.contextPath}/responsive.css" rel="stylesheet" type="text/css" media="screen"?>
<?link href="${request.contextPath}/index.css.dsp" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/bootstrap.min.css" rel="stylesheet"?>

<!-- MetisMenu CSS -->
<?link href="${request.contextPath}/metisMenu/metisMenu.min.css" rel="stylesheet"?>

<!-- Custom CSS -->
<?link href="${request.contextPath}/sb-admin-2.css" rel="stylesheet"?>

<!-- Custom Fonts -->
<?link href="${request.contextPath}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"?>

<zk>
<window id="idWinAnalistaRecep" apply="siscon.controller.ZoRecepcionController">
    <panel  sclass="panel-primary" border="normal">
        <caption iconSclass="z-icon-inbox" label="Condonaciones Pendientes"/>
        <panelchildren>
        <grid id="BanEntrAnalista"  emptyMessage="Nothing in Inbox." mold="paging" pageSize="10">
            <columns>
                    <column label="ID"/>
                    <column label="Fecha"/>
                   
                    <column label="Estado"/>
                    <column label="Glosa"/>
                    <column label="Tot. Capital"/>
                    <column label="Tot. Condonado"/>
                    <column label="Tot. Recibido"/>
                    <column label="Num Oper(s)"/>
                    <column label="Rut Ejecutivo(a)"/>
                   <column label="Aprobar"/>
                  <column label="Reparo"/>
                  <column label="Ver"/>
                  <column label="Sacabobg"/>
            </columns>
            <template name="model">
                <row value="${each}">
                    <label value="${each.getId_condonacion()}"/>
                    <label value="${each.getTimestap()}"/>
                    
                    <label value="${each.getEstado()}"/>
                    <label value="${each.getComentario_resna()}"/>
                    <label value="${each.getMonto_total_capitalS()}"/>
                    <label value="${each.getMonto_total_condonadoS()}"/>
                    <label value="${each.getMonto_total_recibitS()}"/>
                    <label value="${each.getDi_num_opers()}"/>
                    <label value="${each.getUsuariocondona()}"/>
                    <custom-attributes callback="${each.getId_condonacion()}"/>
                    <button label="Aprobar" iconSclass="z-icon-mail-forward"  sclass="btn btn-sm btn-success" visible="true" onClick="idWinAnalistaRecep$composer.AprobarCondonacion(callback)" />
                    <button label="Reparar" iconSclass="z-icon-mail-forward"  sclass="btn btn-sm btn-warning" visible="true" onClick="idWinAnalistaRecep$composer.RepararCondonacion(callback)" />
                    <button label="Mostrar" iconSclass="z-icon-mail-forward" onClick="idWinAnalistaRecep$composer.MostrarCondonacion(callback)" sclass="btn btn-sm btn-inverse" visible="true"  />
                    <button label="Sacabog" iconSclass="z-icon-mail-forward" onClick="idWinAnalistaRecep$composer.SacabogCondonacion(callback)" sclass="btn btn-sm btn-inverse" visible="true"  />               
                </row>
            </template>
        </grid>
        </panelchildren>
    </panel>
</window>
    <script src="${request.contextPath}/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="${request.contextPath}/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="${request.contextPath}/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="${request.contextPath}/js/sb-admin-2.js"></script>
    
</zk>
