<zk  >
    <style src="/css/widgets/getting_started/grid/style.css" />
    <!--<div hflex="1" vflex="1" > <charts id="chart" type="line"  />  </div>-->
 
    <panel apply="siscon.controller.SacabopController"  id="panelgrid"  sclass="panel-primary" border="normal">
     

        <caption iconSclass="z-icon-user" label="Formulario de Condonacion" sclass="small"/>

        <panelchildren>
            <vlayout>
                <div class="piechart-placeholder"/>
                
                <hlayout sclass="sign-group">
                    <div hflex="1" class="form-group" >
                        <label value=" Informacion del Clinete Rut:" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>
                        <label id="viewrutcliente" sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;" ></label>
                    </div> 
                </hlayout>
            </vlayout>
            <separator sclass="double16" bar="true"/>

            <separator sclass="double16" bar="true"/>
            <hlayout >
                <grid>
                    <columns>
                        <column />
                        <column />
                        <column />
                        <column />
                    </columns>
                    <rows>
                        <row>
                            <label id="negoc" value="Ejecutivo Negociador: " />
                            <textbox id="valueneg" value="@bind(fx.userName)"  tabindex="1"  disabled="true" />
                            <label sclass="hightlight">Nro Condonacion</label>
                            <textbox id="nro_condonacion" value="@bind(fx.userName)"  tabindex="1" disabled="true" />
                        </row>    
                        <row>
                            <label value="Nombre Cliente : " />
                            <textbox id="id_nomcliente" value="@bind(fx.userName)"  tabindex="1"  disabled="true" />
                            <label sclass="hightlight">Fecha:</label>
                            <textbox id="id_fechahoy" value="@bind(fx.userName)"  tabindex="1" disabled="true" />
                        </row>
                        <row>
                            <label value="Oficina Origen : " />
                            <textbox id="id_oficinaorigen" value="@bind(fx.userName)"  tabindex="1"  disabled="true" />
                            <label value="Ejecutivo Banco" sclass="hightlight"></label>
                            <textbox value="@bind(fx.userName)"  tabindex="1" disabled="true" />
                        </row>
                        <row>
                            <label value="Motivo Asignacion : " />
                            <textbox value="@bind(fx.userName)"  tabindex="1"  disabled="true" />
                            <label value="Monto Total Moroso $:" sclass="hightlight"></label>
                            <textbox id="id_saldototalmoroso" value="@bind(fx.userName)"  tabindex="1" disabled="true" />
                        </row>
                    </rows>
                </grid>
         
            </hlayout>



            <separator sclass="double16" bar="true"/>
            <hlayout>
                <grid id="Grid_SacabopXX" fixedLayout="true" sclass="panel-primary"  visible="true" emptyMessage="Nothing in Inbox." mold="paging" pageSize="10">
                    <auxhead>
                        <auxheader colspan="11" >
                            <label   value="Detalle Condonacion" style="color:#428bca" />
                        </auxheader>
                    </auxhead>              
                    <columns>
                        <column label="Operacion"  />
                        <column label="Meses De Castigo"  />
                        <column label="Capital"  />
                        <column label="Capital A Condonar"  />
                        <column label="Capital A Recibir"  />
                        <column label="Interes"  />
                        <column label="Interes Cond."  />
                        <column label="Interes \n A Recibir"  />
                        <column label="Honorarios Jud."  />
                        <column label="Honorarios Jud. Cond."  />
                        <column label="Honorario Jud Recibir"  />
                    </columns>
                    <rows sclass="narrow">
                        <template name="model" >
                            <row value="${each}" >
                                <label value="${each.getOperacion()}" />
                                <label value="${each.getMesesCastigo()}" />
                                <label value="${each.getCapital()}" />
                                <label value="${each.getMontoCondonarPesos()}" />
                                <label value="${each.getCapitalARecibirPesos()}" />
                                <label value="${each.getInteres()}" />
                                <label value="${each.getInteresCondonadoPesos()}" /> 
                                <label value="${each.getInteresARecibirPesos()}" />
                                <label value="${each.getHonorarioJudicialPesos()}" />
                                <label value="${each.getHonorarioJudicialCondonadoPesos()}" />
                                <label value="${each.getHonorarioJudicialRecibidoPesos()}" />
                            </row>
                        </template>

                    </rows>
                </grid>  
                <separator sclass="double16" bar="true"/>
             
            </hlayout>

            <separator sclass="double16" bar="true"/>
   
            <hlayout>
            
                <grid>
                    <columns>
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                        <column />
                    </columns>
                    <rows>
                        <row>
                            <label  value="Montos Totales: " />
                            <label  value=" " />
                            <textbox  id="id_TotalSumaCapital" value="$21554515151"  tabindex="1"  disabled="true" />
                            <textbox  id="id_TotalSumaCondonaCapital" value="$21554515151"  tabindex="1"  disabled="true" />
                            <textbox  id="id_TotalSumaRecibeCapital" value="$21554515151"  tabindex="1"  disabled="true" />
                            <textbox  id="id_TotalSumaInteres" value="$21554515151"  tabindex="1"  disabled="true" />
                            <textbox  id="id_TotalSumaCondonaInteres" value="$21554515151"  tabindex="1"  disabled="true" />
                            <textbox  id="id_TotalSumaRecibeInteres" value="$21554515151"  tabindex="1"  disabled="true" />
                            <textbox  id="id_TotalSumaHonorJud" value="$21554515151"  tabindex="1"  disabled="true" />
                            <textbox  id="id_TotalSumaHonorJudCond"   value="$21554515151"  tabindex="1"  disabled="true" />
                            <textbox  id="id_TotalSumaHonorJudRec" value="$21554515151"  tabindex="1"  disabled="true" />
                        
                        </row>    
                        <row>
                            <label  value="Monto a Recibir: " style="color:green" />
                            <label  id="idTotalRecibe" value=" " style="color:green" />
                            <label  id="a" value=""  />
                            <label  id="b" value=""  />
                            <textbox  id="id_TotoalParcialCapital" value="$21554515151"  tabindex="1"  disabled="false" style="color:green" />
                            <label  id="d" value=""  />
                            <label  id="e" value=""   />
                            <textbox  id="id_TotoalParcialInteres" value="$21554515151"  tabindex="1"  disabled="false" style="color:green"/>
                            <label  value=""  />
                            <label  value=""  />
                            <textbox  id="id_TotoalParcialhonor" value="$21554515151"  tabindex="1"  disabled="false" style="color:green" />
                        
                        </row> 
                        <row>
                            <label  value="Monto Condonado: "  style="color:red" />
                            <label  id="id_TotalCondona" value=" " style="color:red" />
                            <label  id="g" value=""  />
                            <textbox  id="id_TotoalParcialCondonaCapital" value="$21554515151"  tabindex="1"  disabled="false" style="color:red" />
                            <label  id="i" value=""  />
                            <label  id="j" value=""  />
                            <textbox  id="id_TotoalParcialCondonaInteres" value="$21554515151"  tabindex="1"  disabled="false" style="color:red" />
                            <label  id="l" value=""  />
                            <label  value=""   />
                            <textbox  id="id_TotoalParcialCondonaHono" value="$21554515151"  tabindex="1"  disabled="false" style="color:red" />
                            <label  value=""   />
                        
                        </row>
                     
                        <row>
                            <label  value="Capital : " style="color:#ffcc00"/>
                            <label  id="id_TotlaCapital" value=" " style="color:#ffcc00"/>
                            <textbox  id="id_TotoalParcialCapita" value="$21554515151"    disabled="false" style="color:#ffcc00" />
                            <label  id="n" value=""/>
                            <label  id="o" value=""/>
                            <textbox  id="id_TotoalParcialCapitaInteres" value="$21554515151"   disabled="false" style="color:#ffcc00" />
                            <label  id="q" value=""/>
                            <label  id="r" value=""/>
                            <textbox  id="id_TotoalParcialCapitaHonor" value="$21554515151"    disabled="false" style="color:#ffcc00" />
                            <label  value=""  />
                            <label  value=""> </label>
                        
                        </row>  

                    </rows>
                </grid>   
            
            </hlayout>   
   
            <separator sclass="double16" bar="true"/>
            <space bar="true" spacing="20px" />
            <hlayout >
                <grid>
                    <columns>
                        <column  />
                        <column  />
                        <column  />
                        <column  />
                    </columns>
                    <rows>
                        <row>
                            <label value="Fecha Castigo Mas Antiguo: " />
                            <textbox id="id_PrimerMesDeCondonacion" value="@bind(fx.userName)"  tabindex="1"  disabled="true" />
                            <label  value="Castigo Mas Antiguo" sclass="hightlight"/>
                            <textbox id="id_MesMasAntiguoCastigo" value="@bind(fx.userName)"  tabindex="1" disabled="true" />
                        </row>    
                        <row>
                            <label value="Monto $ Atribucion Ejecutivo : " />
                            <textbox id="id_AtribucionEjecutiva" value="@bind(fx.userName)"  tabindex="1"  disabled="true" />
                            <label value="Porcentaje de Condonacion Ejecutivo" sclass="hightlight"/>
                            <textbox id="id_porcentajeCondoEjecutiva" value="@bind(fx.userName)"  tabindex="1" disabled="true" />
                        </row>
                        <row>
                            <label value="Puede Condonar Online : " />
                            <textbox id="id_PuedeCondonarOnline" value="@bind(fx.userName)"  tabindex="1"  disabled="true"  />
                            <label value="Rango Fecha Condonacion" sclass="hightlight"></label>
                            <textbox id="id_rangoFechaCondonacion"  value="@bind(fx.userName)"  tabindex="1" disabled="true" />
                        </row>
                    </rows>
                </grid>
            </hlayout>

            <vlayout id="vlayoutmensajje" sclass="page-content" xmlns:n="native" spacing="0">
                <window id="id_windowsMessajje" closable="true" border="normal" sclass="alert alert-success">
                    <caption iconSclass="z-icon-check">
                        Ejecutivo Eric Silvestre Cumple Los Requisitos para Condonar Online
                        <separator sclass="double16" bar="true"/>
                        <label value="ZK" style="font-weight:bold;color:#69AA46" />
                        <label value="(v7.0)" style="font-weight:bold;font-size:10px;color:#69AA46"/>
    
                    </caption>
                </window>
            </vlayout>   
   
            <vlayout>
                <div class="piechart-placeholder"/>
                <separator sclass="double16" bar="true"/>
                <hlayout sclass="sign-group">
                    <div hflex="1" class="form-group" align="center" >

                        <button id="btn_enviaSacaBopg" label="Envio de Formulario Condonacion(SACABOBG)" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-danger" visible="false"  /> 
                    </div>

                </hlayout>
                <hlayout sclass="sign-group">
                    <div hflex="1" class="form-group" align="center" >

                        <button id="btn_GenrarCondonacion" label="Generar Condonacion" iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-success" visible="false" onClick="panelgrid$composer.SaveMetodoCondonacionEnLinea()" /> 
                    </div>

                </hlayout>
            </vlayout>

        </panelchildren>
    </panel>
    
    
    <!--
    <panel  id="panelgridddd"  sclass="panel-primary" border="normal">
     

        <caption iconSclass="z-icon-user" label="Informacion Considerada para Calculos de Condonacion" sclass="small"/>
 
        <panelchildren>
            <vlayout>
                <div class="piechart-placeholder"/>
                <separator sclass="double16" bar="true"/>
                <hlayout sclass="sign-group">
                    <div hflex="1" class="form-group" >
                        <label value=" " sclass="bigger pull-lefth grey" style="font-size:19px;line-height:39px;"/>

                    </div>
                </hlayout>
            </vlayout>
 <separator sclass="double16" bar="true"/>


         </panelchildren>
    </panel>
    <panel  >
         <caption iconSclass="z-icon-user" label="Detalle de Operaciones y Montos" sclass="small"/>
        <panelchildren>
           
    
      <hlayout >
            <grid id="Grid_Sacabop" sclass="panel-primary" height="400px" visible="true" emptyMessage="Nothing in Inbox." mold="paging" pageSize="10">
                <columns>
                    <column label="Operacion"  />

                </columns>
                <template name="model">
                    <row value="${each}">
                        <label value="${each.getCedente()}" />

                    </row>
                </template>
            </grid>
  </hlayout>
    
    </panelchildren>
    </panel>
    -->
</zk>
