<?link  rel="stylesheet" type="text/css" href="${request.contextPath}/bootstrap.css"?> 
<!-- Google Open Sans font -->   
<!-- Load fonts from local -->
<?link href="${request.contextPath}/fonts.css" rel="stylesheet" type="text/css"?>

<?link href="${request.contextPath}/responsive.css" rel="stylesheet" type="text/css" media="screen"?>
<?link href="${request.contextPath}/index.css.dsp" rel="stylesheet" type="text/css"?>
<?link href="${request.contextPath}/bootstrap.min.css" rel="stylesheet"?>

<!-- MetisMenu CSS -->
<?link href="${request.contextPath}/metisMenu/metisMenu.min.css" rel="stylesheet"?>

<!-- Custom CSS -->
<?link href="${request.contextPath}/sb-admin-2.css" rel="stylesheet"?>

<!-- Custom Fonts -->
<?link href="${request.contextPath}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"?>

<zk>
    <div hflex="1" vflex="1" >
    <charts id="chart" type="line"  />
    </div>
      <hlayout spacing="24px">
   <!-- <include src="content/infobox.zul" hflex="7"/>-->
    <include src="mod_con/piechart.zul" hflex="5"/>
  </hlayout>
    <panel apply="sisboj.controlesGenerales.BandEntrController" sclass="panel-primary" border="normal">
        <caption iconSclass="z-icon-inbox" label="Clientes"/>
        <panelchildren>
        <grid id="BanEntr" height="400px" emptyMessage="Nothing in Inbox." mold="paging" pageSize="10">
            <columns>
                <column label="ID" width="100px" />
                <column label="Nombre" />
                <column label="Correo" />
                <column label="Direccion" width="150px" />
                <column label="Telefono" width="100px" />
            </columns>
            <template name="model">
                <row value="${each}">
                    <label value="${each.idContacto}"/>
                    <label value="${each.name}"/>
                    <label value="${each.email}"/>
                    <label value="${each.address}"/>
                    <label value="${each.telephone}"/>
                </row>
            </template>
        </grid>
        </panelchildren>
    </panel>
    
    <script src="${request.contextPath}/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="${request.contextPath}/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="${request.contextPath}/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="${request.contextPath}/js/sb-admin-2.js"></script>
  
    

    

        
            
</zk>
