<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <window id="win_sodexo" apply="Vistas.controlesGenerales.Contabilidad.Cargas.Conta_CargaFACTURAS">
            <style>
            .z-row-background-color-on-select,
            .z-row-background-color-on-select > .z-row-inner,
            .z-row-background-color-on-select > .z-cell {
            background-color: #FFCC00 !important;
            }
                    
            .z-row-background-color-off-select,
            .z-row-background-color-off-select > .z-row-inner,
            .z-row-background-color-off-select > .z-cell {
            background-color: #FFCC00 !important;
            }   
        
            .StyleColumn{
            font-family: 'Open Sans';
            font-size: 13px;color: #707070;
            font-weight: bold;
            }

            /**Center + Mask Busy**/

            #zk_showBusy {
            visibility: inherit;
            }
            #zk_showBusy-m{
            
            left: 0px; top: 0px; z-index: 30999; width: 816px; height: 766px;
            }
            #zk_showBusy-t{
            
            left: 342px; top: 317px;
            
            }       
            .z-loading-indicator, .z-apply-loading-indicator {
            color: #363636;
            border: 0px solid transparent;
            background: transparent;
            white-space: nowrap;
            }
     
            .z-loading, .z-apply-loading {
            border: 0px solid #cfcfcf;
            padding: 0px;
            background: transparent;
            position: absolute;
            cursor: wait;
            white-space: nowrap;
            left:300px;
            top:300px
            }
       
            #zk_proc-t{
            
            left: 342px; 
            top: 317px;
           
            }       
         
            #zk_proc {
            left: 342px; 
            top: 317px;
            
            }        
            .z-apply-loading-icon,.z-loading-icon,    
            .z-renderdefer {
            border: 16px solid #6fb3e0;
            border-radius: 50%;
            border-top: 16px solid #87b87f;
            border-right: 16px solid #ffb752;
            border-bottom: 16px solid #d15b47;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            background-image:url('https://bci.modyocdn.com/uploads/330839ea-750e-449a-af59-351b499bc242/original/AmarilloPose.png');
            background-size: 90px 90px;
            background-repeat: no-repeat;
            }

            @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
            }

      
        </style>
        <separator orient="horizontal" spacing="4px" /> 
        <div class="row" >   
                    
            <div class="col-md-6 col-sm-6 col-xs-6" align="left" >
                <!--<label id="" value="Modulo para cargar la base COBANC"/>-->
                <!--<separator orient="horizontal" spacing="10px" />--> 
                <label id="" style="font-weight:bold; color: black;font-size: 20px" value="Instrucciones para cargar FACTURAS "/> 
                <separator orient="horizontal" spacing="2px" /> 
                <label id="" value="1) descargar factura en formato XML"/> 
                <separator orient="horizontal" spacing="2px" /> 
                <label id="" value="2) cambiar en el encabezado de la factura la palabra: DTE version= 1.0 xmlns=http://www.sii.cl/SiiDte  POR "/> 
                <separator orient="horizontal" spacing="2px" /> 
                <label id="" value="3) DTE version= 1.0 xmlns=http://www.sii.cl/SiiDte  POR  DTE xmlns=''http://www.sii.cl/SiiDte'' xmlns:xsi=''http://www.w3.org/2001/XMLSchema-instance'' version=''1.0'' (dentro de las llaves) "/> 
                <separator orient="horizontal" spacing="1px" /> 
                <label id="" value="4) cargar y verificar en libro de compras"/> 
            
           
            </div>
        
            <div class="col-md-6 col-sm-6 col-xs-6" align="left" >
                <label id="" value="Seleccione el archivo: " style="font-weight:bold;"/> 
                <separator orient="vertical" spacing="3px" /> 
                <button label="CARGAR FACTURA" id="btn_cargar" class="btn btn-primary" >
                </button>
                <separator orient="vertical" spacing="6px" />
           
            </div> 
        </div>
        <timer id="timer" delay="4000" repeats="true">
        </timer>
        
        <separator orient="horizontal" spacing="16px" />
        
      
        <hlayout width="100%" height="100%" style="border:1px solid black;overflow:auto;">
            <div class="row" sclass="panel-body" style="background-color: white" align="left" >   
                <div class="col-md-6 col-sm-6 col-xs-6" align="center" > 
                    <grid id="grillainformes_tareas">            
                        <columns>
                                   
                            <column label="TAREAS" height="36.53px"/>

                        </columns>
                        <rows>
                            <template name="model">
                                <row value="${each}">                                                              
                                    <cell align="left">    
                                        <label id="" value="${each.nombre_componente}"/>
                                    </cell>
                               
                                </row>
                                
                            </template>
                        </rows>  
                    </grid>  
                </div>   
                <div class="col-md-6 col-sm-6 col-xs-6" align="center" width="95px">
                    <grid id="grillaestados">            
                        <columns>
                            <column label="ESTADO" />
                        </columns>
                        <rows >
                                                   
                            <row value=""><!--  filta 1-->
                                <cell align="center">  <!--  celda 1-->
                                                               
                                    <div class="fa fa-pause text-primary fa-2x" id="CARGA_FACTURA"></div>
                                    <!--<button id="Bajar_base_judicial"  iconSclass="z-icon-arrow-circle-right" disabled="false"></button>-->
                                </cell>
                            </row>
<!--                            <row value="">  filta 1
                                <cell align="center">    celda 1
                                    <div class="fa fa-pause text-primary fa-2x" id="BASE" ></div>
                                    <button id="Restaura_BD_PCJBCI_PROD"  width="100%" height="100%" label="STATUS" disabled="false" class="btn btn-danger"></button>
                                </cell>
                            </row>-->
                         
                                                                        
                        </rows>                               
                    </grid> 
                </div>   
                  
            </div>    
        </hlayout>
        
        
    </window>
</zk>
