<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
   
<!--    <?link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"?>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script>
        $(document).ready(function(){
        $('.slider').bxSlider();
        });
    </script>
	<style>
		.the-slider {
			width: 420px;
			height: 310px;
			overflow: hidden;
		}
		.the-slider div {
			width: 1500px;
		}
		.the-slider div img {
			margin: 5px 10px;
			width: 400px;
			height: 300px;
		}
	</style>
	<script type="text/javascript"><![CDATA[
		var contentList = [],
			contentLength,
			index = 3,
			frameWidth = 420,
			animateTime = 500,
			slideShow;
		function setContent (content) {
			contentList = content.split(',');
			contentLength = contentList.length
		}
		function startSlideShow (delay) {
			var $slider = jq('$slider'),
				$container = jq('$container');
			slideShow = setInterval (function () {
				$slider.animate({'scrollLeft': '+='+frameWidth+'px'}, animateTime, null, function (){
					var firstImage = $container.find('img')[0];
					// change the src of first image after slide
					firstImage.src = contentList[index];
					// update index
					index = (index+1) % contentLength;

					// move the first image to the last
					$container[0].appendChild(firstImage);
					// reset the scrollLeft of slider
					$slider[0].scrollLeft = 0;
				});
			}, delay);
		}
		function stopSlideShow () {
			clearInterval (slideShow);
		}
	]]></script>
	<div apply="Inicio.InicioController" align="center">
		<div id="slider" class="the-slider">
			<div id="container">
				<image id="imgOne" />
				<image id="imgTwo" />
				<image id="imgThree" />
			</div>
		</div>
		delay: <intbox id="interval" /> seconds
		<button id="start" label="start" />
		<button id="stop" label="stop" />
	</div>

    <div class="row" align="center"> 
        <div class="col-md-12 col-sm-12 col-xs-12" align="center" width="50%" height="50%">
            <div class="slider" align ="center">
                <div> 
                    <a target="_zkdemo">                           
                        <image src="/png/control_procesosx720.png" width="50%" height="50%"/>  
                    </a>
                </div>
                <div> 
                    <a target="_zkdemo"  >                           
                        <image src="/png/control-remoto-2.png"  width="50%" height="50%"/>  
                    </a>
                </div>
                <div> 
                    <a target="_zkdemo"  >                           
                        <image src="/png/image.png"  width="50%" height="50%"/>  
                    </a>
                </div>
                <div> 
                    <a target="_zkdemo" >                           
                        <image src="/png/productividad.png"  width="50%" height="50%"/>  
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <window border="normal" title="hello" apply="Inicio.InicioController">
        <div id="slider" width="300px" height="80px"/>             
        <script defer="true"><![CDATA[
              $(function() {
		jq("$slider").slider();
              });
      ]]></script>
    </window>-->
    <separator height="300px"/>
    
    
</zk>
